<section class="news-letter">
  <hgroup>
    <h3>Gifts in your inbox!</h3> 
    <p>Your gift inspiration this month</p>
  </hgroup>
  <form>
    <input type="email" id="email" name="email" placeholder="Enter your email Adress">
    <button><img src="/assets/images/submit-icon.svg" alt=""></button>
  </form>
</section>

</main>

<footer>
  <img class="footer-logo" src="/assets/images/logo-large.svg" alt="" width="422" height="129">
  
  <div class="footer-grid">
    <div class="col-1">
      <h4 class="footer-heading">Cadeaus</h4>
      <ul class="cadeaus category-list">
        <li>
          <ul class="category-list">
            <li><a href="/gifts/valentijnsdag">Valentijn cadeaus</a></li>
            <li><a href="/gifts/cultuur">Culturele cadeaus</a></li>
            <li><a href="/gifts/kraamcadeau">Kraamcadeau</a></li>
            <li><a href="/gifts/beterschap">Beterschap</a></li>
            <li><a href="/gifts/huwelijk">Huwelijkscadeaus</a></li>
            <li><a href="/gifts/gepersonaliseerd">Gepersonaliseerde cadeaus</a></li>
            <li><a href="/gifts/jubileum">Jubileum cadeaus</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/gifts/iets%20blijvends">Blijvende cadeaus</a></li>
            <li><a href="/gifts/duurzaam">Duurzame cadeaus</a></li>
            <li><a href="/gifts/last%20minute">Last minute cadeaus</a></li>
            <li><a href="/gifts/handig">Handige cadeaus</a></li>
            <li><a href="/gifts/door%20de%20brievenbus">Brievenbus cadeaus</a></li>
            <li><a href="/gifts/boek">Boeken cadeaus</a></li>
            <li><a href="/gifts/belevenis">Belevenis cadeau</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/gifts/moederdag">Moederdag cadeaus</a></li>
            <li><a href="/gifts/vaderdag">Vaderdag cadeaus</a></li>
            <li><a href="/gifts/sinterklaas">Sinterklaas cadeaus</a></li>
            <li><a href="/gifts/kerst">Kerst cadeaus</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/?price=5">Cadeau van 5 euro</a></li>
            <li><a href="/?price=10">Cadeau van 10 euro</a></li>
            <li><a href="/?price=20">Cadeau van 20 euro</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-2">
      <h4 class="footer-heading">Voor wie</h4>
      <ul class="voor-wie category-list">
        <li>
          <ul class="category-list">
            <li><a href="/gifts/man">Cadeaus voor hem</a></li>
            <li><a href="/gifts/vrouw">Cadeaus voor haar</a></li>
            <li><a href="/gifts/stel">Cadeaus voor een stel</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/gifts/meisje">Cadeaus voor een meisje</a></li>
            <li><a href="/gifts/jongen">Cadeaus voor een jongen</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/gifts/alles%20al">Voor wie alles al heeft</a></li>
            <li><a href="/gifts/creatief">Voor creatieve geesten</a></li>
            <li><a href="/gifts/fijnproever">Voor fijnproevers</a></li>
            <li><a href="/gifts/afstuderen">Voor afstuderen</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list age">
            <li><a href="">Voor een kind van 1 jaar</a></li>
            <li><a href="">Voor een kind van 2 jaar</a></li>
            <li><a href="">Voor een kind van 3 jaar</a></li>
            <li><a href="">Voor een kind van 4 jaar</a></li>
            <li><a href="">Voor een kind van 5 jaar</a></li>
            <li><a href="">Voor wie 16 jaar wordt</a></li>
            <li><a href="">Voor wie 18 jaar wordt</a></li>
            <li><a href="">Voor wie 21 jaar wordt</a></li>
            <li><a href="">Voor wie 30 jaar wordt</a></li>
            <li><a href="">Voor wie 40 jaar wordt</a></li>
            <li><a href="">Voor wie 50 jaar wordt</a></li>
            <li><a href="">Voor wie 60 jaar wordt</a></li>
            <li><a href="">Voor wie 70 jaar wordt</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-3">
      <h4 class="footer-heading">Doe mee</h4>
      <ul class="category-list">
        <li><a href="/">Word cadeauspotter</a></li>
        <li><a href="/">Zelf een goed cadeau idee?</a></li>
        <li><a href="/">Jouw lievelings cadeauwinkel?</a></li>
        <li><a href="/">Maak je cadeaulijstje</a></li>
      </ul>

      <h4 class="footer-heading">Ontmoet Milledoni</h4>
      <ul class="ontmoet-milledoni category-list">
        <li>
          <ul class="category-list">
            <li><a href="/">Over ons</a></li>
            <li><a href="/">In de media</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/">Gespot cadeau doorgeven?</a></li>
            <li><a href="/">Je producten op Milledoni?</a></li>
            <li><a href="/">Adverteren?</a></li>
          </ul>
        </li>
        <li>
          <ul class="category-list">
            <li><a href="/">Privacy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <img class="footer-ribbon" src="/assets/images/footer-ribbon.svg" alt="">
</footer>

</body>
</html>
