<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni - Find the Perfect Gift</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/scripts/script.js" defer></script>
  </head>

  <body>
    <header class="page-header">
      <a class="logo" href="/">
        <img src="/assets/images/logo-small.svg" alt="Milledoni homepage" width="47" height="59">
      </a>
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-list-item-link" href="/wishlist"><img class="wishlist" src="/assets/images/wishlist-icon.svg" alt="Wishlist page" width="28" height="25">
            <span class="wishlist-counter">{{ wishlistCount }}</span>
          </a>
        </li>
        <li class="header-list-item"><a class="header-list-item-link" href="/account"><img class="account" src="/assets/images/account-icon.svg" alt="Account page" width="31" height="30"></a></li>
      </ul>
    </header>
    <main>