<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumi Mundo</title>
    <link rel="stylesheet" href="/styles/sprint-11.css">
    <link rel="stylesheet" href="/styles/statistics.css">
  </head>
     <body>