<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Milledoni - Find the Perfect Gift</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/scripts/script.js" defer></script>
  </head>

  <body>
    <header class="page-header">
      <nav class="page-nav">
      <a class="milledoni-logo" href="/">
        <picture>
          <source media="(min-width: 600px)" srcset="/assets/images/logo-large.svg" width="376" height="98">
          <source media="(min-width: 500px)" srcset="/assets/images/logo-medium.svg" width="292" height="52">
          <img src="/assets/images/logo-small.svg" alt="Milledoni homepage" width="47" height="51">
        </picture>
      </a>
      <ul class="header-list">
        <li class="header-list-item">
          <a class="wishlist" href="/wishlist">
            <img class="wishlist-image" src="/assets/images/wishlist-icon.svg" alt="Wishlist page" width="28" height="25">
            <span class="wishlist-span">Wishlist</span>
          </a>
        </li>
        <li class="header-list-item">
          <a class="account" href="/account">
            <img class="account-image" src="/assets/images/account-icon.svg" alt="Account page" width="31" height="30">
            <span class="account-span">Account</span>
          </a>
        </li>
      </ul>
      </nav>
    </header>
    <main>