<section class="article-layout layout {{ style }}">
  <article class="container">
    <h2>{{ title }}</h2>
    <p>
      {{ content }}
    </p>
    {% if button == true %}
      {%
        render 'partials/link.liquid',
        link: btnLink,
        text: btnText,
        target: '_blank'
        style: btnStyle | default: 'primary-button',
      %}
    {% endif %}

    <picture>
      <img
        src="{{imgURL}}"
        alt=""
      >
    </picture>

    {% comment %}
      {% render 'image.liquid',
        imgSRC: imgURL,
        width: imgWidth,
        height: imgHeight,
        alt: imgAlt,
        fetch: imgFetch,
        loading: imgLoading
      %}
    {% endcomment %}
  </article>
</section>


{% comment %} 
This is how you use the article partial. 
    {%
      render './partials/article.liquid',
      style: 'custom-class als nodig'
      title: 'lorem ipsum',
      content: contentVar,
      imgURL: imgURL,
      imgWidth: 300,
      imgHeight: 300,
      imgAlt: 'alt tekst voor img',
      imgFetch: 'auto',
      imgLoading: 'lazy',
      button: false,
      btnLink: 'https://fdnd.nl'
      btnTekst: 'klik op mij',
      btnTarger: 'blank',
      btnStyle: 'primary-button'      
    %}
{% endcomment %}