{% comment %}
  Back to top button partial

  Usage:
  {% render 'partials/back-to-top.liquid' %}

  The button is hidden by default and appears after scrolling 300px down.
  Without JavaScript the button is always visible as a regular link.
{% endcomment %}

<a href="#" class="back-to-top" id="backToTop">↑ </a>