<div class="home-slide-nieuws">

    {% for news in news %}

        {% assign colors_list = "orange,purple,green" | split: "," %}
        {% assign color = colors_list[forloop.index0 | modulo: 3] %}

        <a href="/nieuws/{{ news.slug }}">
            <article class="nieuws-berichten {% if colors %}nieuws-berichten--{{ color }}{% endif %}">
                <div class="details">
                    <p class="bloemenveld">Bloemenveld</p>
                    <p class="tijd">4u geleden</p>
                </div>

                    {% render 'partials/general-heading.liquid',
                        heading_level: 3,
                        content: news.title,
                        my_class: "heading-news"
                    %} 

                    {% render 'partials/picture.liquid',
                        imagesrc: news.image,
                        width: "550",
                        height: "280",
                        alt: news.title,
                        class: "landscape",
                        fetch: "auto",
                        loading: "eager",
                    %}
            </article>
        </a>

    {% endfor %} 

</div>