<section>
    <h1 class="text-chatbox">I'm looking for a gift for...</h1>

    <div class="div-searchbar">
        <input class="input-searchbar" type="search" id="chat" name="chat" placeholder="describe me the person">
        <button class="button-searchbar">
            <img class="search" src="/assets/zoekicoon.svg" alt="search">
        </button>
    </div>
</section>

