

<section>
    <label for="">I'm looking for a gift for...</label>

    <div>
        <input type="chat" id="chat" name="chat" placeholder="describe me the person">
        <button class="search-button">
            <img class="search" src="docs/zoekicoon.svg" alt="search">
        </button>
    </div>
</section>