{% render 'partials/head.liquid', title: 'Homepage' slogan: 'Finding and sharing gift ideas' %}

<section>
    <h1>I'm looking for a gift for...</h1>

    <div>
        <input type="search" id="chat" name="chat" placeholder="describe me the person">
        <button class="search-button">
            <img class="search" src="docs/zoekicoon.svg" alt="search">
        </button>
    </div>
</section>