<section class="events-container">
        <h4 hidden>Events overzicht</h4>

        <article class="event-item">
            <p class="label">dda</p>
            <h4 class="event-title">Ledenbijeenkomst</h4>

            <div class="event-data-content">
                <div class="event-date-location-data-container">
                    <time class="event-date" datetime="2025-11-09">01 jan 2024</time>
                    <span class="location">/ Amsterdam</span>
                </div>

            {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS' class: "event-details-button" %}
            </div>
        </article>

       <article class="event-item">
            <p class="label">dda</p>
            <h4 class="event-title">Ledenbijeenkomst</h4>

            <div class="event-data-content">
                <div class="event-date-location-data-container">
                    <time class="event-date" datetime="2025-11-09">01 jan 2024</time>
                    <span class="location">/ Amsterdam</span>
                </div>

            {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS' class: "event-details-button" %}
            </div>
        </article>

        <article class="event-item">
            <p class="label">dda</p>
            <h4 class="event-title">Ledenbijeenkomst</h4>

            <div class="event-data-content">
                <div class="event-date-location-data-container">
                    <time class="event-date" datetime="2025-11-09">01 jan 2024</time>
                    <span class="location">/ Amsterdam</span>
                </div>

            {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS' class: "event-details-button" %}
            </div>
        </article>

        <article class="event-item">
            <p class="label">dda</p>
            <h4 class="event-title">Ledenbijeenkomst</h4>

            <div class="event-data-content">
                <div class="event-date-location-data-container">
                    <time class="event-date" datetime="2025-11-09">01 jan 2024</time>
                    <span class="location">/ Amsterdam</span>
                </div>

            {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS' class: "event-details-button" %}
            </div>
        </article>

        <article class="event-item">
            <p class="label">dda</p>
            <h4 class="event-title">Ledenbijeenkomst</h4>

            <div class="event-data-content">
                <div class="event-date-location-data-container">
                    <time class="event-date" datetime="2025-11-09">01 jan 2024</time>
                    <span class="location">/ Amsterdam</span>
                </div>

            {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS' class: "event-details-button" %}
            </div>
        </article>
    </section>
