<form method="" action="">
    <div class="select-form-container">

      <div class="select-container">
        <label class="hidden">Thema</label>
        <select class="select-button-1" name="" id="">
          <option value="">THEMA'S</option>
          <option value="muziek">MUZIEK</option>
          <option value="webinair">WEBINAIR</option>
          <option value="creatief">CREATIEF</option>
          <option value="carriere">CARRIÈRE</option>
          <option value="sport">SPORT</option>
        </select>
      </div>

      <div class="select-container">
        <label class="hidden">Locaties</label>
        <select class="select-button-2" name="" id="">
          <option value="">LOCATIES</option>
          <option value="Ermelo">ERMELO</option>
          <option value="Arnhem">ARNHEM</option>
          <option value="Online">ONLINE</option>
          <option value="Utrecht">UTRECHT</option>
          <option value="Eindhoven">EINDHOVEN</option>
        </select>
      </div>
    </div>
  </form>
