<form method="" action="">
    <div class="select-form-container">

      <div class="select-container">
        <select class="select-button-1" aria-label="select label" name="theme" id="filter-theme">
          <option value="">THEMA'S</option>
          <option value="muziek">MUZIEK</option>
          <option value="webinair">WEBINAIR</option>
          <option value="creatief">CREATIEF</option>
          <option value="carriere">CARRIÈRE</option>
          <option value="sport">SPORT</option>
        </select>
      </div>

      <div class="select-container">
        <select class="select-button-2" aria-label="select label" name="location" id="filter-location">
          <option value="">LOCATIES</option>
          <option value="Ermelo">ERMELO</option>
          <option value="Arnhem">ARNHEM</option>
          <option value="Online">ONLINE</option>
          <option value="Utrecht">UTRECHT</option>
          <option value="Eindhoven">EINDHOVEN</option>
        </select>
      </div>
    </div>
  </form>
