<footer>
    <div class="footer-about">
        <h4>About</h4>
        <p>.</p>
    </div>
    <div class="footer-categories">
        <h4>Categories</h4>
        <ul>
          
        </ul>
    </div>
    <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Contribute</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2024 All Rights Reserved by De hallen.</p>
    </div>
</footer>
