        <footer>
            <img src="" alt="">

            <h2>Locaties</h2>
            <a href="">Algemeen</a>
            <a href="">Nieuw-West</a>
            <a href="">Oost</a>
            <a href="">Zuidoost</a>

            <h2>Edities</h2>
            <a href="">2023</a>
            <a href="">2024</a>
            <a href="">Ongedateerd</a>

            <h2>Nieuwsbrief</h2>
            <form>
                <label for="email">Jouw e-mailadres <span>*</span></label>
                <input type="email" id="email" name="email" placeholder="E-mailadres" required>
                <button type="submit">Aanmelden</button>
            </form>
        </footer>
    </body>
</html>