        <footer>
            <picture>
                <source type="image/avif" srcset="/Buurtcampus-logo.webp?format=avif">
                <img class="bc-hva-logo" loading="eager" fetchpriority="high" src="/Buurtcampus-logo.webp">
            </picture>

            <section class="footer-locations">
                <h2>Locaties</h2>
                <a href="">Algemeen</a>
                <a href="">Nieuw-West</a>
                <a href="">Oost</a>
                <a href="">Zuidoost</a>
            </section>

            <section class="footer-editions">
                <h2>Edities</h2>
                <a href="">2023</a>
                <a href="">2024</a>
                <a href="">Ongedateerd</a>
            </section>

            <section class="footer-newsletter">
                <h2>Nieuwsbrief</h2>
                <form>
                    <label for="email">Jouw e-mailadres <span>*</span></label>
                    <div class="footer-input-and-button-div">
                        <input type="email" id="email" name="email" placeholder="E-mailadres" required>
                        <button type="submit">Aanmelden</button>
                    </div>
                </form>
            </section>
        </footer>
    </body>
</html>