<footer>
  <div class="navContainer">
    <section>
      <h2>Overlegplatform Ad's</h2>
      <p>
        Het Overlegplatform Associate degrees brengt Ad-opleidingen samen om kennis te delen en profielen af te stemmen.
        Zo blijven opleidingen relevant voor het werkveld en goed voorbereid op doorstroom naar vervolgstudies.
      </p>
      <img src="https://adconnect.dev.fdnd.nl/_app/immutable/assets/logo-white.BRllZ9aS.svg" alt="AdConnect logo">
    </section>

    <section>
      <h2>Menu</h2>
      <ul>
        <li><a href="/over-ad">Over Ad's?</a></li>
        <li><a href="/publicaties">Publicaties</a></li>
        <li><a href="/nieuws">Nieuws</a></li>
        <li><a href="/talent-award">Talent Award</a></li>
        <li><a href="/ad-dag">Ad-dag</a></li>
        <li><a href="/over-ons">Over ons</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </section>

    <section>
      <h2>Thema's</h2>
      <ul>
        <li><a href="/over-ad/handreiking-impactmakerschap">Handreiking impactmakerschap</a></li>
        <li><a href="/over-ad/impactmakerschap">Impactmakerschap</a></li>
        <li><a href="/over-ad/niveau-5">Niveau 5</a></li>
        <li><a href="/over-ad/doorstroom-ad-bachelor">Doorstroom Ad bachelor</a></li>
        <li><a href="/over-ad/leren-in-beroepspraktijk">Leren in beroepspraktijk</a></li>
        <li><a href="/over-ad/internationalisering">Internationalisering</a></li>
      </ul>
    </section>

    <section>
      <h2>Contact</h2>
      <ul>
        <li><a href="mailto:platformassociatedegrees@outlook.com">E-mail platform Ad's</a></li>
      </ul>
    </section>
  </div>
  <hr>
</footer>
</body>
</html>
