<button
  class="{{style | default: 'primary-button'}}"
  type="{{type | default: 'submit'}}"
  id="{{id}}"
>
  <p class="button-text">{{ text | default: 'Verzend' }}</p>
  <div class="loading-dots"><span></span><span></span><span></span><span></span></div>
</button>

{% comment %}
  This is how you use the button partial
        {%
          render 'partials/form-button.liquid',
          text: btnText,
          style: btnStyle,
          id: 'form-button',
        %}
{% endcomment %}
