<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleguide.css">
    <title>{{ title }}</title>
  </head>
  <body>  

<header>
  <ul>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'FAQ', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Over ons', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Contact', style: 'nav-link' %}</li>
  </ul>
</header>

<nav class="desktop-nav">
  <a href="/"><img src="/assets/logo-light.svg" alt="Logo"></a>

  <div class="link-and-button-desktop">

  <ul class="link-nav">
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Home', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Over Ads', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Publicaties', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Talent Award', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'LAdO', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Nieuws', style: 'nav-link' %}</li>
  </ul>

  <div class="nav-button"><a href="/">Kom naar Ad-dag</a></div>
  </div>
  
  <button class="popover-button" popovertarget="menu">
    <img src="/assets/open-menu.svg">
  </button>

  </nav>
  
<nav popover id="menu">
  <button class="popover-button" popovertarget="menu" popovertargetaction="hide">
    <img class="popover-close" src="/assets/close-menu.svg">
  </button>

    <div class="link-and-button">

  <ul class="link-nav-mobile">
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Home', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Over Ads', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Publicaties', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Talent Award', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'LAdO', style: 'nav-link' %}</li>
    <li>{% render './partials/link-button.liquid', link: '#', text: 'Nieuws', style: 'nav-link' %}</li>
  </ul>
  <div class="nav-button"><a href="/">Kom naar Ad-dag</a></div>
  </div>

</nav>