<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buurtcampuskrant</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div class="logo">

        </div>

        <div class="search-outer">
            <form method="GET" action="/">
                <input type="text" name="search" placeholder="Zoeken..." aria-label="Zoek">
                <button type="submit"><img src="/assets/"></button>
            </form>
        </div>

        <details>
            <summary class="menu-toggle-outer">
                <div class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </summary>

            <nav class="mobile-nav">
                <a href="/algemeen">Algemeen</a>
                <a href="/nieuw-west">Nieuw-west</a>
                <a href="/zuidoost">Zuidoost</a>
                <a href="/oost">Oost</a>
            </nav>
        </details>

    </header>
