<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Visual Thinking</title>
    <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
    <!-- rigid square font -->
    <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
    <!-- yrsa font -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
 
    <header>
      <div class="header-links">
        <a href="/" class="link-home">
        <img src="/assets/logo.svg" alt="klik hier om terug naar de homepagina te gaan" class="vt-logo">
        </a>
      </div>
      <div class="header-rechts">
        <a href="" class="link-over">Over</a>
        <a href="" class="link-blog">Blog</a>
        <a href="" class="link-account">
        <img src="/assets/account.svg" alt="klik hier om je profiel te bekijken" class="svg-account">
        </a>
     </div>
    </header>