<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <title>CrossmarX</title>
</head>
<body>
    <header>
        <h1>CrossmarX Hand- Footprint Calculator</h1>
    </header>
    <nav class="crossnav">

        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/vragenlijst">Vragenlijst</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>