<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="nav.css">
    <title>Hallen</title>
</head>

<body>

    <nav>
        <div class= navtitel >Amsterdam West Community</div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/over ons">over ons</a></li>
            <li><a href="/Overzicht">Overzicht</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/Faq">Faq</a></li>
            <li><a href="/Eigen initiatief">Plaats een initiatief</a></li>
        </ul>
    </nav>

    <hr> 
    
</body>

</html>
