<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qatar museum</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles/detail.css">
    <link href="https://db.onlinewebfonts.com/c/93a467f70a3e7b27a9b52a686f351dbe?family=DIN+Next+LT+Pro+Regular" rel="stylesheet">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/drop.css">
    <link rel="stylesheet" href="/styles/tickets.css">
    <link rel="stylesheet" href="/stylesheet.css">

</head>