<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/basic.css">
    


    <title>CrossmarX</title>
    
    <script src="/script.js" defer></script>
</head>
<body>
<header>
        <h1>CrossmarX Hand- Footprint Calculator</h1>
    </header>
    <button class="menu-button">Menu
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <nav class="crossnav">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/vragenlijst">Vragenlijst</a></li>
            <li><a href="/sdg">Calculator</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
