<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/list-table.css">
    <link rel="stylesheet" href="/styles/section-title.css">
    <link rel="stylesheet" href="/styles/button.css">
    {% assign pageTitle = "Dutch Digital Agencies" %}
    <title>
        {{ pageTitle }}
    </title>
  </head>
<body> 

