<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/styles/home-page.css" type="text/css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title><%- title %></title>
  <script src="/script/red.js" defer></script>

