<details>
    <summary>Onze visie</summary>
    <p>stukje over de visie van de hand- voetprint calculator.</p>
  </details>
  <details>
      <summary>Stappenplan</summary>
      <p>Welke stappen moet je door gaan voor deze calculator.</p>
  </details>
  <details>
      <summary>Wat zijn SDG's</summary>
      <h3>Wat zijn SDG's</h3>
      <p>stukje over wat SDG's zijn en waarom dit bij deze calculator hoort.</p>
      <h3>Welke SDG's zijn er</h3>
      <p>Alle sdg's op een rijtje</p>
      <%- include('./sdgs-login') %>
  </details>
  <details>
      <summary>Wat zijn stakeholders</summary>
      <h3>Wat is een stakeholder</h3>
      <p>stukje over wat SDG's zijn en waarom dit bij deze calculator hoort.</p>
  
      <h3>Waarom zijn stakeholders belangrijk</h3>
  </details>