<div class="info-card">
  <h3>{{ title }}</h3>
  <img src="../assets/images/small-logo.svg" alt="">
  <p>{{ content }}</p>
  {% render './partials/link-button.liquid', link: btnLink, text: btnText, target: '_blank', style: 'primary-button' %}
</div>
