<a class="{{style | default: 'primary-button'}}" href="{{link |  default: '#'}}" target="{{target |  default: '_self'}}">
    <p>{{text |  default: 'Click me'}}</p>
</a>

{% comment %} 
This is how you use the link partial
      {%
        render 'partials/link.liquid',
        link: btnLink,
        text: btnText,
        style: btnStyle,
      %}
{% endcomment %}