<header>
  <nav>
    <ul class="nav">
      <div class="nav-left">
        <li class="li-menu">
          <button>
            <%- include('./icons/menu-icon') %>
            <span>Menu</span>
          </button>
        </li>
        <li class="li-logo">
          <a href="/"><%- include('./icons/logo') %></a>
        </li>
        <li class="left-item"><a href="/">Kopen</a></li>
        <li class="left-item"><a href="/about">Huren</a></li>
        <li class="left-item"><a href="/contact">Verkopen</a></li>
      </div>
      <div class="nav-right">
        <li>
          <a href="/users">
            <%- include('./icons/house-icon') %>
            <span>Mijn Huis</span>
          </a>
        </li>
        <li>
          <button>
            <%- include('./icons/profile-icon') %>
            <span>Account</span>
          </button>
        </li>
      </div>
    </ul>
  </nav>
</header>
