<header>
    <nav>
        <ul class="nav">
            <div class="nav-left">
                <!-- Nav menu button on mobile -->
                <li class="li-menu">
                    <input type="checkbox" id="mobile-menu-check"/>
                    <label for="mobile-menu-check" class="menu-button">
                        <%- include('./icons/menu-icon') %>
                        <span>Menu</span>
                    </label>
                </li>
                <!-- Nav menu on mobile -->
                <ul class="mobile-nav">
                    <li><a href="#" role="button">Kopen</a></li>
                    <li><a href="#" role="button">Huren</a></li>
                    <li><a href="#" role="button">Verkopen</a></li>
                </ul>

                <li class="li-logo">
                    <a href="/"><%- include('./icons/logo') %></a>
                </li>
                <li class="left-item"><a href="/">Kopen</a></li>
                <li class="left-item"><a href="/about">Huren</a></li>
                <li class="left-item"><a href="/contact">Verkopen</a></li>
            </div>
            <div class="nav-right">
                <li>
                    <a href="/users">
                        <%- include('./icons/house-icon') %>
                        <span>Mijn Huis</span>
                    </a>
                </li>
                <li>
                    <button>
                        <%- include('./icons/profile-icon') %>
                        <span>Account</span>
                    </button>
                </li>
            </div>
        </ul>
    </nav>
</header>
