<section class="news-ad">
    <h4>{{ message }}</h4>
    <form action="/">

    {% render 'partials/input-type.liquid', message: "Emailadres" %}
    {% render 'partials/button.liquid', submit: "AANMELDEN" %}

    </form>
</section>