<section class="news-ad">
    <h4>{{ message }}</h2>
    <form action="/">

    <div class="input-container">
        <input placeholder="" id="email" type="text">
       <label for="email">Emailadres</label> 
    </div>

    </form>
</section>