<section class="pick-background-section">
    <h2>Pick a background</h2>
        <p>Pick a background during the story</p>

        <div>
            <button>
                <svg width="136" height="122" viewBox="0 0 136 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_130_1300)">
                    <g clip-path="url(#clip0_130_1300)">
                    <g filter="url(#filter1_d_130_1300)">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="url(#paint0_linear_130_1300)"/>
                    </g>
                    <g filter="url(#filter2_d_130_1300)">
                    <path d="M9.66389 69.8228C9.66389 80.5791 -19.1944 89.2987 43.9331 89.2987C70.9878 89.2987 78.2024 80.5791 78.2024 69.8228C78.2024 59.0665 62.8595 50.3469 43.9331 50.3469C25.0068 50.3469 9.66389 59.0665 9.66389 69.8228Z" fill="#645EB0"/>
                    <path d="M-47 72.605C-47 81.8247 -41.948 89.2987 -15.0039 89.2987C10.2563 89.2987 16.9923 81.8247 16.9923 72.605C16.9923 63.3854 2.66713 55.9114 -15.0039 55.9114C-32.6749 55.9114 -47 63.3854 -47 72.605Z" fill="#645EB0"/>
                    <path d="M-24.7417 64.2582C-24.7417 76.5511 -19.2504 86.5164 10.0367 86.5164C37.4934 86.5164 44.8152 76.5511 44.8152 64.2582C44.8152 51.9653 29.2443 42 10.0367 42C-9.17088 42 -24.7417 51.9653 -24.7417 64.2582Z" fill="#645EB0"/>
                    </g>
                    <g filter="url(#filter3_d_130_1300)">
                    <path d="M90.3105 72.5758C90.3105 83.332 64.5457 92.0517 120.906 92.0517C145.061 92.0517 151.502 83.332 151.502 72.5758C151.502 61.8195 137.804 53.0999 120.906 53.0999C104.009 53.0999 90.3105 61.8195 90.3105 72.5758Z" fill="#645EB0"/>
                    <path d="M39.7207 75.3581C39.7207 84.5777 44.2312 92.0517 68.287 92.0517C90.8394 92.0517 96.8534 84.5777 96.8534 75.3581C96.8534 66.1384 84.0638 58.6644 68.287 58.6644C52.5103 58.6644 39.7207 66.1384 39.7207 75.3581Z" fill="#645EB0"/>
                    <path d="M59.5928 67.0113C59.5928 79.3041 64.4955 89.2695 90.6432 89.2695C115.157 89.2695 121.694 79.3041 121.694 67.0113C121.694 54.7184 107.792 44.7531 90.6432 44.7531C73.4946 44.7531 59.5928 54.7184 59.5928 67.0113Z" fill="#645EB0"/>
                    </g>
                    <g filter="url(#filter4_d_130_1300)">
                    <path d="M25.0186 104.651C25.0186 116.994 50.5607 127 -5.3126 127C-29.2583 127 -35.6438 116.994 -35.6438 104.651C-35.6438 92.3075 -22.0641 82.3014 -5.3126 82.3014C11.4389 82.3014 25.0186 92.3075 25.0186 104.651Z" fill="#645EB0"/>
                    <path d="M66.5245 104.651C66.5245 116.994 61.7353 127 36.1933 127C12.2476 127 5.86206 116.994 5.86206 104.651C5.86206 92.3075 19.4418 82.3014 36.1933 82.3014C52.9447 82.3014 66.5245 92.3075 66.5245 104.651Z" fill="#645EB0"/>
                    <path d="M44.1752 91.8796C44.1752 104.223 39.3861 114.229 13.844 114.229C-10.1017 114.229 -16.4872 104.223 -16.4872 91.8796C-16.4872 79.5365 -2.90744 69.5303 13.844 69.5303C30.5955 69.5303 44.1752 79.5365 44.1752 91.8796Z" fill="#645EB0"/>
                    </g>
                    <g filter="url(#filter5_d_130_1300)">
                    <path d="M111.739 102.586C111.739 114.929 137.281 124.935 81.4081 124.935C57.4624 124.935 51.0769 114.929 51.0769 102.586C51.0769 90.2428 64.6566 80.2366 81.4081 80.2366C98.1596 80.2366 111.739 90.2428 111.739 102.586Z" fill="#645EB0"/>
                    <path d="M153.245 102.586C153.245 114.929 148.456 124.935 122.914 124.935C98.9682 124.935 92.5826 114.929 92.5826 102.586C92.5826 90.2428 106.162 80.2366 122.914 80.2366C139.665 80.2366 153.245 90.2428 153.245 102.586Z" fill="#645EB0"/>
                    <path d="M130.896 89.8149C130.896 102.158 126.107 112.164 100.565 112.164C76.6189 112.164 70.2334 102.158 70.2334 89.8149C70.2334 77.4717 83.8131 67.4656 100.565 67.4656C117.316 67.4656 130.896 77.4717 130.896 89.8149Z" fill="#645EB0"/>
                    </g>
                    <circle cx="97.3794" cy="19.3794" r="9.59147" transform="rotate(-35.5257 97.3794 19.3794)" fill="#1D224D"/>
                    <path d="M91.8063 11.5731C92.306 11.2164 92.829 10.9162 93.3667 10.6679C90.2458 13.9316 89.7803 19.0528 92.5007 22.863C95.2214 26.6735 100.216 27.8941 104.317 26.0012C103.907 26.4296 103.453 26.8278 102.953 27.185C98.6417 30.263 92.6516 29.2639 89.5735 24.9529C86.4954 20.6418 87.4952 14.6512 91.8063 11.5731Z" fill="#FFFCFF"/>
                    </g>
                    </g>
                    <defs>
                    <filter id="filter0_d_130_1300" x="0" y="0" width="136" height="122" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <filter id="filter1_d_130_1300" x="-1" y="-1" width="138" height="124" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_130_1300"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <filter id="filter2_d_130_1300" x="-59.3887" y="30.9879" width="149.98" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <filter id="filter3_d_130_1300" x="27.332" y="33.7409" width="136.559" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <filter id="filter4_d_130_1300" x="-48.0325" y="58.5182" width="126.946" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <filter id="filter5_d_130_1300" x="38.6882" y="56.4534" width="126.945" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1300"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1300" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_130_1300" x1="68" y1="-10.2915" x2="68" y2="70.0083" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#040404"/>
                    <stop offset="1" stop-color="#471871"/>
                    </linearGradient>
                    <clipPath id="clip0_130_1300">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </button>

            <button>
                <svg width="136" height="122" viewBox="0 0 136 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_130_1327)">
                    <g clip-path="url(#clip0_130_1327)">
                    <g filter="url(#filter1_d_130_1327)">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="url(#paint0_linear_130_1327)"/>
                    </g>
                    <g filter="url(#filter2_d_130_1327)">
                    <path d="M9.66389 69.8228C9.66389 80.5791 -19.1944 89.2987 43.9331 89.2987C70.9878 89.2987 78.2024 80.5791 78.2024 69.8228C78.2024 59.0665 62.8595 50.3469 43.9331 50.3469C25.0068 50.3469 9.66389 59.0665 9.66389 69.8228Z" fill="#F2F2F2"/>
                    <path d="M-47 72.605C-47 81.8247 -41.948 89.2987 -15.0039 89.2987C10.2563 89.2987 16.9923 81.8247 16.9923 72.605C16.9923 63.3854 2.66713 55.9114 -15.0039 55.9114C-32.6749 55.9114 -47 63.3854 -47 72.605Z" fill="#F2F2F2"/>
                    <path d="M-24.7417 64.2582C-24.7417 76.5511 -19.2504 86.5164 10.0367 86.5164C37.4934 86.5164 44.8152 76.5511 44.8152 64.2582C44.8152 51.9653 29.2443 42 10.0367 42C-9.17088 42 -24.7417 51.9653 -24.7417 64.2582Z" fill="#F2F2F2"/>
                    </g>
                    <g filter="url(#filter3_d_130_1327)">
                    <path d="M90.3105 72.5758C90.3105 83.332 64.5457 92.0517 120.906 92.0517C145.061 92.0517 151.502 83.332 151.502 72.5758C151.502 61.8195 137.804 53.0999 120.906 53.0999C104.009 53.0999 90.3105 61.8195 90.3105 72.5758Z" fill="#F2F2F2"/>
                    <path d="M39.7207 75.3581C39.7207 84.5777 44.2312 92.0517 68.287 92.0517C90.8394 92.0517 96.8534 84.5777 96.8534 75.3581C96.8534 66.1384 84.0638 58.6644 68.287 58.6644C52.5103 58.6644 39.7207 66.1384 39.7207 75.3581Z" fill="#F2F2F2"/>
                    <path d="M59.5928 67.0113C59.5928 79.3041 64.4955 89.2695 90.6432 89.2695C115.157 89.2695 121.694 79.3041 121.694 67.0113C121.694 54.7184 107.792 44.7531 90.6432 44.7531C73.4946 44.7531 59.5928 54.7184 59.5928 67.0113Z" fill="#F2F2F2"/>
                    </g>
                    <g filter="url(#filter4_d_130_1327)">
                    <path d="M25.0186 104.651C25.0186 116.994 50.5607 127 -5.3126 127C-29.2583 127 -35.6438 116.994 -35.6438 104.651C-35.6438 92.3075 -22.0641 82.3014 -5.3126 82.3014C11.4389 82.3014 25.0186 92.3075 25.0186 104.651Z" fill="#F2F2F2"/>
                    <path d="M66.5245 104.651C66.5245 116.994 61.7353 127 36.1933 127C12.2476 127 5.86206 116.994 5.86206 104.651C5.86206 92.3075 19.4418 82.3014 36.1933 82.3014C52.9447 82.3014 66.5245 92.3075 66.5245 104.651Z" fill="#F2F2F2"/>
                    <path d="M44.1752 91.8796C44.1752 104.223 39.3861 114.229 13.844 114.229C-10.1017 114.229 -16.4872 104.223 -16.4872 91.8796C-16.4872 79.5365 -2.90744 69.5303 13.844 69.5303C30.5955 69.5303 44.1752 79.5365 44.1752 91.8796Z" fill="#F2F2F2"/>
                    </g>
                    <g filter="url(#filter5_d_130_1327)">
                    <path d="M111.739 102.586C111.739 114.929 137.281 124.935 81.4081 124.935C57.4624 124.935 51.0769 114.929 51.0769 102.586C51.0769 90.2428 64.6566 80.2366 81.4081 80.2366C98.1596 80.2366 111.739 90.2428 111.739 102.586Z" fill="#F2F2F2"/>
                    <path d="M153.245 102.586C153.245 114.929 148.456 124.935 122.914 124.935C98.9682 124.935 92.5826 114.929 92.5826 102.586C92.5826 90.2428 106.162 80.2366 122.914 80.2366C139.665 80.2366 153.245 90.2428 153.245 102.586Z" fill="#F2F2F2"/>
                    <path d="M130.896 89.8149C130.896 102.158 126.107 112.164 100.565 112.164C76.6189 112.164 70.2334 102.158 70.2334 89.8149C70.2334 77.4717 83.8131 67.4656 100.565 67.4656C117.316 67.4656 130.896 77.4717 130.896 89.8149Z" fill="#F2F2F2"/>
                    </g>
                    <g filter="url(#filter6_f_130_1327)">
                    <circle cx="23.3794" cy="19.3794" r="9.59147" transform="rotate(-35.5257 23.3794 19.3794)" fill="#F9CB54"/>
                    </g>
                    </g>
                    </g>
                    <defs>
                    <filter id="filter0_d_130_1327" x="0" y="0" width="136" height="122" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter1_d_130_1327" x="-1" y="-1" width="138" height="124" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_130_1327"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter2_d_130_1327" x="-59.3887" y="30.9879" width="149.98" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter3_d_130_1327" x="27.332" y="33.7409" width="136.559" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter4_d_130_1327" x="-48.0325" y="58.5182" width="126.946" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter5_d_130_1327" x="38.6882" y="56.4534" width="126.945" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1327"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1327" result="shape"/>
                    </filter>
                    <filter id="filter6_f_130_1327" x="9.78711" y="5.78714" width="27.1844" height="27.1844" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_130_1327"/>
                    </filter>
                    <linearGradient id="paint0_linear_130_1327" x1="68" y1="-10.2915" x2="68" y2="70.0083" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1AA2EF"/>
                    <stop offset="1" stop-color="#C1CAFD"/>
                    </linearGradient>
                    <clipPath id="clip0_130_1327">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </button>

            <button>
                <svg width="136" height="122" viewBox="0 0 136 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_130_1351)">
                    <g clip-path="url(#clip0_130_1351)">
                    <g filter="url(#filter1_d_130_1351)">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="url(#paint0_linear_130_1351)"/>
                    </g>
                    <g filter="url(#filter2_d_130_1351)">
                    <path d="M9.66389 69.8228C9.66389 80.5791 -19.1944 89.2987 43.9331 89.2987C70.9878 89.2987 78.2024 80.5791 78.2024 69.8228C78.2024 59.0665 62.8595 50.3469 43.9331 50.3469C25.0068 50.3469 9.66389 59.0665 9.66389 69.8228Z" fill="#F3DFC8"/>
                    <path d="M-47 72.605C-47 81.8247 -41.948 89.2987 -15.0039 89.2987C10.2563 89.2987 16.9923 81.8247 16.9923 72.605C16.9923 63.3854 2.66713 55.9114 -15.0039 55.9114C-32.6749 55.9114 -47 63.3854 -47 72.605Z" fill="#F3DFC8"/>
                    <path d="M-24.7417 64.2582C-24.7417 76.5511 -19.2504 86.5164 10.0367 86.5164C37.4934 86.5164 44.8152 76.5511 44.8152 64.2582C44.8152 51.9653 29.2443 42 10.0367 42C-9.17088 42 -24.7417 51.9653 -24.7417 64.2582Z" fill="#F3DFC8"/>
                    </g>
                    <g filter="url(#filter3_d_130_1351)">
                    <path d="M90.3105 72.5758C90.3105 83.332 64.5457 92.0517 120.906 92.0517C145.061 92.0517 151.502 83.332 151.502 72.5758C151.502 61.8195 137.804 53.0999 120.906 53.0999C104.009 53.0999 90.3105 61.8195 90.3105 72.5758Z" fill="#F3DFC8"/>
                    <path d="M39.7207 75.3581C39.7207 84.5777 44.2312 92.0517 68.287 92.0517C90.8394 92.0517 96.8534 84.5777 96.8534 75.3581C96.8534 66.1384 84.0638 58.6644 68.287 58.6644C52.5103 58.6644 39.7207 66.1384 39.7207 75.3581Z" fill="#F3DFC8"/>
                    <path d="M59.5928 67.0113C59.5928 79.3041 64.4955 89.2695 90.6432 89.2695C115.157 89.2695 121.694 79.3041 121.694 67.0113C121.694 54.7184 107.792 44.7531 90.6432 44.7531C73.4946 44.7531 59.5928 54.7184 59.5928 67.0113Z" fill="#F3DFC8"/>
                    </g>
                    <g filter="url(#filter4_d_130_1351)">
                    <path d="M25.0186 104.651C25.0186 116.994 50.5607 127 -5.3126 127C-29.2583 127 -35.6438 116.994 -35.6438 104.651C-35.6438 92.3075 -22.0641 82.3014 -5.3126 82.3014C11.4389 82.3014 25.0186 92.3075 25.0186 104.651Z" fill="#F3DFC8"/>
                    <path d="M66.5245 104.651C66.5245 116.994 61.7353 127 36.1933 127C12.2476 127 5.86206 116.994 5.86206 104.651C5.86206 92.3075 19.4418 82.3014 36.1933 82.3014C52.9447 82.3014 66.5245 92.3075 66.5245 104.651Z" fill="#F3DFC8"/>
                    <path d="M44.1752 91.8796C44.1752 104.223 39.3861 114.229 13.844 114.229C-10.1017 114.229 -16.4872 104.223 -16.4872 91.8796C-16.4872 79.5365 -2.90744 69.5303 13.844 69.5303C30.5955 69.5303 44.1752 79.5365 44.1752 91.8796Z" fill="#F3DFC8"/>
                    </g>
                    <g filter="url(#filter5_d_130_1351)">
                    <path d="M111.739 102.586C111.739 114.929 137.281 124.935 81.4081 124.935C57.4624 124.935 51.0769 114.929 51.0769 102.586C51.0769 90.2428 64.6566 80.2366 81.4081 80.2366C98.1596 80.2366 111.739 90.2428 111.739 102.586Z" fill="#F3DFC8"/>
                    <path d="M153.245 102.586C153.245 114.929 148.456 124.935 122.914 124.935C98.9682 124.935 92.5826 114.929 92.5826 102.586C92.5826 90.2428 106.162 80.2366 122.914 80.2366C139.665 80.2366 153.245 90.2428 153.245 102.586Z" fill="#F3DFC8"/>
                    <path d="M130.896 89.8149C130.896 102.158 126.107 112.164 100.565 112.164C76.6189 112.164 70.2334 102.158 70.2334 89.8149C70.2334 77.4717 83.8131 67.4656 100.565 67.4656C117.316 67.4656 130.896 77.4717 130.896 89.8149Z" fill="#F3DFC8"/>
                    </g>
                    </g>
                    </g>
                    <defs>
                    <filter id="filter0_d_130_1351" x="0" y="0" width="136" height="122" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <filter id="filter1_d_130_1351" x="-1" y="-1" width="138" height="124" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_130_1351"/>
                    <feOffset dy="2"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <filter id="filter2_d_130_1351" x="-59.3887" y="30.9879" width="149.98" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <filter id="filter3_d_130_1351" x="27.332" y="33.7409" width="136.559" height="72.076" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <filter id="filter4_d_130_1351" x="-48.0325" y="58.5182" width="126.946" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <filter id="filter5_d_130_1351" x="38.6882" y="56.4534" width="126.945" height="82.247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="1.37652"/>
                    <feGaussianBlur stdDeviation="6.19433"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_130_1351"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_130_1351" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_130_1351" x1="68" y1="-10.2915" x2="68" y2="70.0083" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFE2C0"/>
                    <stop offset="1" stop-color="#FF9900"/>
                    </linearGradient>
                    <clipPath id="clip0_130_1351">
                    <rect x="4" y="2" width="128" height="114" rx="8" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
</section>