<div class="sdgs-login">
    <% sdgs.forEach(function(sdg) { %>
        <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>?format=avif" type="image/avif">
            <source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>?format=webp" type="image/webp">
            <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon.id %>" alt="<%= sdg.title %>" height="100" width="100" loading="lazy">	
            <!-- Uit directus afbeelding kleiner maken -->
        </picture>

    <% }) %>
</div>