<section class="voice-preview-section">
    
        <div class="titel-preview-section">
            <h2>Story settings</h2>
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.86739 14.6591C10.2126 14.6591 10.4924 14.3793 10.4924 14.0341V9.03409C10.4924 8.68891 10.2126 8.40909 9.86739 8.40909C9.52221 8.40909 9.24239 8.68891 9.24239 9.03409V14.0341C9.24239 14.3793 9.52221 14.6591 9.86739 14.6591Z" fill="white"/>
                <path d="M9.86739 5.70075C10.3276 5.70075 10.7007 6.07385 10.7007 6.53409C10.7007 6.99433 10.3276 7.36742 9.86739 7.36742C9.40715 7.36742 9.03406 6.99433 9.03406 6.53409C9.03406 6.07385 9.40715 5.70075 9.86739 5.70075Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.909058 9.86742C0.909058 4.91987 4.91984 0.909088 9.86739 0.909088C14.8149 0.909088 18.8257 4.91987 18.8257 9.86742C18.8257 14.815 14.8149 18.8258 9.86739 18.8258C4.91984 18.8258 0.909058 14.815 0.909058 9.86742ZM9.86739 2.15909C5.6102 2.15909 2.15906 5.61023 2.15906 9.86742C2.15906 14.1246 5.6102 17.5758 9.86739 17.5758C14.1246 17.5758 17.5757 14.1246 17.5757 9.86742C17.5757 5.61023 14.1246 2.15909 9.86739 2.15909Z" fill="white"/>
            </svg>
        </div>

        <p>Hold down the button to hear a preview of the voices</p>

            <div>
                <ul>
                    <li> 
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="38" y="34" width="5.65685" height="48.0833" rx="2.82843" transform="rotate(135 38 34)" fill="#1967AE"/>
                            <rect x="3.99988" y="38" width="5.65685" height="48.0833" rx="2.82843" transform="rotate(-135 3.99988 38)" fill="#2382DA"/>
                        </svg>
                        <p>read aloud yourself</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p>Vera</p>
                    </li>
                    
                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>
                    
                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>
                    
                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>

                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>
                    
                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>
                    
                    <li> 
                        <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.81393 15.1829C14.0902 16.1811 22.1829 7.63683 25.5698 3.23991C26.6393 0.0313499 15.9441 -2.28595 6.31838 3.77467C-1.90128 8.95001 7.20959 31.404 6.31847 39.2471C7.03145 40.3128 9.33666 39.2992 9.88345 39.2471C12.8781 38.9619 13.2703 30.5721 13.092 26.4129L8.81393 15.1829Z" fill="#4B2C09"/>
                            <path d="M23.6102 5.55734L25.7493 2.88353C36.0167 2.17052 30.2056 26.7693 30.2056 39.069C30.5621 39.5443 30.1699 40.2098 25.7493 39.069C21.3286 37.9282 22.4813 16.2525 23.6102 5.55734Z" fill="#4B2C09"/>
                            <path d="M30.5607 38.1775C22.8602 39.1757 22.2422 31.3445 22.8958 27.3041H13.0919C13.6623 37.7141 9.17032 39.7224 6.85303 39.4253C17.8334 45.6998 27.2333 41.2078 30.5607 38.1775Z" fill="#E9C3A4"/>
                            <path d="M23.254 26.9477C22.8261 27.0903 22.3627 32.83 23.967 35.3255L13.0935 29.9779V27.1259C16.4803 26.9476 23.6818 26.8051 23.254 26.9477Z" fill="#DBAF8B"/>
                            <path d="M18.0855 29.7996C8.10335 27.4823 8.04389 15.361 8.99458 10.1917C9.70759 4.63015 15.0552 3.18036 18.0855 3.06152V29.7996Z" fill="#E9C3A4"/>
                            <path d="M18.0845 29.7996C28.0667 27.4823 28.1261 15.361 27.1755 10.1917C26.4624 4.63015 21.1148 3.18036 18.0845 3.06152V29.7996Z" fill="#E2BB9B"/>
                            <path d="M6.78053 14.7262C5.2119 15.867 8.0283 19.8361 9.63258 21.6781C9.46455 20.0985 9.33097 17.1821 8.74131 15.6174C8.28842 14.4157 7.46194 14.2306 6.78053 14.7262Z" fill="#E9C3A4"/>
                            <path d="M24.8569 3.59642C26.7107 6.16328 14.2805 12.2121 8.45757 14.47C8.10106 12.9846 7.4237 9.19369 7.5663 5.91383C7.74456 1.81399 22.5396 0.387861 24.8569 3.59642Z" fill="#4B2C09"/>
                            <path d="M29.24 14.7262C30.8086 15.867 27.9922 19.8361 26.3879 21.6781C26.556 20.0985 26.6895 17.1821 27.2792 15.6174C27.7321 14.4157 28.5586 14.2306 29.24 14.7262Z" fill="#E2BB9B"/>
                            <path d="M35.7314 46.9119C36.1592 38.0705 32.523 37.4647 30.7403 38.1775C20.7582 45.1296 10.36 41.802 6.14135 38.534C-1.16699 37.6428 0.0807295 43.5251 0.0807012 46.1989C13.4854 50.9048 29.4331 48.635 35.7314 46.9119Z" fill="#D7AAED"/>
                            <path d="M23.6108 5.20072C21.7569 5.91373 25.4527 11.9149 27.5323 14.8264C27.8294 14.1728 28.5662 12.4735 29.1366 10.9048C29.8497 8.94404 25.9281 4.30945 23.6108 5.20072Z" fill="#4B2C09"/>
                        </svg>
                        <p> Vera</p>
                    </li>
                </ul>
            </div>
        
        <div class="buttons-previews">
            <button>
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.83565 1.10122C9.27962 1.54519 9.27962 2.265 8.83565 2.70896L3.57637 7.96825L8.83565 13.2275C9.27962 13.6715 9.27962 14.3913 8.83565 14.8353C8.39169 15.2792 7.67188 15.2792 7.22792 14.8353L1.16476 8.77212C0.720796 8.32815 0.720796 7.60834 1.16476 7.16438L7.22792 1.10122C7.67188 0.657258 8.39169 0.657258 8.83565 1.10122Z" fill="white"/>
                </svg>
            </button>

            <button>
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M1.16476 14.8358C0.720796 14.3919 0.720796 13.6721 1.16476 13.2281L6.42405 7.9688L1.16476 2.70951C0.720796 2.26555 0.720796 1.54574 1.16476 1.10177C1.60873 0.657808 2.32853 0.657808 2.7725 1.10177L8.83566 7.16493C9.27962 7.60889 9.27962 8.3287 8.83566 8.77267L2.7725 14.8358C2.32853 15.2798 1.60872 15.2798 1.16476 14.8358Z" fill="white"/>
                </svg>
            </button>
        </div>
    </section>

    