<header>
    <section>

        <a href="/dashboard">Annuleren X</a>
        <h1>Klant toevoegen</h1>
        <p>* Geeft verplicht veld aan</p>
    </section>

    <section>
        <ol class="steps">
            <li <% if (current == 'gegevens') { %> class="active"<% } %> <% if (current == 'sdgs') { %> class="done"<% } %> <% if (current == 'scores') { %> class="done-post" <% } %>>
                <div>
                    <% if (current == 'gegevens') { %>
                        <div>1 </div>
                    <% } else { %>
                        <a href="#">
                            <div>✓</div>
                        </a>
                    <% } %>
                    <p>Klant <span class="info-desk" >toevoegen</span></p>
                </div>
            </li>

            <li <% if (current == 'sdgs') { %> class="active" <% } %><% if (current == 'scores') { %> class="done" <% } %>>
                <div>
                    <% if (current == 'gegevens') { %>
                        <div>2 </div>
                    <% } %>
                    <% if (current == 'sdgs') { %>
                        <div>2 </div>
                    <% } %>
                    <% if (current == 'scores') { %>
                        <a href="#">
                            <div>✓</div>
                        </a>
                        
                    <% } %>
                    <p>SDG's <span class="info-desk" >kiezen</span></p>
                </div>
                
                
            </li>
  
            <li <% if (current == 'scores') { %> class="active" <% } %>>
                <div>
                    <div> 3 </div>
                    <p>Scores <span class="info-desk" >toevoegen</span></p>
                </div>
                
            </li>
        </ol>
    </section>
</header>