<!-- Dit is de Navigatie -->
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/over ons">over ons</a></li>
        <li><a href="/Overzicht">Overzicht</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/Faq">Faq</a></li>
        <li><a href="/Eigen initiatief">Login</a></li>
    </ul>
</nav>