<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @view-transition {
        navigation: auto;
        }
        :root {
        view-transition-name: none;
        }

        ::view-transition-group(.vt-name) {
        animation-duration: .2s;
        }

    </style>
    <link rel="preload" href="/assets/fonts/akkurat-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/stylesheet.css">
    {% if page == "home" %}<link rel="stylesheet" href="/home.css">{% endif %}
    {% if page == "overzicht" %}
        <link rel="stylesheet" href="/overzicht.css">
        <link rel="expect" href="#table" blocking="render">
    {% endif %}
    {% if page == "actielog" %}<link rel="stylesheet" href="/actielog.css">{% endif %}
    {% if page == "acties" %}<link rel="stylesheet" href="/acties.css">{% endif %}  
    {% if page == "detail" %}
        <link rel="stylesheet" href="/detail.css">
        <link rel="expect" href="#h1" blocking="render">
    {% endif %}
    <title>{{ title | default: "PreludeFonds" }}</title>
    
</head>
<body>
    <header class="logo">
        <a href="/">
            <img src="/assets/logo/image.svg" 
                class="logo-img" 
                alt="cool kunst en cultuur" 
                width="600" height="400"
                fetchpriority="high">
            <h1 class="logo-text">PreludeFonds</h1>
        </a>

        {% block breadcrumbs %}{% endblock %}
    </header>
    
    {% block content %}{% endblock %}

</body>
</html>   