.nav-container {
    background-color: var(--white);
    left: 0;
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-container nav {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 109px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    padding: 34px 1rem;
}


.nav-container {
    background-color: #471871;
    box-shadow: 0px 4px 10px #00000029;
}

.nav-container nav {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 1rem;
}

.nav-container nav .profile {
    align-items: center;
    display: flex;
    gap: 12px;
}

.nav-container nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-container nav .profile h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-container nav .profile a {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}


.nav-container nav .profile a:hover {
    transition: 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 10px #00000029;
}

.nav-container nav .profile a:hover svg {
    animation: rotatingSetting 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.nav-container nav .buttons {
    display: flex;
    gap: 20px;
}

.nav-container nav .buttons a {
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    background: #139943;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 58px;
    transition: .1s ease-in-out;
} 

.nav-container nav .buttons a.locked {
    filter: grayscale(1);
    pointer-events: none;
}

.nav-container nav .buttons a.locked, .nav-container nav .buttons a.locked path {
    color: #BDBDBD;
    fill: #BDBDBD;
}

.nav-container nav .buttons a:hover {
    transition: .1s ease-in-out;
    background: #0D6E3D;
} 

.nav-container nav .menu-button {
    background: #1C1C1C;
    padding: 12px 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container nav .menu-button svg {
    width: 24px;
    height: 24px;
}


/* 
    This is the animation for the settings icon on the top left corner of the navbar
 */

@keyframes rotatingSetting {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

