{% render 'partials/head.liquid'%}

<main class="main-404">
    <section class="section-404">
        <div class="img-404">
            <img src="/assets/file-icon-404.svg">
        </div>
        <div class="content-404">
            <h1 class="titel-404">Pagina niet gevonden</h1>
        <p class="text-404">
            <span>De pagina die je zoekt bestaat niet of is verplaatst.</span>
            <span>Controleer de link of ga terug naar de homepage.</span>
        </p>
        <a href="/" class="home-back-link">Terug naar home<img src="/assets/arrow-right.svg" alt="terug naar home"></a>
        </div>
    </section>
</main>