{% render 'partials/head.liquid', title: 'pagina niet gevonden' %}
<main>
  {% assign contentVar = 'Oeps! De pagina die probeert te bereiken lijkt niet te bestaan. Klik op de knop hieronder om weer terug te gaan naar de home pagina.' %}
  {% assign imgURL = 'assets/images/mascot-ad' %}

  {% comment %} should be converted to a header when possible for the H1 tag {% endcomment %}
  {% render './partials/article.liquid',
    style: '',
    title: 'Pagina niet gevonden',
    content: contentVar,
    imgURL: imgURL,
    imgWidth: 300,
    imgHeight: 300,
    imgAlt: 'alt tekst voor img',
    imgFetch: 'auto',
    imgLoading: 'lazy',
    button: true,
    btnLink: '/',
    btnText: 'Terug naar home',
    btnStyle: 'primary-button'
  %}
</main>

{% render 'partials/footer.liquid' %}
