<main>

    <section class="title">
        <h1 class="title-acquisition">Proposal for object acquisition</h1>
        
        <p class="paragraph-acquisition">Interested in donating or selling an artwork to Qatar Museums? Submit your information through this acquisitions proposal form.</p>

    </section>