{% render 'partials/head.liquid' %}

<main class="article-layout">
    <section class="article-content">
        {{ story.body }}
    </section>

    <aside class="article-comments-section">
        {% render 'partials/comments.liquid', story: story, district: district %}
    </aside>
</main>