<%- include('./partials/head',{title:"RedPers"}) %>
<link rel="stylesheet" href="/styles/author.css" type="text/css">

</head>


<body>

<%- include('./partials/header',{img_src:""}) %>

<main>
    <% authors.forEach(author => { %>
        <p><%= author.name %></p>
    <% }) %>
</main>




<%- include('./partials/foot'); -%>