<%- include('./partials/head.ejs') -%>

<main>
  <section class="bedankt">
    <div class="container">
      <h1>Bedankt voor het plaatsen van een initiatief!</h1>
      <p>Je initiatief is succesvol geplaatst en zal binnenkort zichtbaar zijn op de website.</p>
      <a href="/">Terug naar de homepagina</a>
    </div>
  </section>



