{% include 'partials/head.liquid' %}
<main>
  {% comment %} begin arike; {% endcomment %}
  <h1>Blog van Milledoni</h1>

  {% comment %} eerste atrikel: sinterklaas {% endcomment %}
  <picture>
    <source type="image/avif" srcset="img.avif">
    <source type="image/webp" srcset="img.webp">
    <img src="sinterklaas.png" alt="Een plaatje van de sinterklaas artikel" width="200" height="200">
  </picture>

  <h2>16x Last-minute Sinterklaascadeaus mét een persoonlijke touch!</h2>
  <p>
    Geen tijd meer om een perfect cadeau te regelen? Geen stress! Ontdek 16 originele en persoonlijke Sinterklaascadeaus
    die je zo vanuit huis kunt regelen.
  </p>

  {% comment %} tweede atrikel: mimosa/vrouwendag {% endcomment %}
  <picture>
    <source type="image/avif" srcset="img.avif">
    <source type="image/webp" srcset="img.webp">
    <img src="mimosa.png" alt="dit plaatje hoort bij de atrikel van vrouwendag" width="200" height="200">
  </picture>

  <h2>Mimosa: een klein, krachtig cadeau voor Internationale Vrouwendag</h2>
  <p>
    Op 8 maart vieren we Internationale Vrouwendag. Een dag van erkenning, bewustwording en solidariteit. Maar ook een
    dag waarop een klein gebaar een groot verschil kan maken
  </p>

  {% comment %} derde artikel: doe-cadeaus {% endcomment %}
  <picture>
    <source type="image/avif" srcset="img.avif">
    <source type="image/webp" srcset="img.webp">
    <img src="foodies-artikel.png" alt="dit plaatje hoort bij de artikel van de doe-cadeaus" width="200" height="200">
  </picture>

  <h2>De leukste creatieve doe cadeaus voor foodies en kookliefhebbers</h2>
  <p>
    Zoek je een cadeau dat écht in de smaak valt bij iemand die gek is op koken, bakken of eten? Hier zijn vijf
    originele ideeën waarmee je gegarandeerd indruk maakt! Perfect voor een verjaardag, bedankje of zomaar om iemand te
    verrassen.
  </p>
</main>

{% include 'partials/foot.liquid' %}
