{% include 'partials/head.liquid' %}
<main class="blog">
  <h1>Blog van Milledoni</h1>
   {% for product in products %}
    <section class="section-article">
      <img src="{{ product.image }}">
      <h2 class="blog-arikel-h2">{{ product.title }}</h2>
      <p class="blog-arikel-p">{{ product.intro }}</p>
    </section>
    {% endfor %}
</main>

{% include 'partials/foot.liquid' %}