<%- include('./partials/head',{title:"C"}); -%>
<link rel="stylesheet" href="/styles/category.css" type="text/css">

</head>


<body>
<%- include('./partials/header',{img_src:""}) -%>


<main></main>

<%- include('./partials/foot'); %>