<%- include('./partials/head') %>
<main class="main-contain">
  <h2>PlantSwap Amsterdam</h2>
  <p>Live Chatroom</p>
  <svg
    width="12"
    height="14"
    viewBox="0 0 18 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.5 6.90193C18.5 8.05663 18.5 10.9434 16.5 12.0981L5.25 18.5933C3.25 19.748 0.750001 18.3046 0.750001 15.9952L0.750002 3.00481C0.750002 0.695408 3.25 -0.747967 5.25 0.406733L16.5 6.90193Z"
      fill="#F26F21"
    />
  </svg>
  <section class="chatroom-contain">
    <ul></ul>
    <form id="lower-chat-bar">
      <input id="chat-input" type="text" autocomplete="off" />
      <button><span></span></button>
    </form>
  </section>
</main>

<%- include('./partials/foot') %>
