{% layout 'layouts/base.liquid' %}
{% block breadcrumbs %}
  <nav>
    <ol>
      <li><a href="/">home</a></li>
      <li><a href="/instrumenten">Instrumenten overzicht</a></li>
      <li><a href="/instrumenten/{{ instrument.key }}">{{ instrument.key }}</a></li>
    </ol>
  </nav>
{% endblock %}
{% block content %}{% endblock %}
