<main>

  <section class="profile">
  <a href="/Talentaward"> Terug naar genomineerde</a>
  <h1> Talent Award Genomineerde 2026 </h1>
  <h2> {{ student.title }} </h2>
  <picture>
  <source
    type="image/avif"
    srcset="https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826?format=avif&q=80"
  >
  <source
    type="image/webp"
    srcset="https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826?format=webp"
  >
  <img
    src=" https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826"
    alt="Rhodé Treur"
    width="150"
    height="150"
    loading="lazy"

  >
    </picture>

  <dl>

  <dt>Variant:</dt>
  <dd> naam</dd>

  <dt>Opleiding:</dt>
  <dd> opleiding</dd>
</dl>


<article class="container">
    <h2>Introductie</h2>
    <p>
      <p>Mijn naam is Rhode Treur, 22 jaar oud, woon in Woudenberg en ik volg de Ad-opleiding Human Resource Management aan de Hogeschool Utrecht. Momenteel zit ik in het tweede jaar van deze Ad-opleiding en ben ik bezig met mijn eindstage bij Timon jeugd- en (jong)volwassenenzorg. In mijn vrije tijd werk ik als douanedeclarant bij een transportbedrijf en sport ik graag. Ik heb voor een Ad-opleiding gekozen, omdat je hier de kennis en vaardigheden die je opdoet, direct in de praktijk kan brengen door middel van projecten. Ook is er in de opleiding veel aandacht voor je persoonlijke ontwikkeling. Daarnaast vind ik het een voordeel dat het een tweejarige hbo-opleiding is, met de mogelijkheid om door te stromen in de bachelorvariant. Mijn keuze voor Human Resource Management komt voort uit de wens om het menselijke en het zakelijke aspect te combineren. Ik zie het als een uitdaging om medewerkers op de beste manier in te zetten binnen een organisatie, zodat zij op een plek zitten waar ze gelukkig zijn en waar hun talenten het beste uitkomen. Binnen de opleiding vraag ik actief om feedback van zowel medestudenten als docenten. Aan de hand daarvan reflecteer ik op mijn denken en handelen en stel ik doelen op die bijdragen aan mijn professionele ontwikkeling. Na het afronden van mijn Ad-opleiding zie ik mijzelf doorstromen in de deeltijdvariant van de bachelor. Hierdoor kan ik mijn kennis en vaardigheden dagelijks toepassen in de praktijk en kan ik mij blijven ontwikkelen in de rol als HR-officer</p>
    </p>
    

    <picture>
  <source
    type="image/avif"
    srcset="https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826?format=avif&q=80"
  >
  <source
    type="image/webp"
    srcset="https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826?format=webp"
  >
  <img
    src=" https://fdnd-agency.directus.app/assets/383622d7-ed2f-4e84-8c0a-9476c5c53826"
    alt="Rhodé Treur"
    width="150"
    height="150"
    loading="lazy"

  >

  
</picture>



  </article>

  </body>