{% layout 'layouts/base.liquid' %}
{% block content %}

<main>
  <button><a href="/instrumenten/{{ instrument.key }}/innemen" class="btn btn-primary button-innemen">Innemen</a></button>
  <button><a href="/instrumenten/{{ instrument.key }}/uitlenen" class="btn btn-primary button-uitlenen">Uitlenen</a></button>
  <button><a href="/instrumenten/{{ instrument.key }}/schade" class="btn btn-primary button-schade">Schade</a></button>
</main>

{% endblock %}
