<%- include('./partials/head') %>

<section class="error-message">
  <h2>Oeps! Het lijkt erop dat het niet helemaal goed is gegaan</h2>
  <img src="https://static.thenounproject.com/png/4182675-200.png" alt="" />
  <button>Probeer Opnieuw</button>
</section>

<%- include('./partials/foot') %>
