<%- include('partials/head', {current: 'vragenlijst' }); %>
    <%- include('partials/vragenlijst_header', {current: 'klanten' }); %>

        <header>
            <h1>Gegevens</h1>
        </header>
        <main>

        </main>
        <footer></footer>
        <%- include('partials/foot') %>