<%- include('partials/head', {current: 'gegevens-form' }); %>
    <%- include('partials/vragenlijst_header', {current: 'vragenlijst' }); %>

        <header>
            <h1>Gegevens</h1>
        </header>
        <main>

            <article class="stakeholder-form">

                <form action="/stakeholders-form">
                    <fieldset>
                        <legend>Kies jouw stakeholder*</legend>

                        <input type="radio" id="medewerkers" name="stakeholder" value="M" />
                        <label for="medewerkers">Medewerkers</label><br />


                        <input type="radio" id="leverancier" name="stakeholder" value="L" />
                        <label for="leverancier">Leverancier</label><br />

                        <input type="radio" id="klanten" name="stakeholder" value="" />
                        <label for="klanten">Klanten</label>

                    </fieldset>
                </form>

                <form action="/url" method="POST">

                    <article class="enter-name">

                        <p>Voeg naam Stakeholder toe</p>
                        <input type="text" placeholder="Typ hier..">

                    </article>

                    <article class="enter-description">

                        <p>Voeg beschrijving toe</p>
                        <input type="text" placeholder="Typ hier..">

                    </article>

                </form>

                <input type="submit" value="Submit" />

            </article>

        </main>
        <footer></footer>
        <%- include('partials/foot') %>