<%- include('partials/head', {current: '/home'}); %>
<%- include('partials/nav', {current: '/home'}); %>

<main>

</main>

<%- include('partials/footer', {current: '/home'}); %>
<%- include('partials/foot', {current: '/home'}); %>
