{% render 'partials/head.liquid' 
    stories: stories, 
    search: search
%}

<main class="main-home">
    <section class="section-home">
        {% if search %}
            <div class="info-results">
                {% if stories.size == 1 %}
                    <h3>{{ stories.size }} resultaat voor "{{ search }}"</h3>
                {% else %}
                    <h3>{{ stories.size }} resultaten voor "{{ search }}"</h3>
                {% endif %}
            </div>
        {% endif %}
    </section>

    {% render 'partials/foot.liquid' %}
</main>