<%- include('partials/head') %>
<%- include('partials/nav') %>
<h1>Test</h1>
<p>Deze pagina komt later pas. Op dit moment is de relevante pagina hier te vinden: <a href="/favorieten">Favorieten</a></p>
<%- include('partials/footer') %>
<%- include('partials/foot') %>