<%- include('partials/head') %>

<main>
    <section>
        <header>
            <p>Hand- Footprint</p>
        </header>
        <article>
            <h1>Welkom</h1>
            <p>Bij onze hand- voetprint calculator,...stukje over wat deze calculator doet. </p>

            <details class="info-mobile">
                <summary>Zie meer</summary>
                <%- include('partials/info') %>
            </details>
            <div class="info-desk">
                <%- include('partials/info') %>
            </div>
        </article>
    </section>
    <section>
        <article>
            <header>
                <button type="button">aanmelden</button>
                <button type="button">inloggen</button>
            </header>
            <form action="">
                <i>* geeft een verplicht veld aan</i>
                <fieldset>
                    <legend>Bedrijfs gegevens</legend>
                    <label>
                        * Bedrijfs naam:
                        <input name="company_name" type="text" placeholder="bijv. ..." required>
                    </label>
                    <label>
                        * Wachtwoord:
                        <input name="company_name" type="password" placeholder="bijv. ..." required>
                    </label>

                    <div>
                        <a href="#">Wachtwoord vergeten</a>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Bedrijf Details</legend>
                    <label>
                        Bedrijf descriptie:
                        <textarea name="descriptie"  rows="4" cols="33" placeholder="bijv. ..."></textarea>
                    </label>
                    <label class="profile" for="profile" >
                        Profielfoto:
                    </label>  
                    <input type="file" id="profile" name="avatar" accept="image/png, image/jpeg" />
                    <small>300px x 300px recommended. JPGs JPEGs and PNGs supported</small>
                </fieldset>
                <label>
                    <input name="remember" type="checkbox">
                    Onthoud me
                </label>
                <button type="submit">verstuur</button>
                <p>All een account? <a href="/">Login</a></p>
            </form>
            
        </article>
        <!-- <footer>
            <p>&copy; 2023 CrossMarx</p> 
        </footer> -->
    </section>
    
</main>
<%- include('partials/foot') %>