<!doctype html>
<html lang="nl">
<title>Sprint 11</title>
{% render 'partials/head.liquid' %}


{% comment %} {% render 'partials/cardComponent.liquid', story: story %} {% endcomment %}

{% for story in stories %}
{% render 'partials/cardComponent.liquid', story: story %}
{% endfor %}