{% render 'partials/head.liquid' %}

<h2>Titel</h2>

<section class="home-list">
    <ul>
        {% for task in task %}
         {% comment %} <a href="/{{ task.title | downcase | replace: ' ', '-' }}"> {% endcomment %}
        <a href="/rouwtaak-demo">
            <li>
                <img class="thumb" src="assets/{{task.title}}.png">
            </li>
        </a>
        {% endfor %}
    </ul>
</section>

{% render 'partials/foot.liquid' %}