<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleguide.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="layout faq-layout">
        <article class="container">
          <h2>Veelgestelde vragen</h2>
          <div class="faq-columns">
            <section class="faq-column">
              {% render 'partials/dropdown.liquid',
                title: 'Wat is een Associate degree?',
                content: 'Een Associate Degree is een praktijkgerichte, tweejarige opleiding op hbo-niveau. De opleiding combineert theoretische kennis met praktische ervaring, zodat studenten snel inzetbaar zijn in het werkveld en de mogelijkheid hebben om door te stromen naar een bacheloropleiding.'
              %}
              {% render 'partials/dropdown.liquid',
                title: 'Wat is het verschil tussen een Associate degree en een Bachelor?',
                content: 'Een bacheloropleiding duurt meestal vier jaar en richt zich breder op theorie en verdieping, terwijl een Ad intensief, praktijkgericht en korter is, met direct toepasbare vaardigheden voor het werkveld.'
              %}
            </section>
            <section class="faq-column">
              {% render 'partials/dropdown.liquid',
                title: 'Hoe lang duurt een Associate degree?',
                content: 'Een Ad duurt doorgaans twee jaar bij een voltijdopleiding. Bij deeltijd kan dit langer zijn, afhankelijk van de persoonlijke planning en werkervaring.'
              %}
              {% render 'partials/dropdown.liquid',
                title: 'Welke voordelen heeft het behalen van een Associate degree?',
                content: 'Met een Ad-diploma ben je snel inzetbaar in de praktijk, heb je een erkend hbo-kwalificatieniveau en kun je doorstromen naar een bachelor. Daarnaast vergroot het je carrièremogelijkheden en professionele netwerk.'
              %}
            </section>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
