<%- include('partials/head') %>
<main>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <label for="company">Company name:</label>
        <input type="text" id="company" name="company" required>
        <label for="logo">Logo:</label>
        <input type="file" id="logo" name="logo" required>
        <button type="submit">Register</button>
    </form>
</main>
</body>
</html>