<!-- Inladen van de CSS -->
{% render 'partials/head.liquid' %}

<!-- Inladen van de header (navbar) via Liquid partials -->
{% render 'partials/header.liquid' %}


{% render 'partials/dropdown.liquid' %}


<ul class="art-images">
  {% for api in artworkData %}
    <li class="image-container">
      <a style="view-transition-name: image-{{ api.id }};" href="/details/{{ api.id }}">
        <div class="image-wrapper">
          <img
            class="image-styling scroll-fade-in"
            src="https://fdnd-agency.directus.app/assets/{{ api.image }}"
            alt="art images for qatar museums">
        </div>
      </a>
    </li>

  {% endfor %}
</ul>

<!-- Scroll observer script -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll('.scroll-fade-in');

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
            }
        });
    }, {
        threshold: 0.1
    });

    elements.forEach(el => observer.observe(el));
  });
</script>
</body>


</body>