{% render 'partials/head.liquid', title: 'home' %}
<main>
  <main>
    {% render 'partials/link-button.liquid' ,text: 'Verstuur', animation: 'send-animation' %}
  </main>
</main> 
{% render 'partials/footer.liquid' %}
