<%- include('partials/head') %>
<main class="Login-page">
    <section class="Login-form">
        <h1>CrossmarX</h1>
        <label for="username">Gebruikersnaam</label>
        <input type="text" id="username" name="u" placeholder="Voer uw gebruikersnaam in">
        <label for="password">Wachtwoord</label>
        <input type="password" id="password" name="p" placeholder="Voer uw wachtwoord in">
        <button class="login-btn">Log in</button>
        <label for="onthoud-mij">Onthoud mij</label>
        <input type="checkbox" id="onthoud-mij" name="onthoud-mij">
        <p>Heeft u nog geen account? <a href="/signup" style="color: green;" >Meld u hier aan</a>.</p>

        <footer>
            <div class="footer-main">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://linkedin.com" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Handprint Footprint. All rights reserved.</p>
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        </footer>
    </section>

    <section class="Login-side">
        <h2>Welkom op de website van Handprint Footprint</h2>
        <p>Op deze pagina kunt u zien hoe goed uw belanghebbenden het doen aan de hand het koppelen van scores aan de SDG's.</p>
        <p>Log in om te zien hoe goed uw belanghebbenden het doen.</p>
        <% data.forEach((item, index) => { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="static-image" width="100" height="
            100" alt="SDG <%= index + 1 %> ">
          <% }); %>   
    </section>
</main>



















</body>
</html>