{% render 'partials/header.liquid' %}
<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<div class="overlay">
  <div class="popup">
    <button class="popup-close" aria-label="Close popup">&times;</button>
    <p class="popup-text">
      Good morning, Shall we start with a story?
    </p>
    <button class="popup-cta">Let’s do it!</button>
  </div>
</div>

{% comment %} Listening Progess {% endcomment %}

{% comment %} Ellipse groen {% endcomment %}
{% comment %} Ellipse wit {% endcomment %}

{% comment %} Today's Listening {% endcomment %}
{% comment %} Tijd bijhouden {% endcomment %}


{% comment %} Begin met story {% endcomment %}
{% comment %} Article {% endcomment %}
{% comment %} Continue with story {% endcomment %}
{% comment %} Anchor tag om je naar de verhalen te brengen in lessons {% endcomment %}

<section class="boven">
  <svg
    id="boekenplank"
    width="286"
    height="117"
    viewBox="0 0 286 117"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M273.577 54.417C278.521 39.9774 274.896 25.6579 265.48 22.4336C256.064 19.2092 244.423 28.301 239.478 42.7405C234.534 57.1801 238.158 71.4995 247.574 74.7239C256.99 77.9483 268.632 68.8566 273.577 54.417Z" fill="#3A8F38" />
    <path d="M240.049 42.7044C246.755 39.6813 248.445 28.9216 243.825 18.6718C239.204 8.42209 230.022 2.56375 223.316 5.58684C216.61 8.60994 214.919 19.3697 219.54 29.6194C224.16 39.8692 233.343 45.7275 240.049 42.7044Z" fill="#3A8F38" />
    <path d="M227.364 66.5262H263.235C266.39 66.5262 269.416 67.7795 271.647 70.0105C273.878 72.2414 275.131 75.2672 275.131 78.4223V94.7424C275.131 97.8974 273.878 100.923 271.647 103.154C269.416 105.385 266.39 106.638 263.235 106.638H227.364V66.5262Z" fill="#25A1FA" />
    <path d="M270.549 38.8341H270.504C270.432 38.8266 270.363 38.8014 270.302 38.7608C270.242 38.7202 270.193 38.6654 270.159 38.6013C270.026 38.2804 270.017 37.9214 270.133 37.5942C270.339 36.7272 270.288 35.819 269.986 34.9808C269.964 34.9261 269.954 34.8678 269.955 34.8091C269.957 34.7505 269.97 34.6927 269.994 34.6391C270.018 34.5856 270.052 34.5374 270.095 34.4972C270.138 34.4571 270.188 34.4259 270.243 34.4054C270.298 34.3849 270.357 34.3756 270.415 34.3779C270.474 34.3803 270.532 34.3943 270.585 34.4191C270.638 34.4439 270.686 34.479 270.725 34.5224C270.765 34.5658 270.795 34.6167 270.815 34.6719C271.105 35.4716 271.205 36.328 271.106 37.1729C271.62 36.7058 272.193 36.3093 272.812 35.9941C272.864 35.9644 272.922 35.9455 272.982 35.9387C273.041 35.932 273.102 35.9374 273.159 35.9548C273.217 35.9721 273.27 36.001 273.316 36.0396C273.362 36.0782 273.4 36.1258 273.427 36.1795C273.454 36.2331 273.47 36.2917 273.473 36.3516C273.477 36.4116 273.468 36.4717 273.448 36.5282C273.428 36.5847 273.396 36.6365 273.355 36.6804C273.314 36.7243 273.265 36.7594 273.21 36.7835C272.315 37.2485 271.526 37.8926 270.891 38.6756C270.849 38.7255 270.797 38.7656 270.738 38.793C270.679 38.8204 270.614 38.8344 270.549 38.8341Z" fill="#292A2E" />
    <path d="M257.135 28.2973C257.077 28.2976 257.02 28.2861 256.967 28.2637C256.66 28.1017 256.427 27.8294 256.313 27.5017C255.938 26.7058 255.334 26.0403 254.577 25.591C254.476 25.5324 254.401 25.4357 254.371 25.3222C254.34 25.2088 254.356 25.0879 254.415 24.9862C254.474 24.8844 254.57 24.8101 254.684 24.7797C254.797 24.7492 254.918 24.7651 255.02 24.8238C255.742 25.2488 256.352 25.8401 256.799 26.5486C256.903 25.8518 257.098 25.1715 257.377 24.5246C257.4 24.4696 257.432 24.4196 257.474 24.3775C257.516 24.3355 257.566 24.3022 257.62 24.2797C257.675 24.2573 257.734 24.246 257.793 24.2467C257.853 24.2474 257.911 24.2599 257.965 24.2837C258.02 24.3074 258.069 24.3417 258.109 24.3847C258.15 24.4277 258.182 24.4785 258.203 24.534C258.223 24.5895 258.233 24.6486 258.23 24.7078C258.228 24.767 258.214 24.8251 258.188 24.8786C257.788 25.8216 257.581 26.835 257.579 27.8593C257.579 27.9766 257.533 28.0892 257.45 28.1722C257.367 28.2551 257.254 28.3018 257.137 28.3018L257.135 28.2973Z" fill="#292A2E" />
    <path d="M245.824 42.5686C245.766 42.5687 245.709 42.5576 245.656 42.5358C245.351 42.3755 245.118 42.1053 245.005 41.7801C244.629 40.9816 244.023 40.3138 243.265 39.8623C243.163 39.8036 243.089 39.7069 243.059 39.5935C243.028 39.48 243.044 39.3591 243.103 39.2574C243.162 39.1556 243.258 39.0814 243.372 39.0509C243.485 39.0205 243.606 39.0363 243.708 39.095C244.43 39.5203 245.04 40.112 245.487 40.8207C245.591 40.1236 245.785 39.443 246.064 38.7959C246.086 38.7409 246.119 38.6908 246.161 38.6488C246.203 38.6067 246.253 38.5735 246.307 38.551C246.362 38.5285 246.421 38.5173 246.48 38.5179C246.539 38.5186 246.598 38.5312 246.652 38.5549C246.707 38.5786 246.756 38.613 246.796 38.656C246.837 38.699 246.869 38.7497 246.89 38.8052C246.91 38.8607 246.92 38.9198 246.917 38.979C246.915 39.0382 246.9 39.0963 246.875 39.1499C246.476 40.0925 246.269 41.1058 246.268 42.1296C246.268 42.247 246.221 42.3595 246.138 42.4425C246.055 42.5255 245.943 42.5721 245.825 42.5721L245.824 42.5686Z" fill="#292A2E" />
    <path d="M257.832 40.411C257.774 40.4107 257.718 40.3996 257.664 40.3783C257.358 40.2168 257.124 39.9447 257.011 39.6172C256.636 38.8207 256.031 38.1545 255.274 37.7038C255.172 37.6451 255.098 37.5484 255.068 37.435C255.037 37.3216 255.053 37.2007 255.112 37.0989C255.17 36.9972 255.267 36.9229 255.38 36.8924C255.494 36.862 255.615 36.8778 255.717 36.9365C256.437 37.3623 257.046 37.9536 257.494 38.6614C257.598 37.9645 257.792 37.2842 258.072 36.6374C258.094 36.5824 258.126 36.5324 258.168 36.4903C258.21 36.4482 258.26 36.415 258.314 36.3925C258.369 36.37 258.428 36.3588 258.487 36.3595C258.547 36.3601 258.605 36.3727 258.659 36.3964C258.714 36.4201 258.763 36.4545 258.803 36.4975C258.844 36.5405 258.876 36.5913 258.897 36.6468C258.917 36.7022 258.927 36.7613 258.924 36.8205C258.922 36.8797 258.908 36.9378 258.882 36.9914C258.482 37.9339 258.275 38.9472 258.274 39.9712C258.274 40.0885 258.228 40.2011 258.145 40.284C258.062 40.367 257.949 40.4136 257.832 40.4136V40.411Z" fill="#292A2E" />
    <path d="M265.469 52.8868C265.399 52.8864 265.33 52.8698 265.267 52.8381C265.202 52.805 265.147 52.7565 265.106 52.6969C265.064 52.6373 265.038 52.5685 265.03 52.4965C265.02 52.1512 265.139 51.8146 265.365 51.5531C265.868 50.8193 266.145 49.9541 266.162 49.0645C266.162 48.9471 266.208 48.8346 266.291 48.7516C266.374 48.6686 266.487 48.622 266.604 48.622C266.722 48.622 266.834 48.6686 266.917 48.7516C267 48.8346 267.047 48.9471 267.047 49.0645C267.032 49.9198 266.817 50.7597 266.417 51.5159C267.066 51.2716 267.746 51.1164 268.438 51.0548C268.555 51.0462 268.67 51.0836 268.76 51.159C268.849 51.2345 268.905 51.3419 268.917 51.4584C268.921 51.5163 268.915 51.5747 268.897 51.6301C268.879 51.6854 268.851 51.7368 268.813 51.7812C268.776 51.8255 268.73 51.8621 268.678 51.8887C268.627 51.9153 268.57 51.9315 268.512 51.9363C267.517 52.0314 266.553 52.3328 265.68 52.8213C265.617 52.8611 265.544 52.8836 265.469 52.8868Z" fill="#292A2E" />
    <path d="M246.841 60.5745C246.778 60.5745 246.716 60.5613 246.659 60.5356C246.358 60.3632 246.133 60.0835 246.03 59.7524C245.679 58.9456 245.095 58.2619 244.353 57.7886C244.253 57.727 244.181 57.6282 244.154 57.5139C244.127 57.3996 244.146 57.2793 244.208 57.1793C244.27 57.0793 244.369 57.0079 244.483 56.9807C244.597 56.9536 244.717 56.973 244.817 57.0346C245.525 57.4829 246.117 58.0933 246.542 58.8152C246.668 58.122 246.883 57.448 247.181 56.8098C247.203 56.7532 247.237 56.7018 247.28 56.6588C247.323 56.6158 247.374 56.5822 247.431 56.5599C247.487 56.5376 247.548 56.5272 247.609 56.5293C247.669 56.5315 247.729 56.5461 247.784 56.5723C247.839 56.5985 247.888 56.6357 247.927 56.6816C247.967 56.7275 247.997 56.7811 248.015 56.8391C248.033 56.8971 248.04 56.9582 248.033 57.0186C248.027 57.0791 248.008 57.1375 247.978 57.1903C247.549 58.1202 247.312 59.1265 247.279 60.1497C247.275 60.264 247.226 60.3721 247.144 60.4513C247.061 60.5304 246.951 60.5746 246.837 60.5745H246.841Z" fill="#292A2E" />
    <path d="M257.922 64.6847C257.907 64.6856 257.892 64.6856 257.877 64.6847C257.805 64.6774 257.735 64.6522 257.675 64.6114C257.614 64.5707 257.564 64.5156 257.53 64.451C257.399 64.1317 257.39 63.7749 257.505 63.4492C257.711 62.5809 257.66 61.6712 257.358 60.8314C257.32 60.7224 257.327 60.603 257.376 60.4987C257.425 60.3943 257.513 60.3133 257.621 60.2728C257.729 60.2323 257.848 60.2355 257.954 60.2819C258.059 60.3282 258.143 60.4139 258.186 60.5208C258.477 61.3209 258.577 62.1779 258.478 63.0235C258.991 62.5559 259.565 62.1591 260.184 61.8439C260.288 61.7969 260.406 61.7919 260.513 61.8299C260.621 61.8679 260.709 61.9459 260.761 62.0478C260.812 62.1496 260.822 62.2674 260.789 62.3765C260.756 62.4856 260.681 62.5776 260.582 62.6333C259.687 63.0986 258.898 63.7429 258.263 64.5263C258.221 64.576 258.169 64.616 258.11 64.6434C258.052 64.6708 257.987 64.6849 257.922 64.6847Z" fill="#292A2E" />
    <path d="M238.048 22.4587H238.003C237.93 22.4514 237.861 22.4263 237.801 22.3857C237.74 22.3451 237.691 22.2902 237.657 22.226C237.524 21.905 237.515 21.546 237.632 21.2189C237.838 20.3518 237.786 19.4436 237.483 18.6055C237.444 18.496 237.45 18.3756 237.499 18.2703C237.548 18.165 237.637 18.0832 237.746 18.0427C237.855 18.0021 237.975 18.006 238.081 18.0536C238.187 18.1011 238.27 18.1884 238.312 18.2966C238.603 19.0961 238.703 19.9526 238.604 20.7976C239.118 20.3305 239.691 19.934 240.31 19.6188C240.414 19.5718 240.532 19.5668 240.639 19.6048C240.747 19.6428 240.836 19.7209 240.887 19.8228C240.939 19.9246 240.949 20.0424 240.915 20.1514C240.882 20.2605 240.808 20.3525 240.708 20.4082C239.813 20.8732 239.024 21.5173 238.389 22.3003C238.347 22.3501 238.295 22.3901 238.236 22.4175C238.177 22.4449 238.113 22.459 238.048 22.4587Z" fill="#292A2E" />
    <path d="M228.746 12.5523C228.688 12.5525 228.631 12.5413 228.577 12.5196C228.271 12.3584 228.038 12.0865 227.925 11.7594C227.55 10.9625 226.944 10.2962 226.187 9.84603C226.137 9.81697 226.093 9.77828 226.057 9.73216C226.022 9.68603 225.996 9.63339 225.981 9.57722C225.966 9.52105 225.962 9.46246 225.969 9.40479C225.977 9.34713 225.996 9.29152 226.025 9.24114C226.054 9.19076 226.092 9.14659 226.139 9.11116C226.185 9.07574 226.237 9.04974 226.294 9.03466C226.35 9.01958 226.408 9.01571 226.466 9.02328C226.524 9.03084 226.579 9.04969 226.63 9.07874C227.351 9.50451 227.96 10.0957 228.408 10.8036C228.512 10.1069 228.706 9.42655 228.985 8.77962C229.008 8.7263 229.041 8.67809 229.083 8.63775C229.125 8.59741 229.175 8.56573 229.229 8.54452C229.283 8.52331 229.341 8.513 229.399 8.51416C229.457 8.51532 229.514 8.52793 229.568 8.55129C229.675 8.59844 229.759 8.68623 229.802 8.79541C229.845 8.90458 229.842 9.02621 229.795 9.13361C229.396 10.0763 229.189 11.0895 229.188 12.1134C229.188 12.2307 229.141 12.3433 229.059 12.4263C228.976 12.5092 228.863 12.5559 228.746 12.5559V12.5523Z" fill="#292A2E" />
    <path d="M227.253 23.0902C227.195 23.0901 227.138 23.0786 227.085 23.0566C226.779 22.8941 226.545 22.6215 226.432 22.2937C226.057 21.4981 225.452 20.8328 224.696 20.383C224.595 20.3243 224.52 20.2276 224.49 20.1142C224.459 20.0008 224.475 19.8799 224.534 19.7781C224.593 19.6764 224.689 19.6021 224.803 19.5716C224.916 19.5412 225.037 19.557 225.139 19.6157C225.861 20.0407 226.471 20.6321 226.918 21.3406C227.022 20.6438 227.216 19.9635 227.496 19.3166C227.518 19.2616 227.55 19.2116 227.592 19.1695C227.634 19.1274 227.684 19.0942 227.738 19.0717C227.793 19.0492 227.852 19.038 227.911 19.0387C227.971 19.0393 228.029 19.0519 228.083 19.0756C228.138 19.0993 228.187 19.1337 228.227 19.1767C228.268 19.2197 228.3 19.2705 228.321 19.3259C228.342 19.3814 228.351 19.4405 228.348 19.4997C228.346 19.5589 228.332 19.617 228.306 19.6706C227.906 20.6138 227.699 21.6276 227.697 22.6521C227.697 22.7244 227.678 22.7954 227.644 22.859C227.61 22.9225 227.56 22.9767 227.5 23.0167C227.427 23.0647 227.341 23.0902 227.253 23.0902Z" fill="#292A2E" />
    <path d="M234.892 35.5683C234.822 35.5683 234.752 35.5516 234.69 35.5196C234.625 35.4865 234.57 35.4379 234.528 35.3782C234.486 35.3184 234.46 35.2494 234.452 35.1771C234.444 34.8326 234.563 34.4973 234.787 34.2355C235.29 33.5014 235.567 32.6359 235.584 31.746C235.585 31.6294 235.632 31.518 235.715 31.436C235.798 31.354 235.91 31.3079 236.026 31.308C236.144 31.308 236.256 31.3546 236.339 31.4376C236.422 31.5205 236.469 31.6331 236.469 31.7504C236.454 32.6052 236.238 33.4444 235.839 34.2001C236.489 33.9551 237.169 33.8002 237.861 33.7399C237.977 33.7331 238.091 33.7713 238.18 33.8466C238.269 33.9219 238.326 34.0285 238.338 34.1443C238.347 34.2612 238.31 34.3771 238.234 34.4665C238.158 34.556 238.05 34.6117 237.933 34.6214C236.938 34.7156 235.973 35.0171 235.101 35.5063C235.038 35.5445 234.966 35.5658 234.892 35.5683Z" fill="#292A2E" />
    <path d="M225.637 32.8187C225.325 32.7909 225.03 32.6605 224.799 32.4479C224.107 31.9196 223.27 31.6154 222.4 31.5762C222.342 31.5744 222.285 31.5611 222.232 31.5372C222.179 31.5132 222.131 31.4791 222.091 31.4367C222.052 31.3943 222.021 31.3444 222 31.29C221.98 31.2356 221.97 31.1777 221.972 31.1196C221.973 31.0613 221.986 31.0038 222.009 30.9505C222.033 30.8971 222.067 30.8491 222.109 30.8092C222.152 30.7692 222.202 30.7382 222.256 30.718C222.311 30.6977 222.369 30.6886 222.428 30.6912C223.261 30.7257 224.074 30.9633 224.795 31.3833C224.569 30.708 224.433 30.0062 224.389 29.2956C224.382 29.1785 224.422 29.0636 224.501 28.9761C224.579 28.8887 224.688 28.8358 224.806 28.8292C224.864 28.8228 224.924 28.8287 224.98 28.8467C225.036 28.8647 225.088 28.8943 225.132 28.9336C225.176 28.9729 225.211 29.0211 225.235 29.0749C225.259 29.1287 225.272 29.187 225.272 29.246C225.342 30.2667 225.615 31.263 226.076 32.1762C226.108 32.2402 226.124 32.3109 226.123 32.3823C226.121 32.4536 226.103 32.5236 226.068 32.5862C226.034 32.6488 225.985 32.7022 225.925 32.7418C225.866 32.7813 225.798 32.8059 225.727 32.8134C225.697 32.8169 225.667 32.8187 225.637 32.8187Z" fill="#292A2E" />
    <path d="M105.555 105.738L204.24 105.738V77.4179L105.555 77.4179V105.738Z" fill="#283B7C" />
    <path
      opacity="0.05"
      d="M105.555 105.738L204.24 105.738V77.4179L105.555 77.4179V105.738Z"
      fill="#292A2E" />
    <path d="M118.807 105.738H131.738V77.4179H118.807V105.738Z" fill="#3A9BB0" />
    <path d="M137.863 99.5827H191.63V82.8006H137.863V99.5827Z" fill="white" />
    <path d="M82.0264 77.4445L179.356 77.4445V49.1248L82.0264 49.1248V77.4445Z" fill="#6EA864" />
    <path d="M153.532 77.4445H166.285V49.1248H153.532V77.4445Z" fill="#497C40" />
    <path d="M94.462 71.2902H147.49V54.5082L94.462 54.5082V71.2902Z" fill="white" />
    <path d="M34.501 105.737L98.6142 30.7148L77.0852 12.3163L12.972 87.3381L34.501 105.737Z" fill="#AC9EFF" />
    <path d="M43.1098 95.6621L51.511 85.8315L29.982 67.4329L21.5808 77.2636L43.1098 95.6621Z" fill="#2843AE" />
    <path d="M50.8126 77.1773L85.7434 36.3031L72.9855 25.4002L38.0547 66.2744L50.8126 77.1773Z" fill="white" />
    <path d="M285.414 105.221H0.473022V116.417H285.414V105.221Z" fill="#B48B3C" />
  </svg>

  <svg
    id="raam"
    width="327"
    height="308"
    viewBox="0 0 327 308"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M310.421 -6.10352e-05H12.0213V298.399H310.421V-6.10352e-05Z" fill="#B5E1E3" />
    <path d="M313.841 -6.10352e-05H310.42V298.399H313.841V-6.10352e-05Z" fill="#F4F4F4" />
    <path
      opacity="0.05"
      d="M313.841 -6.10352e-05H310.42V298.399H313.841V-6.10352e-05Z"
      fill="black" />
    <path
      opacity="0.05"
      d="M238.131 205.622V127.551H174.18V172.908H75.1184V253.22H33.0157V298.4H75.1184H83.2296H296.066V205.622H238.131Z"
      fill="black" />
    <path
      opacity="0.34"
      d="M228.959 136.027H182.389V144.504H228.959V136.027Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M228.959 153.593H182.389V162.07H228.959V153.593Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M228.959 171.159H182.389V179.635H228.959V171.159Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M287.808 213.85H279.225V222.326H287.808V213.85Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M287.808 231.416H279.225V239.892H287.808V231.416Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M287.808 248.981H279.225V257.457H287.808V248.981Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M271.929 213.85H263.346V222.326H271.929V213.85Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M271.929 231.416H263.346V239.892H271.929V231.416Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M271.929 248.981H263.346V257.457H271.929V248.981Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M256.478 213.85H247.895V222.326H256.478V213.85Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M256.478 231.416H247.895V239.892H256.478V231.416Z"
      fill="#FFFFFA" />
    <path
      opacity="0.34"
      d="M256.478 248.981H247.895V257.457H256.478V248.981Z"
      fill="#FFFFFA" />
    <path d="M310.421 147.526H250.378V-6.10352e-05H245.412V147.526H83.2302V-6.10352e-05H78.2645V147.526H12.0213V152.491H78.2645V298.399H83.2302V152.491H245.412V298.399H250.378V152.491H310.421V147.526Z" fill="white" />
    <path d="M322.308 298.039H0.133835V307.962H322.308V298.039Z" fill="#F4F4F4" />
    <path
      opacity="0.1"
      d="M322.308 298.039H0.133835V307.962H322.308V298.039Z"
      fill="black" />
    <path
      opacity="0.1"
      d="M326.959 298.039H322.308V307.962H326.959V298.039Z"
      fill="black" />
    <path
      opacity="0.1"
      d="M326.959 298.039H322.308V307.962H326.959V298.039Z"
      fill="black" />
  </svg>
</section>

<section class="midden">
  <svg
    id="bank"
    width="846"
    height="335"
    viewBox="0 0 846 335"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M422.202 25.5687V179.336C518.736 180.608 711.803 179.641 711.803 165.6C711.803 148.048 743.472 69.4476 764.076 38.9232C780.559 14.5036 760.261 3.05692 748.051 0.386032H447.003C431.741 0.386032 424.11 17.1745 422.202 25.5687Z" fill="#DC994F" />
    <circle
      cx="548.497"
      cy="90.0512"
      r="9.53889"
      fill="#CB843C" />
    <circle
      cx="643.887"
      cy="90.0512"
      r="9.53889"
      fill="#CB843C" />
    <path d="M764.076 38.9232C780.559 14.5036 760.261 3.05692 748.051 0.386032H623.368C681.975 137.441 513.677 169.67 422.202 165.6V179.336C518.736 180.608 711.803 179.641 711.803 165.6C711.803 148.048 743.472 69.4476 764.076 38.9232Z" fill="#CB843C" />
    <path d="M422.288 25.5687V179.336C325.755 180.608 132.688 179.641 132.688 165.6C132.688 148.048 101.019 69.4476 80.4146 38.9232C63.9314 14.5036 84.2301 3.05692 96.4399 0.386032H397.487C412.75 0.386032 420.381 17.1745 422.288 25.5687Z" fill="#DC994F" />
    <path d="M422.288 25.5687V179.336C325.755 180.608 132.688 179.641 132.688 165.6C255.04 189.892 474.104 190.859 371.542 0.386032H397.487C412.75 0.386032 420.381 17.1745 422.288 25.5687Z" fill="#CB843C" />
    <circle
      cx="9.53889"
      cy="9.53889"
      r="9.53889"
      transform="matrix(-1 0 0 1 305.532 80.5123)"
      fill="#CB843C" />
    <circle
      cx="9.53889"
      cy="9.53889"
      r="9.53889"
      transform="matrix(-1 0 0 1 210.143 80.5123)"
      fill="#CB843C" />
    <path d="M775.203 252.567L785.825 331.168C786.073 333 784.648 334.629 782.8 334.629H774.122C772.934 334.629 771.855 333.941 771.354 332.864L747.432 281.45C746.931 280.373 745.852 279.685 744.665 279.685H99.5191C98.3381 279.685 97.2631 280.366 96.7589 281.434L72.465 332.88C71.9607 333.948 70.8857 334.629 69.7048 334.629H61.427C59.5679 334.629 58.1405 332.981 58.4058 331.141L69.7355 252.541C69.9521 251.039 71.2392 249.924 72.7568 249.924H772.178C773.706 249.924 774.999 251.053 775.203 252.567Z" fill="#89563D" />
    <path d="M763.4 37.0163C818.039 61.4359 839.584 78.4787 843.527 83.9476C792.78 83.9476 791.254 270.147 766.452 269.384C741.651 268.621 696.246 238.096 709.982 163.693C720.971 104.17 750.173 54.4407 763.4 37.0163Z" fill="#D29049" />
    <path d="M767.856 270.176H791.131C794.82 269.667 802.493 266.402 804.486 257.584C810.708 230.049 820.232 182.641 831.195 144.247C839.97 97.6841 861.337 77.4859 822.8 77.4865C778.787 77.4871 754.12 245.756 754.12 257.584C754.12 267.047 763.278 269.921 767.856 270.176Z" fill="#E8A660" />
    <path d="M81.6942 37.0152C27.0555 61.4347 5.51031 78.4775 1.56757 83.9465C52.3145 83.9465 53.8407 270.146 78.6418 269.383C103.443 268.619 148.848 238.095 135.112 163.692C124.123 104.169 94.9215 54.4395 81.6942 37.0152Z" fill="#D29049" />
    <path d="M77.2382 270.175H53.9633C50.275 269.666 42.6012 266.401 40.6089 257.584C34.387 230.048 24.8624 182.64 13.9 144.247C5.12423 97.6835 -16.2428 77.4852 22.2941 77.4858C66.3072 77.4864 90.9742 245.755 90.9742 257.584C90.9742 267.046 81.8169 269.921 77.2382 270.175Z" fill="#E8A660" />
    <rect
      width="663.907"
      height="59.5227"
      rx="12.9729"
      transform="matrix(-1 0 0 1 754.243 211.005)"
      fill="#D08C47" />
    <path d="M422.288 174.101V189.63C422.288 191.318 420.918 192.686 419.229 192.682L93.2773 191.922C91.6393 191.918 90.281 190.62 90.3193 188.983C90.4669 182.671 92.023 178.822 94.9137 177.809L129.671 166.884C129.967 166.791 130.275 166.743 130.586 166.743H415.787C420.376 167.053 422.034 171.778 422.288 174.101Z" fill="#E8A660" />
    <mask id="path-16-inside-1_1_8079" fill="white">
      <path d="M422.288 188.874C422.288 182.973 417.505 178.19 411.605 178.19H101.019C95.1181 178.19 90.3349 182.973 90.3349 188.874V212.53C90.3349 218.43 95.1181 223.214 101.019 223.214H411.605C417.505 223.214 422.288 218.43 422.288 212.53V188.874Z" />
    </mask>
    <path d="M422.288 188.874C422.288 182.973 417.505 178.19 411.605 178.19H101.019C95.1181 178.19 90.3349 182.973 90.3349 188.874V212.53C90.3349 218.43 95.1181 223.214 101.019 223.214H411.605C417.505 223.214 422.288 218.43 422.288 212.53V188.874Z" fill="#E8A660" />
    <path
      d="M422.288 188.874C422.288 182.552 417.164 177.427 410.842 177.427H101.782C95.4598 177.427 90.3349 182.552 90.3349 188.874C90.3349 183.395 95.1181 178.953 101.019 178.953H411.605C417.505 178.953 422.288 183.395 422.288 188.874ZM90.3349 223.214H422.288H90.3349ZM422.288 223.214V178.19V223.214ZM90.3349 178.19V223.214V178.19Z"
      fill="#FBC58C"
      mask="url(#path-16-inside-1_1_8079)" />
    <path d="M422.261 174.101V189.63C422.261 191.318 423.632 192.686 425.321 192.682L751.273 191.922C752.911 191.918 754.269 190.62 754.231 188.983C754.083 182.671 752.527 178.822 749.636 177.809L714.879 166.884C714.583 166.791 714.275 166.743 713.964 166.743H428.763C424.174 167.053 422.516 171.778 422.261 174.101Z" fill="#E8A660" />
    <mask id="path-19-inside-2_1_8079" fill="white">
      <path d="M422.262 188.874C422.262 182.973 427.045 178.19 432.945 178.19H743.531C749.432 178.19 754.215 182.973 754.215 188.874V212.53C754.215 218.43 749.432 223.214 743.531 223.214H432.945C427.045 223.214 422.262 218.43 422.262 212.53V188.874Z" />
    </mask>
    <path d="M422.262 188.874C422.262 182.973 427.045 178.19 432.945 178.19H743.531C749.432 178.19 754.215 182.973 754.215 188.874V212.53C754.215 218.43 749.432 223.214 743.531 223.214H432.945C427.045 223.214 422.262 218.43 422.262 212.53V188.874Z" fill="#E8A660" />
    <path
      d="M422.262 188.874C422.262 182.552 427.386 177.427 433.708 177.427H742.768C749.09 177.427 754.215 182.552 754.215 188.874C754.215 183.395 749.432 178.953 743.531 178.953H432.945C427.045 178.953 422.262 183.395 422.262 188.874ZM754.215 223.214H422.262H754.215ZM422.262 223.214V178.19V223.214ZM754.215 178.19V223.214V178.19Z"
      fill="#FBC58C"
      mask="url(#path-19-inside-2_1_8079)" />
    <g filter="url(#filter0_d_1_8079)">
      <path d="M703.067 15.6549C711.614 23.5912 725.452 102.65 731.302 141.187C734.355 142.713 741.528 148.055 745.801 157.212C750.075 166.369 736.39 166.115 729.013 164.843C725.197 167.514 587.837 169.803 577.535 174.001C569.294 177.358 570.286 163.953 571.812 156.831C566.089 151.489 545.866 58.0076 541.669 45.0348C538.311 34.6564 556.041 35.623 565.326 37.4036C593.561 15.2734 682.082 10.6947 682.463 9.16852C682.845 7.6423 695.818 0.774191 700.778 0.392636C704.746 0.0873913 703.957 10.4403 703.067 15.6549Z" fill="#002269" />
      <path d="M719.139 72.8815C721.428 82.0389 725.451 103.031 731.302 141.568C734.354 143.094 741.528 148.436 745.801 157.593C750.075 166.751 736.389 166.496 729.013 165.224C725.197 167.895 587.837 170.185 577.535 174.382C569.293 177.74 570.286 164.334 571.812 157.212C566.088 151.87 545.866 58.3889 541.669 45.416C538.311 35.0377 556.041 36.0043 565.325 37.7849C580.252 25.1871 601.238 23.2793 601.619 21.7531C631.265 81.8863 692.827 82.1661 719.139 72.8815Z" fill="#001E5C" />
      <path d="M571.575 156.632C565.852 151.29 547.058 63.7238 543.242 50.7509C548.711 46.4266 559.717 43.2267 560.938 64.2886C562.464 90.6159 586.791 145.192 577.298 173.802C569.057 177.159 570.049 163.754 571.575 156.632Z" fill="#001644" />
    </g>
    <defs>
      <filter
        id="filter0_d_1_8079"
        x="541.252"
        y="0.386032"
        width="209.175"
        height="177.579"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="3.81556" dy="3.05245" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_1_8079" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_1_8079"
          result="shape" />
      </filter>
    </defs>
  </svg>

  <svg
    id="plant"
    width="141"
    height="195"
    viewBox="0 0 141 195"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M80.579 136.843L89.7684 194.585H26.5745L37.8962 136.843H80.579Z" fill="#262626" />
    <path
      opacity="0.2"
      d="M80.579 136.843L89.7684 194.585H26.5745L37.8962 136.843H80.579Z"
      fill="white" />
    <path d="M59.7789 137.027C59.746 137.027 59.7131 137.024 59.6807 137.018C59.5242 136.992 59.3844 136.905 59.2921 136.776C59.1997 136.648 59.1624 136.487 59.1882 136.331L76.5921 31.318C76.6212 31.1645 76.7093 31.0285 76.8373 30.9391C76.9654 30.8496 77.1234 30.8138 77.2775 30.8393C77.4316 30.8648 77.5697 30.9496 77.6621 31.0755C77.7546 31.2014 77.794 31.3585 77.7722 31.5132L60.3684 136.526C60.3452 136.666 60.2732 136.792 60.1653 136.884C60.0574 136.976 59.9205 137.026 59.7789 137.027Z" fill="#494949" />
    <path d="M63.8806 113.226C63.7432 113.226 63.61 113.179 63.5034 113.092C63.3967 113.006 63.3231 112.885 63.2948 112.751C63.2666 112.616 63.2855 112.476 63.3484 112.354C63.4112 112.232 63.5142 112.135 63.64 112.08L106.133 93.5023C106.277 93.4443 106.438 93.4448 106.582 93.5036C106.726 93.5625 106.842 93.6751 106.904 93.8177C106.966 93.9602 106.971 94.1213 106.916 94.267C106.862 94.4127 106.752 94.5315 106.612 94.598L64.1193 113.176C64.0441 113.209 63.9628 113.226 63.8806 113.226Z" fill="#494949" />
    <path d="M65.9859 95.2443C65.9061 95.2269 65.8307 95.1935 65.7642 95.146L37.0997 74.6689C37.032 74.625 36.9738 74.5679 36.9287 74.5009C36.8836 74.4339 36.8525 74.3585 36.8373 74.2791C36.8222 74.1998 36.8232 74.1183 36.8404 74.0394C36.8576 73.9605 36.8906 73.8859 36.9374 73.8201C36.9842 73.7543 37.0438 73.6986 37.1127 73.6565C37.1815 73.6143 37.2582 73.5865 37.3381 73.5748C37.418 73.5631 37.4995 73.5677 37.5776 73.5883C37.6556 73.6089 37.7287 73.6451 37.7925 73.6947L66.4569 94.1724C66.5682 94.2526 66.6485 94.3687 66.6844 94.5011C66.7203 94.6335 66.7096 94.7742 66.6541 94.8997C66.5986 95.0251 66.5017 95.1277 66.3796 95.1902C66.2575 95.2527 66.1176 95.2713 65.9834 95.243L65.9859 95.2443Z" fill="#494949" />
    <path d="M118.49 126.86C130.909 120.702 135.191 104.044 128.056 89.6535C120.92 75.2629 105.068 68.5891 92.649 74.7471C80.2303 80.9051 75.9475 97.563 83.0832 111.954C90.219 126.344 106.071 133.018 118.49 126.86Z" fill="#0CBC8B" />
    <path
      opacity="0.5"
      d="M121.605 122.697C109.187 128.854 93.3334 122.179 86.1982 107.79C81.3592 98.0291 81.7711 87.2307 86.4162 79.3657C88.201 77.4631 90.3127 75.896 92.6508 74.7389C105.069 68.5811 120.922 75.2553 128.057 89.6452C132.9 99.4063 132.487 110.21 127.839 118.07C126.055 119.972 123.943 121.539 121.605 122.697Z"
      fill="white" />
    <path d="M101.979 42.7035C107.132 29.9361 100.475 15.2144 87.1115 9.82173C73.748 4.42905 58.7382 10.4074 53.586 23.1749C48.4339 35.9423 55.0904 50.664 68.4539 56.0567C81.8174 61.4494 96.8273 55.471 101.979 42.7035Z" fill="#0CBC8B" />
    <path
      opacity="0.5"
      d="M101.977 42.6982C101.782 43.1806 101.573 43.6504 101.347 44.1139C94.7473 53.4191 82.0136 57.2128 70.5024 52.5658C57.139 47.1732 50.4819 32.4508 55.6339 19.6832C55.8285 19.2008 56.0382 18.731 56.2637 18.2669C62.8635 8.96166 75.5971 5.16804 87.1084 9.81562C100.472 15.2082 107.129 29.9306 101.977 42.6982Z"
      fill="white" />
    <path d="M51.5574 82.936C58.2701 70.5523 55.0482 55.8172 44.3612 50.0243C33.6742 44.2313 19.569 49.5743 12.8563 61.958C6.1437 74.3417 9.36557 89.0768 20.0526 94.8697C30.7396 100.663 44.8448 95.3197 51.5574 82.936Z" fill="#0CBC8B" />
    <path
      opacity="0.5"
      d="M17.4572 91.127C28.1435 96.9207 42.25 91.576 48.9619 79.1931C53.5137 70.7954 53.4961 61.317 49.6779 54.2757C48.1745 52.5516 46.3741 51.111 44.3621 50.0223C33.6765 44.2286 19.57 49.5733 12.8581 61.9562C8.30308 70.359 8.31948 79.8374 12.1421 86.8736C13.6453 88.5978 15.4455 90.0383 17.4572 91.127Z"
      fill="white" />
  </svg>

</section>

<section class="onder">
  <svg
    id="tapijt"
    width="661"
    height="342"
    viewBox="0 0 661 342"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <ellipse
      cx="330.425"
      cy="170.998"
      rx="329.75"
      ry="170.715"
      fill="#59BAD9" />
    <ellipse
      cx="330.595"
      cy="170.998"
      rx="274.214"
      ry="141.963"
      fill="#4388AE" />
    <ellipse
      cx="330.595"
      cy="171.65"
      rx="209.521"
      ry="108.472"
      fill="#1E4E87" />
  </svg>
</section>

<svg
  id="muis"
  width="526"
  height="482"
  viewBox="0 0 526 482"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path d="M98.4667 457.815C98.4667 427.624 156.502 423.423 191.968 425.572C198.416 425.891 195.192 438.47 191.968 438.47H191.968C188.743 438.47 111.363 438.47 111.363 457.815C111.363 477.16 201.64 476.241 201.64 480.384C201.64 481.561 98.4667 485.465 98.4667 457.815Z" fill="#8E4747" />
  <path d="M465.147 57.121C403.243 33.907 368.422 68.943 358.749 89.3628L365.198 224.778C490.941 260.244 513.51 189.312 519.958 176.416C526.407 163.519 542.527 86.1387 465.147 57.121Z" fill="#E3C795" />
  <path d="M107.262 23.6662C173.33 21.1972 191.589 78.617 194.316 101.047L159.639 214.971C29.1315 208.897 26.6577 130.064 26.6577 120.392C26.6577 105.973 24.6776 26.7525 107.262 23.6662Z" fill="#E3C795" />
  <g filter="url(#filter0_i_1_8114)">
    <path d="M455.515 81.1232C402.966 63.3362 373.407 90.1814 365.197 105.827L370.67 209.585C477.41 236.759 496.569 182.41 502.043 172.529C507.516 162.647 521.201 103.357 455.515 81.1232Z" fill="#E8B6B6" />
  </g>
  <g filter="url(#filter1_i_1_8114)">
    <path d="M119.328 50.1407C174.805 49.8653 175.347 109.401 178.194 126.84L159.245 198.827C49.3863 190.89 46.3068 133.463 46.3068 122.167C46.3068 110.719 49.9816 50.4848 119.328 50.1407Z" fill="#E8B6B6" />
  </g>
  <path d="M224.692 454.659H173.106C173.106 441.762 186.002 441.762 182.778 438.538C179.554 435.314 153.76 425.641 150.536 393.399C147.957 367.606 175.255 359.008 189.226 357.934H198.899V419.193C216.954 419.193 223.618 442.837 224.692 454.659Z" fill="#E3C795" />
  <rect
    x="180.894"
    y="443.414"
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    fill="#FDE8D7" />
  <rect
    x="193.106"
    y="443.414"
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    fill="#FDE8D7" />
  <rect
    x="208.37"
    y="443.414"
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    fill="#FDE8D7" />
  <path d="M312.169 454.659H363.755C363.755 441.762 350.859 441.762 354.083 438.538C357.307 435.314 383.1 425.641 386.325 393.4C388.904 367.606 361.606 359.008 347.634 357.934H337.962V419.193C319.907 419.193 313.243 442.837 312.169 454.659Z" fill="#E3C795" />
  <rect
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    transform="matrix(-1 0 0 1 355.967 443.414)"
    fill="#FDE8D7" />
  <rect
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    transform="matrix(-1 0 0 1 343.756 443.414)"
    fill="#FDE8D7" />
  <rect
    width="9.15862"
    height="9.15862"
    rx="3.05287"
    transform="matrix(-1 0 0 1 328.492 443.414)"
    fill="#FDE8D7" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M329.67 255.629C337.614 305.066 350.099 408.455 336.479 426.51C322.86 444.566 308.106 453.378 302.431 455.528L268.384 455.528L268.383 455.528L234.335 455.528C228.661 453.378 213.906 444.566 200.287 426.51C186.668 408.455 199.152 305.066 207.097 255.629L268.383 255.629H329.67Z"
    fill="#E3C795" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M329.67 255.629C337.614 305.066 350.099 408.455 336.479 426.51C322.86 444.566 308.106 453.378 302.431 455.528L268.384 455.528L268.383 455.528L234.335 455.528C228.661 453.378 213.906 444.566 200.287 426.51C186.668 408.455 199.152 305.066 207.097 255.629L268.383 255.629H329.67Z"
    fill="url(#paint0_linear_1_8114)"
    fill-opacity="0.2" />
  <g filter="url(#filter2_i_1_8114)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M326.274 262.077C333.361 308.325 344.497 405.044 332.349 421.934C320.2 438.825 307.039 447.069 301.977 449.08H271.607V449.08H236.451C231.389 447.069 218.229 438.825 206.08 421.934C193.932 405.044 205.068 308.325 212.154 262.077H271.606V262.077H326.274Z"
      fill="#FDE8D7" />
  </g>
  <g filter="url(#filter3_i_1_8114)">
    <path d="M188.847 326.948C182.458 301.394 194.171 265.724 200.826 251.083L220.79 255.076C211.473 272.378 200.826 316.966 216.797 322.955C248.74 334.934 268.705 302.991 264.712 314.97C256.627 339.225 196.833 358.892 188.847 326.948Z" fill="#E3C795" />
  </g>
  <path d="M216.003 264.821C214.781 264.821 202.265 263.803 196.159 263.294L197.685 258.715L217.529 261.768C217.529 262.786 217.224 264.821 216.003 264.821Z" fill="#D8B881" />
  <g filter="url(#filter4_i_1_8114)">
    <path d="M339.694 326.948C346.082 301.394 334.37 265.724 327.715 251.083L307.751 255.076C317.067 272.378 327.715 316.966 311.743 322.955C279.8 334.934 259.836 302.991 263.828 314.97C271.913 339.225 331.708 358.892 339.694 326.948Z" fill="#E3C795" />
  </g>
  <path d="M312.169 264.821C312.169 264.821 325.907 263.803 332.012 263.294L328.959 258.715L310.642 260.242C310.642 261.259 312.169 264.821 312.169 264.821Z" fill="#D8B881" />
  <path d="M166.077 111.328C169.447 86.0564 188.914 65.9435 214.062 61.7522L258.931 54.274C265.248 53.2212 271.696 53.2212 278.013 54.274L321.409 61.5066C347.254 65.8142 367.008 86.9055 369.615 112.977L378.162 198.446C381.578 232.61 354.749 262.256 320.415 262.256H212.24C177.141 262.256 150.075 231.341 154.714 196.55L166.077 111.328Z" fill="#FDE8D7" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M212.698 61.6959C187.524 65.8073 167.986 85.8736 164.547 111.148L153.222 194.382C151.656 205.888 153.562 216.977 158.082 226.67C158.279 223.965 158.822 221.225 159.748 218.498C163.064 208.729 170.824 201.117 180.655 197.989L248.674 176.346C259.809 172.803 271.754 172.704 282.947 176.062L353.566 197.248C364.832 200.627 373.388 209.769 376.057 221.153C378.725 213.441 379.803 205.023 378.914 196.314L370.396 112.835C367.733 86.7418 347.9 65.6778 322.015 61.4501L277.463 54.1738C271.268 53.1619 264.949 53.1619 258.754 54.1738L212.698 61.6959Z"
    fill="#E3C795" />
  <path d="M288.356 171.708C288.356 176.766 279.335 183.92 268.207 183.92C257.079 183.92 248.058 176.766 248.058 171.708C248.058 166.65 257.079 162.549 268.207 162.549C279.335 162.549 288.356 166.65 288.356 171.708Z" fill="#4E4949" />
  <rect
    x="261.34"
    y="221.779"
    width="5.39102"
    height="8.98502"
    rx="2.69551"
    fill="white" />
  <rect
    x="266.731"
    y="221.779"
    width="5.39102"
    height="8.98502"
    rx="2.69551"
    fill="white" />
  <path
    d="M287.745 202.237C287.745 214.039 278.178 223.607 266.375 223.607C254.573 223.607 245.005 214.039 245.005 202.237"
    stroke="#4E4949"
    stroke-width="4.27402"
    stroke-linecap="round" />
  <ellipse
    cx="208.37"
    cy="179.34"
    rx="12.2115"
    ry="7.63219"
    transform="rotate(-16.1742 208.37 179.34)"
    fill="#E39D9D" />
  <ellipse
    cx="12.2115"
    cy="7.63219"
    rx="12.2115"
    ry="7.63219"
    transform="matrix(-0.960419 -0.278559 -0.278559 0.960419 342.929 175.458)"
    fill="#E39D9D" />
  <circle
    cx="209.039"
    cy="137.548"
    r="22.0404"
    transform="rotate(-19.549 209.039 137.548)"
    fill="white" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M216.496 153.611C224.812 150.658 229.16 141.523 226.207 133.206C223.254 124.89 214.118 120.542 205.802 123.495C203.427 124.338 201.375 125.686 199.725 127.375C201.784 127.578 203.642 128.938 204.38 131.016C205.398 133.884 203.899 137.034 201.031 138.053C198.952 138.791 196.725 138.206 195.269 136.736C194.999 139.082 195.247 141.525 196.091 143.9C199.044 152.216 208.179 156.564 216.496 153.611Z"
    fill="#393939" />
  <circle
    cx="321.398"
    cy="137.548"
    r="22.0404"
    transform="rotate(-19.549 321.398 137.548)"
    fill="white" />
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M323.249 153.611C331.565 150.658 335.913 141.523 332.96 133.206C330.007 124.89 320.871 120.542 312.555 123.495C310.18 124.338 308.128 125.686 306.478 127.375C308.537 127.578 310.395 128.938 311.133 131.016C312.151 133.884 310.652 137.034 307.784 138.053C305.706 138.791 303.478 138.206 302.022 136.736C301.752 139.082 302 141.524 302.844 143.9C305.797 152.216 314.932 156.564 323.249 153.611Z"
    fill="#393939" />
  <path
    d="M183.697 113.339C188.178 107.355 200.73 98.0746 215.092 108.828"
    stroke="#AE8D52"
    stroke-width="2.80345"
    stroke-linecap="round" />
  <path
    d="M352.462 113.339C347.982 107.355 335.43 98.0746 321.067 108.828"
    stroke="#AE8D52"
    stroke-width="2.80345"
    stroke-linecap="round" />
  <defs>
    <filter
      id="filter0_i_1_8114"
      x="365.197"
      y="75.2529"
      width="141.864"
      height="141.864"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha" />
      <feOffset dy="12.8967" />
      <feComposite
        in2="hardAlpha"
        operator="arithmetic"
        k2="-1"
        k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0.890196 0 0 0 0 0.596078 0 0 0 0 0.596078 0 0 0 1 0" />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_1_8114" />
    </filter>
    <filter
      id="filter1_i_1_8114"
      x="46.3067"
      y="50.1397"
      width="131.887"
      height="148.687"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha" />
      <feOffset dx="-6.44836" dy="12.8967" />
      <feComposite
        in2="hardAlpha"
        operator="arithmetic"
        k2="-1"
        k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0.891667 0 0 0 0 0.594444 0 0 0 0 0.594444 0 0 0 1 0" />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_1_8114" />
    </filter>
    <filter
      id="filter2_i_1_8114"
      x="200.675"
      y="262.077"
      width="137.079"
      height="187.003"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha" />
      <feOffset dy="3.05287" />
      <feComposite
        in2="hardAlpha"
        operator="arithmetic"
        k2="-1"
        k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0.838941 0 0 0 0 0.73217 0 0 0 1 0" />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_1_8114" />
    </filter>
    <filter
      id="filter3_i_1_8114"
      x="187"
      y="251.083"
      width="78.218"
      height="92.5087"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha" />
      <feOffset dy="3.05287" />
      <feComposite
        in2="hardAlpha"
        operator="arithmetic"
        k2="-1"
        k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0.845833 0 0 0 0 0.723115 0 0 0 0 0.503976 0 0 0 1 0" />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_1_8114" />
    </filter>
    <filter
      id="filter4_i_1_8114"
      x="263.322"
      y="251.083"
      width="78.218"
      height="92.5087"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha" />
      <feOffset dy="3.05287" />
      <feComposite
        in2="hardAlpha"
        operator="arithmetic"
        k2="-1"
        k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0.845833 0 0 0 0 0.723115 0 0 0 0 0.503976 0 0 0 1 0" />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_1_8114" />
    </filter>
    <linearGradient
      id="paint0_linear_1_8114"
      x1="268.383"
      y1="255.629"
      x2="269.429"
      y2="455.626"
      gradientUnits="userSpaceOnUse">
      <stop stop-color="#E3C795" />
      <stop offset="1" stop-color="#C2A674" />
    </linearGradient>
  </defs>
</svg>

{% render 'partials/footer.liquid' %}