<%- include('partials/head') %>
  <main>
    <section class="introduction-text">
      <h1> Measuring company impact simplified </h1>
      <p> Gain insights into your company's environmental and social impact with our innovative tool.
        Instead of relying solely on theoretical knowledge, observe real-time calculations of handprint and footprint.
        Understanding how your actions affect the environment and society is crucial for responsible business practices. </p>
    </section>
    <section class="signup-form">
      <form action="POST">
        <fieldset>
          <legend>Sign up</legend>
          <label> <span>Company Name</span>
            <input type="text" placeholder="Company Name" required>
          </label>
          <label> <span>Username</span>
            <input type="text" placeholder="Username" required>
          </label>
          <label> <span>Email Address</span>
            <input type="email" placeholder="Email Address" required>
          </label>
          <label> <span>Password</span>
            <input type="password" placeholder="Password" id="password" required>
          </label>
        </fieldset>
        <div class="password-strength-indicator">
          <p>Password must contain</p>
          <ul class="requirement-list">
            <li> <i class="fa-solid fa-circle" alt="Requirement"></i> <span>At least 8 characters length</span> </li>
            <li> <i class="fa-solid fa-circle" alt="Requirement"></i> <span>At least 1 number (0...9)</span> </li>
            <li> <i class="fa-solid fa-circle" alt="Requirement"></i> <span>At least 1 lowercase letter (a...z)</span>
            </li>
            <li> <i class="fa-solid fa-circle" alt="Requirement"></i> <span>At least 1 special symbol (!...$)</span>
            </li>
            <li> <i class="fa-solid fa-circle" alt="Requirement"></i> <span>At least 1 uppercase letter (A...Z)</span>
            </li>
          </ul>
        </div>
        <button class="btn-green"> Sign up </button>
      </form>
    </section>
  </main>
  </body>

  </html>