<%- include('partials/header.ejs') %>

<main>
  <ul id="message-container"></ul>
  <form id="send-container">
    <button>
      <img src="assets/smiley.svg" alt="">
    </button>
    <input type="text" placeholder="Type a message..." id="message-input">
    <button type="submit">
      <img src="assets/send.svg" alt="">
    </button>
  </form>
</main>

<%- include('partials/footer.ejs') %>