<link rel="stylesheet" href="/login.css">
<%- include('./partials/head') %>
<main>
  <!-- Div is leeg, maar is onderdeel van client-side script voor menu -->
  <div id="menu"></div>
 

<form class="login" action="" method="POST">
    <h2>Kies uw bedrijf om te beginnen met werken!</h2>

    <!-- Hier kunnen mensen kiezen met welk bedrijf ze willen inloggen. Werkt nog niet, heb hulp nodig om dit goed in de server neer te zetten -->
    <select class="custom-select" name="companies" id="hfcompany">
      <option value="" disabled selected>Selecteer een bedrijf</option>
      <% companies.forEach(company => { %>
        <option value="<%=company.id%>" name="bedrijf" id="bedrijf">
          <%= company.name %>
        </option>
        <% }) %>
      </option>
     
    </select>
  
  <!-- Hier kunnen bedrijven inloggen met hun gegevens -->
  <label for="username">E-mail:</label>
  <input type="email" id="email">
 
  <label for="password">Wachtwoord:</label>
  <input type="password" id="password" name="password">
  
  <button class="loginBtn">Log in</button>
</form>
</main>





<%- include('./partials/foot') %>


