{% render 'partials/head.liquid' %}

<main class="home">

    <div class="header-homepage">
        <a href="/veldbeheer">Veldbeheer</a>
        <a class="myacc" href="/account">


        {% render 'partials/picture.liquid',
            imagesrc: userMemoji,
            width: "200",
            height: "200",
            fetch: "high",
            loading: "eager",
        %}
        
        Mijn account</a>

        {% assign hoi_message = "Welkom, " | append: user.name %}
    </div>

    
    {% render 'partials/general-heading.liquid',
        heading_level: 1,
        content: hoi_message,
    %}  

    {% render 'partials/overzicht-collectie-homepage.liquid'%}  

    <section>
        <div class="textwrapper">
            <svg class="decorative" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.7345 14.3645C51.5824 12.6474 47.9045 12.2781 44.4911 13.3398C44.3247 9.74251 42.8304 6.3514 40.3141 3.86808C37.8008 1.38475 34.4586 0 30.9827 0C27.5098 0 24.1676 1.38475 21.6514 3.86808C19.138 6.3514 17.6407 9.74251 17.4744 13.3398C14.0728 12.2781 10.4068 12.6105 7.23098 14.2691C4.89591 15.54 2.96785 17.494 1.69039 19.8851C0.41294 22.2791 -0.160428 25.0056 0.0386168 27.732C0.240633 30.4584 1.20615 33.0648 2.8193 35.2281C4.43543 37.3945 6.62493 39.0223 9.12042 39.9117C7.52806 42.2596 6.66355 45.0568 6.64276 47.9248C6.6586 48.731 6.73089 49.5331 6.85963 50.3312C7.38249 53.5838 9.00456 56.541 11.4347 58.6735C13.8678 60.806 16.9515 61.9723 20.1362 61.9662C20.7958 62.0113 21.4563 62.0113 22.1178 61.9662C25.6531 61.3876 28.8318 59.3967 30.9679 56.421C33.1247 59.3505 36.3005 61.2922 39.8179 61.8369C40.4794 61.8841 41.14 61.8841 41.7995 61.8369C44.2682 61.8338 46.6895 61.1291 48.8017 59.7998C50.911 58.4673 52.6252 56.5625 53.763 54.2915C54.9008 52.0206 55.4118 49.4695 55.2454 46.9154C55.0791 44.3644 54.2383 41.9088 52.8153 39.8163C55.3227 38.9393 57.527 37.3206 59.155 35.1573C60.7801 32.994 61.7575 30.3846 61.9595 27.652C62.1645 24.9194 61.5881 22.1837 60.3047 19.7866C59.0184 17.3894 57.0814 15.4385 54.7345 14.1737V14.3645ZM25.8313 8.14543C27.2127 6.77298 29.0546 6.00983 30.9679 6.00983C32.8811 6.00983 34.723 6.77298 36.1044 8.14543C37.1591 9.24092 37.878 10.638 38.1632 12.1551C38.4514 13.6752 38.2939 15.2477 37.7146 16.6724L36.9095 18.5649L34.8656 20.4236C33.6119 19.9774 32.2958 19.7373 30.9679 19.7189C29.2507 19.7189 27.5544 20.0912 25.9858 20.8082L24.2538 16.6724C23.6507 15.2538 23.4814 13.6783 23.7636 12.1551C24.0458 10.6318 24.7648 9.23477 25.8313 8.14543ZM6.95469 30.0707C6.26249 28.4951 6.11098 26.7257 6.52392 25.0486C6.93687 23.3746 7.8905 21.8945 9.2244 20.8544C10.5613 19.8143 12.1982 19.2788 13.8678 19.3342C15.5344 19.3896 17.1357 20.0358 18.4042 21.159L19.9194 22.5376L21.0037 25.104C19.4529 27.2519 18.6063 29.8584 18.5884 32.5386C18.5528 33.0187 18.5528 33.4997 18.5884 33.9818H16.8862L14.2867 34.2372C12.8013 34.4003 11.301 34.0895 9.99087 33.3449C8.68074 32.6002 7.62016 31.4585 6.95469 30.0707ZM27.3791 49.5618C27.0048 51.2728 26.0749 52.796 24.744 53.8823C23.4131 54.9655 21.7613 55.5409 20.0679 55.5101C18.3745 55.4794 16.7436 54.8454 15.4483 53.7161C14.153 52.5868 13.2736 51.0266 12.9558 49.3034C12.93 48.8541 12.93 48.4058 12.9558 47.9586C12.9676 46.6539 13.3093 45.3768 13.945 44.2536C14.5778 43.1274 15.4869 42.195 16.5772 41.5457L18.1547 40.3917L20.971 40.0717C22.7476 42.6288 25.3679 44.4198 28.3387 45.106L27.3791 49.5618ZM30.9679 38.9516C29.7439 38.9516 28.5466 38.5731 27.5306 37.8684C26.5116 37.1668 25.7184 36.1636 25.249 34.9942C24.7826 33.8218 24.6578 32.5325 24.8985 31.2893C25.1361 30.0461 25.7273 28.9013 26.5918 28.0059C27.4563 27.1104 28.5585 26.498 29.7617 26.2518C30.9619 26.0057 32.2067 26.1318 33.3356 26.618C34.4675 27.1012 35.433 27.9228 36.1133 28.9783C36.7936 30.0307 37.1561 31.2708 37.1561 32.5386C37.1561 34.2403 36.5055 35.8713 35.3439 37.0714C34.1823 38.2746 32.6107 38.9516 30.9679 38.9516ZM48.977 49.2726C48.6591 51.2266 47.6104 52.9745 46.0596 54.1377C44.5089 55.3009 42.5778 55.7871 40.6854 55.4917C39.1941 55.2732 37.8008 54.587 36.6956 53.5284C35.5875 52.4698 34.821 51.0851 34.4942 49.5618L34.0635 47.6386L34.7111 44.6875C37.5661 43.7243 39.9873 41.7211 41.5202 39.047L43.068 40.007H43.3473L45.3882 41.2595C46.7162 42.0442 47.7738 43.2351 48.4185 44.6721C49.0602 46.1092 49.2563 47.7155 48.977 49.2726ZM54.981 30.0399C54.372 31.3139 53.4332 32.3878 52.2716 33.1387C51.1071 33.8926 49.7643 34.2957 48.3917 34.3019H47.649L45.6675 33.9818L43.3473 32.6679C43.3413 29.5506 42.2421 26.5442 40.2517 24.2055L41.5826 23.0207L43.5315 21.159C44.803 19.9897 46.428 19.3127 48.1273 19.245C49.8296 19.1804 51.4963 19.7281 52.8509 20.7959C54.2027 21.8637 55.1563 23.3869 55.5455 25.101C55.9347 26.818 55.7356 28.6182 54.981 30.1999V30.0399Z" fill="black"/>
            </svg>
                
            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: "Onze veldverkenner",
            %}  
        </div>

        <p>Ben jij ready voor een uitdaging? Op onze veldverkenner doe jij leuke opdrachten en leer je wat bij over het groen in ons park.</p>

        {% render 'partials/picture.liquid',
            imagesrc: "/assets/images/map-image",
            width: "275",
            height: "140",
            alt: "Kaart van de veldverkenner",
            class: "landscape",
            fetch: "auto",
            loading: "lazy",
        %}

        {% render 'partials/link.liquid',
            href: "/veldverkenner",
            standard_class: "styled secondary margin",
            content: "Naar onze veldverkenner",
        %}
    </section>

        <div class="textwrapper">
            <svg class="decorative" width="231" height="221" viewBox="0 0 231 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M173.253 98.2183H161.699C158.639 98.2183 155.7 99.5148 153.538 101.813C151.365 104.112 150.156 107.235 150.156 110.5C150.156 113.753 151.365 116.877 153.538 119.175C155.7 121.485 158.639 122.77 161.699 122.77H173.253C176.313 122.77 179.251 121.485 181.425 119.175C183.587 116.877 184.807 113.753 184.807 110.5C184.807 107.235 183.587 104.112 181.425 101.813C179.251 99.5148 176.313 98.2183 173.253 98.2183ZM173.253 147.333H161.699C158.639 147.333 155.7 148.618 153.538 150.928C151.365 153.227 150.156 156.35 150.156 159.603C150.156 162.868 151.365 165.992 153.538 168.29C155.7 170.588 158.639 171.885 161.699 171.885H173.253C176.313 171.885 179.251 170.588 181.425 168.29C183.587 165.992 184.807 162.868 184.807 159.603C184.807 156.35 183.587 153.227 181.425 150.928C179.251 148.618 176.313 147.333 173.253 147.333ZM103.952 73.6667H173.253C176.313 73.6667 179.251 72.3701 181.425 70.0717C183.587 67.7615 184.807 64.6381 184.807 61.385C184.807 58.1318 183.587 55.0084 181.425 52.6982C179.251 50.3998 176.313 49.1033 173.253 49.1033H103.952C100.891 49.1033 97.953 50.3998 95.7797 52.6982C93.6175 55.0084 92.3978 58.1318 92.3978 61.385C92.3978 64.6381 93.6175 67.7615 95.7797 70.0717C97.953 72.3701 100.891 73.6667 103.952 73.6667ZM219.457 0H57.7472C54.6869 0 51.7485 1.28474 49.5863 3.59494C47.413 5.89333 46.2044 9.0168 46.2044 12.2699V49.1033H11.5539C8.48245 49.1033 5.54409 50.3998 3.3819 52.6982C1.2197 55.0084 0 58.1318 0 61.385V184.167C0 193.926 3.64801 203.296 10.1457 210.203C16.6434 217.11 25.4585 221 34.6506 221H184.807C197.059 221 208.813 215.826 217.472 206.608C226.132 197.403 231 184.909 231 171.885V12.2699C231 9.0168 229.791 5.89333 227.618 3.59494C225.456 1.28474 222.518 0 219.457 0ZM46.2044 184.167C46.2044 187.42 44.9847 190.543 42.8225 192.842C40.6493 195.152 37.7109 196.437 34.6506 196.437C31.5902 196.437 28.6518 195.152 26.4786 192.842C24.3164 190.543 23.0967 187.42 23.0967 184.167V73.6667H46.2044V184.167ZM207.903 171.885C207.903 178.403 205.475 184.638 201.14 189.247C196.804 193.855 190.927 196.437 184.807 196.437H67.2276C68.5693 192.5 69.2678 188.351 69.3011 184.167V24.5516H207.903V171.885ZM103.952 122.77H115.506C118.566 122.77 121.504 121.485 123.666 119.175C125.84 116.877 127.048 113.753 127.048 110.5C127.048 107.235 125.84 104.112 123.666 101.813C121.504 99.5148 118.566 98.2183 115.506 98.2183H103.952C100.891 98.2183 97.953 99.5148 95.7797 101.813C93.6175 104.112 92.3978 107.235 92.3978 110.5C92.3978 113.753 93.6175 116.877 95.7797 119.175C97.953 121.485 100.891 122.77 103.952 122.77ZM103.952 171.885H115.506C118.566 171.885 121.504 170.588 123.666 168.29C125.84 165.992 127.048 162.868 127.048 159.603C127.048 156.35 125.84 153.227 123.666 150.928C121.504 148.618 118.566 147.333 115.506 147.333H103.952C100.891 147.333 97.953 148.618 95.7797 150.928C93.6175 153.227 92.3978 156.35 92.3978 159.603C92.3978 162.868 93.6175 165.992 95.7797 168.29C97.953 170.588 100.891 171.885 103.952 171.885Z" fill="black"/>
            </svg>

            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: "Laatste nieuwsberichten",
             %}  
        </div>

        <p>Hier zie je altijd de 4 laatste updates over Bloemenveld Frankendael. <a href="/nieuws>">Bekijk hier</a> alle nieuwsberichten.</p>

        {% render 'partials/carousel-news-homepage.liquid', 
            news: news, colors: true 
        %}

</main>

{% render 'partials/foot.liquid' %}