<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleguide.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
  </head>
  <body>
    {% assign imgURL = 'https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt7cedd97f624c058d/637da2d146a48b0e063e4aad/1600_Ramattra.jpg' %}
    {% assign contentVar = 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia accusantium temporibus doloremque eius repudiandae, quae accusamus nostrum unde natus est ea perspiciatis quam nam dolor. Nihil atque vel assumenda, maiores tempore dolorem officiis neque, illum quasi reprehenderit sapiente tempora possimus consectetur laboriosam aut modi, iusto voluptatem deleniti odio. Soluta rerum tenetur dolore quo laboriosam saepe quos, commodi eaque doloremque assumenda unde aut enim! Laborum quisquam quod libero, molestias corporis praesentium nesciunt earum fugiat similique ipsum veniam deserunt natus tempore quas fuga dicta eveniet, totam minus esse sequi dignissimos odio, pariatur excepturi. Assumenda eveniet cupiditate laboriosam, voluptas minima recusandae! Porro, est? ' %}
    {% render './partials/article.liquid',
      style: 'custom-class',
      title: 'lorem ipsum',
      content: contentVar,
      imgURL: imgURL,
      imgWidth: 300,
      imgHeight: 300,
      imgAlt: 'alt tekst voor img',
      imgFetch: 'auto',
      imgLoading: 'lazy',
      button: true,
      btnLink: 'https://fdnd.nl',
      btnText: 'klik op mij',
      btnStyle: 'primary-button'
    %}
  </body>
</html>
