{% render 'partials/head.liquid', user: user %}

<main class="home">

        <div class="textwrapper">
            <svg class="decorative" width="231" height="221" viewBox="0 0 231 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M173.253 98.2183H161.699C158.639 98.2183 155.7 99.5148 153.538 101.813C151.365 104.112 150.156 107.235 150.156 110.5C150.156 113.753 151.365 116.877 153.538 119.175C155.7 121.485 158.639 122.77 161.699 122.77H173.253C176.313 122.77 179.251 121.485 181.425 119.175C183.587 116.877 184.807 113.753 184.807 110.5C184.807 107.235 183.587 104.112 181.425 101.813C179.251 99.5148 176.313 98.2183 173.253 98.2183ZM173.253 147.333H161.699C158.639 147.333 155.7 148.618 153.538 150.928C151.365 153.227 150.156 156.35 150.156 159.603C150.156 162.868 151.365 165.992 153.538 168.29C155.7 170.588 158.639 171.885 161.699 171.885H173.253C176.313 171.885 179.251 170.588 181.425 168.29C183.587 165.992 184.807 162.868 184.807 159.603C184.807 156.35 183.587 153.227 181.425 150.928C179.251 148.618 176.313 147.333 173.253 147.333ZM103.952 73.6667H173.253C176.313 73.6667 179.251 72.3701 181.425 70.0717C183.587 67.7615 184.807 64.6381 184.807 61.385C184.807 58.1318 183.587 55.0084 181.425 52.6982C179.251 50.3998 176.313 49.1033 173.253 49.1033H103.952C100.891 49.1033 97.953 50.3998 95.7797 52.6982C93.6175 55.0084 92.3978 58.1318 92.3978 61.385C92.3978 64.6381 93.6175 67.7615 95.7797 70.0717C97.953 72.3701 100.891 73.6667 103.952 73.6667ZM219.457 0H57.7472C54.6869 0 51.7485 1.28474 49.5863 3.59494C47.413 5.89333 46.2044 9.0168 46.2044 12.2699V49.1033H11.5539C8.48245 49.1033 5.54409 50.3998 3.3819 52.6982C1.2197 55.0084 0 58.1318 0 61.385V184.167C0 193.926 3.64801 203.296 10.1457 210.203C16.6434 217.11 25.4585 221 34.6506 221H184.807C197.059 221 208.813 215.826 217.472 206.608C226.132 197.403 231 184.909 231 171.885V12.2699C231 9.0168 229.791 5.89333 227.618 3.59494C225.456 1.28474 222.518 0 219.457 0ZM46.2044 184.167C46.2044 187.42 44.9847 190.543 42.8225 192.842C40.6493 195.152 37.7109 196.437 34.6506 196.437C31.5902 196.437 28.6518 195.152 26.4786 192.842C24.3164 190.543 23.0967 187.42 23.0967 184.167V73.6667H46.2044V184.167ZM207.903 171.885C207.903 178.403 205.475 184.638 201.14 189.247C196.804 193.855 190.927 196.437 184.807 196.437H67.2276C68.5693 192.5 69.2678 188.351 69.3011 184.167V24.5516H207.903V171.885ZM103.952 122.77H115.506C118.566 122.77 121.504 121.485 123.666 119.175C125.84 116.877 127.048 113.753 127.048 110.5C127.048 107.235 125.84 104.112 123.666 101.813C121.504 99.5148 118.566 98.2183 115.506 98.2183H103.952C100.891 98.2183 97.953 99.5148 95.7797 101.813C93.6175 104.112 92.3978 107.235 92.3978 110.5C92.3978 113.753 93.6175 116.877 95.7797 119.175C97.953 121.485 100.891 122.77 103.952 122.77ZM103.952 171.885H115.506C118.566 171.885 121.504 170.588 123.666 168.29C125.84 165.992 127.048 162.868 127.048 159.603C127.048 156.35 125.84 153.227 123.666 150.928C121.504 148.618 118.566 147.333 115.506 147.333H103.952C100.891 147.333 97.953 148.618 95.7797 150.928C93.6175 153.227 92.3978 156.35 92.3978 159.603C92.3978 162.868 93.6175 165.992 95.7797 168.29C97.953 170.588 100.891 171.885 103.952 171.885Z" fill="black"/>
            </svg>

            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: "Laatste nieuwsberichten",
             %}  
        </div>

        <p>Hier zie je altijd de 4 laatste updates over Bloemenveld Frankendael. <a href="/nieuws>">Bekijk hier</a> alle nieuwsberichten.</p>

        {% render 'partials/carousel-news-homepage.liquid', news: news, colors: true %}
</main>

{% render 'partials/foot.liquid' %}
