<!doctype html>
<html lang="nl">
<title>Sprint 11</title>
{% comment %} <h1>Welkom in Sprint 11!</h1>
<p>Succes!</p>
<h4>Dit is een test - Emre</h4>
<p>SEMSETTIN ARABAYA BIN SEMSETTIN</p>
<p>Succes!</p> {% endcomment %}

{% render 'partials/head.liquid' %}


{% comment %} {% render 'partials/cardComponent.liquid', story: story %} {% endcomment %}

{% for story in stories limit: 1 %}
{% render 'partials/cardComponent.liquid', story: story %}
{% endfor %}