<%- include('partials/header.ejs') %>

<main>
  <h1>Lord of the rings</h1>
  <ul id="message-container"></ul>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit">Send</button>
  </form>
</main>

<%- include('partials/footer.ejs') %>