{% layout 'layouts/base.liquid'%}
{% block content %}
    <form action="/instrumenten/{{ instrument.key }}/innemen" method="POST">

        <legend>Instrument innemen</legend>
        
        <input type="hidden" name="status" value="Beschikbaar">
        <input type="hidden" name="action_type" value="Innemen">
        <input type="hidden" name="id" value="{{ instrument.id }}">
        <input type="hidden" name="key" value="{{ instrument.key }}">

        <label>
            Door wie word het instrument ingenomen ?
            <input type="text" name="performed_by" placeholder="Jouw naam" required>
        </label>
            
        <label>
            Door wie word het instrument teruggebracht ?
            <input type="text" name="involved_party" placeholder="Van wie wordt ingenomen?" required>
        </label>
        
        <div class="innemen-button-blok">
            <button class="btn btn-secondary" onclick="document.getElementById('innemen-dialog').close()">Annuleren</button>
            <button class="btn btn-primary" type="submit">Instrument Innemen</button>
        </div>
        
    </form>
{% endblock %}  