<%- include('./partials/head') %>

<div class="header-loading-page">
    <h3>
        Wacht tot het spel begint!
    </h3>
</div>

<div id="countdown">

</div>

<div class="sticker-growing-plant">
    <iframe src="https://giphy.com/embed/gFK6scW91lwIA6vRXD" width="312" height="480" frameBorder="0"
            class="giphy-embed"
            allowFullScreen></iframe>
</div>

<%- include('./partials/foot') %>