{% render 'partials/head.liquid', title: 'nieuws' %}
  <main>
      
    {% render 'partials/hero.liquid',
    title: 'news',
    content: 'Description here',
    btnLink: '/page',
    btnText: 'Button text',
    btn2Link: '/page2',
    btn2Text: 'Button 2 text',
    imgSrc: 'url',
    imgAlt: 'description',
    imgWidth: '800',
    imgHeight: '500',
    imgRight: true,
    style: 'hero--green'
  %}

    <section class="container news-grid">
      {% for newsArticle in news %}
        {% render 'partials/news-card.liquid',
          date: newsArticle.date,
          title: newsArticle.title,
          description: newsArticle.description
        %}
      {% endfor %}
    </section>
  </main>
    {% render './partials/footer.liquid' %}
  </body>
</html>
