{% render 'partials/head.liquid', title: 'nieuws' %}
  <main>
    <section>
      {% comment %} hero partial {% endcomment %}
    </section>

    {% comment %}
      <section class="container news-grid">
        {% for newsArticle in news limit: 3 %}
          {% render 'partials/news-card.liquid',
            date: newsArticle.date,
            title: newsArticle.title,
            description: newsArticle.description
          %}
        {% endfor %}
      </section>
    {% endcomment %}

    <section class="container news-grid">
      {% for newsArticle in news %}
        {% render 'partials/news-card.liquid',
          date: newsArticle.date,
          title: newsArticle.title,
          description: newsArticle.description
        %}
      {% endfor %}
    </section>
  </main>
    {% render './partials/footer.liquid' %}
  </body>
</html>
