{% assign page = "acties" %}
{% layout 'layouts/base.liquid' %}
{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/instrumenten">Instrumenten</a></li>
      <li><a href="/instrumenten/nieuw">Nieuw</a></li>
    </ol>
  </nav>
{% endblock %}
{% block content %}

{% endblock %}