{% render 'partials/head.liquid', user: user %}

<main class="news" id="TOP">
    <p id="top"></p>
    {% render 'partials/breadcrumbs.liquid', current_path: current_path %}

    {% render 'partials/general-heading.liquid',
        heading_level: 1,
        content: "Nieuws"
    %} 

    <section class="adjust-news">
        <p>jdewijfei</p>
    </section>

    {% render 'partials/general-heading.liquid',
        heading_level: 2,
        content: "Artikelen"
    %} 

    <section class="list-news">
        {% render 'partials/news-items.liquid', 
            news: news,
            current_path: current_path
         %}
    </section>

    {% render 'partials/back-to-top-btn.liquid' %}
</main>

{% render 'partials/foot.liquid', current_path: current_path %}