{% layout 'layouts/base.liquid' %}
{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/instrumenten">Instrumenten</a></li>
      <li><a href="/instrumenten/nieuw">Nieuw</a></li>
    </ol>
  </nav>
{% endblock %}
{% block content %}

<main class="toevoegen">
    <h1>Instrument Toevoegen</h1>

    <form action="/instrumenten/nieuw" method="POST" class="instrument-form">
      <div class="form-velden">
        <label>
          <span>Naam instrument</span>
          <input type="text" name="name" required>
        </label>

        <label>
          <span>Serienummer</span>
          <input type="text" name="serial_number" required>
        </label>

        <label>
          <span>Type</span>
          <select id="type" name="type" required>
            {% for type in types %}
              <option value="{{ type }}">{{ type }}</option>
              {% endfor %}
          </select>
        </label>

        <label>
          <span>Merk</span>
          <input type="text" name="brand" required>
        </label>

        <label>
          <span>Eigendom van</span>
          <input type="text" name="property" required>
        </label>

        <label>
          <span>Toegevoegd door:</span>
          <input type="text" name="performed_by" required>
        </label>
      </div>

     <button type="submit" class="knop-toevoegen">Instrument toevoegen</button>

    </form>
</main>

{% endblock %}