<%- include('./partials/head', {head:'', title: post.title.rendered}); -%>
<link rel="stylesheet" href="/styles/post.css" type="text/css">

</head>


<body>

<%- include('./partials/header',{header:'',img_src: post.yoast_head_json.og_image[0].url}); -%>

<main></main>

<%- include('./partials/foot'); -%>