<h1>Profile</h1>

<section>
    <img src="" alt="">
    <h2>Daan</h2>
    <button></button>
</section>

<section>   
    <h3>Account settings</h3>
    <ul>
        <li>Account information</li>
        <li>Privacy and sharing</li>
        <li>Notificaions</li>
        <li>Edit story settings</li>
        <li>Story questions</li>
    </ul>
</section>

<section>
    <h3>Research</h3>
    <ul>
        <li>Our research</li>
        <li>About Tumi Mundo</li>
        <li>Contact Us</li>
        <li>FAQ</li>
    </ul>
</section>

<section>
    <button>Switch account</button>
    <button>Sign out</button>
</section>