<%- include ("./partials/head") %>
<h1>Beoordeel uw hand/foot print met de gekozen SDG's</h1>
<h2>Kies een beoordeling van -5 tot 5</h2>
<main>
    <form action="/dashboard" method="post">
        <picture>
            
        </picture>
    </form>
</main>


<%- include ("./partials/foot") %>