<%- include('partials/head', {current: 'vragenlijst' }); %>
    <!-- <%- include('partials/vragenlijst_header', {current: 'stakeholders' }); %> -->

    <main>
        
    </main>



    <%- include('partials/foot') %>