{% render 'partials/header.liquid' %}
<style>
    body {
    background: linear-gradient(#219999, #144C5E);
    display: block;
    }
    
    h1, h2, h3, p, span {
        color: white;
    }
    
    h1 {
       margin-inline: 33.3%; 
    }
    
    h2 {
        align-self: flex-start;
    }
</style>

<h1>Statistics</h1>

<section class="todays-activities">
    <h2>Todays activities</h2>
    <span>
        <p>Today's listening</p>
        <p>00:00</p>
        <p>of your 5 minute goal</p>
    </span>
    <div class="button-container">
        <a href="">Change Goal</a>
        <a href="">Go to stories</a>
    </div>
</section>

<section class="total-activities">
    <h2>Total activities</h2>
    <img src="animal.png" alt="Animal">
    <article>
        <h3>You have done a lot of learning!</h3>
        <p>Here you can see everything you have done since you started learning with TuMi Mundo. I encourage you to keep going and do your best!</p>
    </article>
</section>

<section class="attention-span-test">
    <h2>The attention span test</h2>
    <p>A test for the first phase of the method. Tap on the points to see more in depth numbers.</p>
    <img src="grafiek.png" alt="Grafiek">
    <ul>
        <li>
            <p>April 29</p>
        </li>
        <li>
            <p>May 3</p>
        </li>
        <li>
            <p>May 29</p>
        </li>
        <li>
            <p>June 3</p>
        </li>
    </ul>
    <div>
        <p>See how other children are performing</p>
        <label>
            <input type="checkbox">
            <span></span>
        </label>
    </div>
</section>

<section class="stories">
    <h2>Stories</h2>
    <ul>
        <li>
            <span>12</span>
            <p>Stories read</p>
        </li>
        <li>
            <span>136</span>
            <p>Minutes spend listening</p>
        </li>
        <li>
            <span>8</span>
            <p>Test taken</p>
        </li>
        <li>
            <span>Morning</span>
            <p>Is your favorite moment</p>
        </li>
        <li>
            <span>Thuan-Hoa</span>
            <p>Is your favorite speaker</p>
        </li>
    </ul>
</section>

<section class="roadmap">
    <h2>The roadmap</h2>
    <p>Here you can see how far you are in the method!</p>

    <div class="roadmap-container">
        <span>
            <p>1.</p>
            <p>Listening method</p>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
            </svg>
        </span>

        <svg width="125" height="82" viewBox="0 0 125 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.50024 2.00001C4.50025 0.89544 3.60482 5.24521e-06 2.50025 0C1.39568 -5.24521e-06 0.50025 0.895421 0.500244 1.99999L4.50024 2.00001ZM124.5 70L104.591 58.2961L104.41 81.3894L124.5 70ZM0.500244 1.99999C0.500187 14.0302 0.548582 24.4191 2.29039 33.1443C4.05079 41.9626 7.56711 49.2375 14.5741 54.9581C21.5094 60.6201 31.6725 64.6 46.4012 67.2925C61.1471 69.9881 80.6657 71.4262 106.483 71.8584L106.55 67.8589C80.8079 67.428 61.545 65.9946 47.1205 63.3577C32.6789 60.7177 23.2828 56.9042 17.1038 51.8595C10.9965 46.8735 7.8434 40.5284 6.21299 32.3612C4.56399 24.1009 4.50019 14.1388 4.50024 2.00001L0.500244 1.99999Z" fill="url(#paint0_linear_1_2933)"/>
            <defs>
            <linearGradient id="paint0_linear_1_2933" x1="3" y1="2" x2="115" y2="69" gradientUnits="userSpaceOnUse">
            <stop stop-color="#37C6AB"/>
            <stop offset="1" stop-color="#37C6AB" stop-opacity="0.5"/>
            </linearGradient>
            </defs>
        </svg>

        <span>
            <p>2.</p>
            <p>The first words</p>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
            </svg>
        </span>

        <svg width="79" height="80" viewBox="0 0 79 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M75.5001 2.00001C75.5001 1.17158 76.1717 0.500004 77.0001 0.5C77.8285 0.499996 78.5001 1.17157 78.5001 1.99999L75.5001 2.00001ZM3.05176e-05 71L14.8897 62.1514L15.108 79.4706L3.05176e-05 71ZM78.5001 1.99999C78.5002 13.9234 79.0017 24.2729 78.6353 32.863C78.2673 41.4901 77.0237 48.7353 73.3401 54.5504C69.6219 60.4201 63.5605 64.6182 54.0293 67.4671C44.5327 70.3056 31.4669 71.8437 13.5479 72.3292L13.4667 69.3303C31.3067 68.8469 44.057 67.3167 53.1701 64.5927C62.2486 61.8792 67.5906 58.0206 70.8058 52.945C74.0557 47.8146 75.2758 41.2257 75.638 32.7351C76.0018 24.2076 75.5002 14.1559 75.5001 2.00001L78.5001 1.99999Z" fill="white" fill-opacity="0.3"/>
        </svg>

        <span>
            <p>3.</p>
            <p>People and animals</p>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
            </svg>
        </span>

        <svg width="154" height="79" viewBox="0 0 154 79" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.00024 2C3.00024 1.17157 2.32867 0.5 1.50024 0.5C0.671817 0.5 0.000244141 1.17157 0.000244141 2L3.00024 2ZM154 70L139.001 61.3376L138.999 78.6581L154 70ZM0.000244141 2C0.000244141 18.4109 -0.00879908 31.1009 2.21018 40.7666C3.32811 45.6362 5.02487 49.8135 7.62004 53.3587C10.2212 56.9121 13.6733 59.7601 18.2008 62.0402C27.1847 66.5646 40.4881 68.8887 60.0476 70.1163C79.6508 71.3466 105.764 71.4828 140.501 71.4981L140.503 68.4981C105.739 68.4828 79.7266 68.3455 60.2355 67.1222C40.7008 65.8962 27.9415 63.5868 19.5502 59.3608C15.39 57.2656 12.3264 54.7091 10.0408 51.5867C7.74918 48.4562 6.18809 44.6863 5.13411 40.0953C3.00929 30.8398 3.00024 18.5549 3.00024 2L0.000244141 2Z" fill="white" fill-opacity="0.3"/>
        </svg>

        <span>
            <p>4.</p>
            <p>Sentences</p>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
            </svg>
        </span>

        <svg width="58" height="80" viewBox="0 0 58 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M54.0001 2.00001C54.0001 1.17158 54.6716 0.500004 55.5001 0.5C56.3285 0.499996 57.0001 1.17157 57.0001 1.99999L54.0001 2.00001ZM0.000453949 71L14.8042 62.0084L15.1893 79.3246L0.000453949 71ZM57.0001 1.99999C57.0001 7.88054 57.147 13.324 57.3044 18.3634C57.4616 23.3942 57.6301 28.0422 57.6707 32.2917C57.7516 40.757 57.3343 47.8769 55.1936 53.6358C53.0119 59.5047 49.0739 63.8792 42.3755 66.9056C35.7653 69.8922 26.4821 71.5615 13.5631 72.1982L13.4154 69.2019C26.2203 68.5707 35.0502 66.9233 41.1403 64.1717C47.1422 61.46 50.4915 57.6749 52.3816 52.5904C54.3126 47.3959 54.7516 40.7686 54.6709 32.3203C54.6306 28.1131 54.4638 23.5127 54.3059 18.4571C54.1482 13.41 54.0001 7.92877 54.0001 2.00001L57.0001 1.99999Z" fill="white" fill-opacity="0.3"/>
        </svg>

        <span>
            <p>5.</p>
            <p>Reading and writing</p>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
            </svg>
        </span>
    </div>
</section>

{% render 'partials/footer.liquid' %}