{% render 'partials/head.liquid' %}

<h1>Statistics</h1>

<section class="todays-activities">
    <h2>Todays activities</h2>
    <del>
        <p>Today's listening</p>
        <p>00:00</p>
        <p>of your 5 minute goal</p>
        <span>(boog)</span>
    </del>
    <a href="">Change Goal</a>
    <a href="">Go to stories</a>
</section>

<section class="total-activities">
    <h2>Total activities</h2>
    <img src="/public/animal.png" alt="Animal">
    <article>
        <h3>You have done a lot of learning!</h3>
        <p>Here you can see everything you have done since you started learning with TuMi Mundo. I encourage you to keep going and do your best!</p>
    </article>
</section>

<section class="attention-span-test">
    <h2>The attention span test</h2>
    <p>A test for the first phase of the method. Tap on the points to see more in depth numbers.</p>
    <img src="/public/grafiek.png" alt="Grafiek">
    <ul>
        <li>
            <p>April 29</p>
        </li>
        <li>
            <p>May 3</p>
        </li>
        <li>
            <p>May 29</p>
        </li>
        <li>
            <p>June 3</p>
        </li>
    </ul>
    <p>See how other children are performing</p>
    <button></button>
</section>

<section>
    <h2>Stories</h2>
    <ul>
        <li>
            <span>12</span>
            <p>Stories read</p>
        </li>
        <li>
            <span>136</span>
            <p>Minutes spend listening</p>
        </li>
        <li>
            <span>8</span>
            <p>Test taken</p>
        </li>
        <li>
            <span>Morning</span>
            <p>Is your favorite moment</p>
        </li>
        <li>
            <span>Thuan-Hoa</span>
            <p>Is your favorite speaker</p>
        </li>
    </ul>
</section>

<section>
    <h2>The roadmap</h2>
    <span>
        <p>1.</p>
        <p>Listening method</p>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
        </svg>
    </span>
    <span>
        <p>2.</p>
        <p>The first words</p>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
        </svg>
    </span>
    <span>
        <p>3.</p>
        <p>People and animals</p>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
        </svg>
    </span>
    <span>
        <p>4.</p>
        <p>Sentences</p>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
        </svg>
    </span>
    <span>
        <p>5.</p>
        <p>Reading and writing</p>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45835 0.166748C8.45835 2.58299 10.4171 4.54175 12.8334 4.54175C13.1785 4.54175 13.4584 4.82157 13.4584 5.16675C13.4584 5.51193 13.1785 5.79175 12.8334 5.79175C11.0663 5.79175 9.48958 4.97696 8.45835 3.70258V13.5001C8.45835 15.6862 6.68615 17.4584 4.50002 17.4584C2.31389 17.4584 0.541687 15.6862 0.541687 13.5001C0.541687 11.314 2.31389 9.54175 4.50002 9.54175C5.5477 9.54175 6.50031 9.94877 7.20835 10.6133V0.166748H8.45835ZM7.20835 13.5001C7.20835 12.0043 5.99579 10.7917 4.50002 10.7917C3.00425 10.7917 1.79169 12.0043 1.79169 13.5001C1.79169 14.9959 3.00425 16.2084 4.50002 16.2084C5.99579 16.2084 7.20835 14.9959 7.20835 13.5001Z" fill="white"/>
        </svg>
    </span>
</section>

{% render 'partials/footer.liquid' %}