{% render 'partials/header.liquid' %}
<style>
    body{
        background: var(--story-nightmode);
        height: 100vh;
        background-size:cover;
        margin: 20px;
    }
</style>

<main class="storysettings">
    <section class="heading-story-settings">
        <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3398 0.555038C14.0797 1.29498 14.0797 2.49466 13.3398 3.2346L4.5743 12.0001L13.3398 20.7656C14.0797 21.5055 14.0797 22.7052 13.3398 23.4451C12.5998 24.1851 11.4002 24.1851 10.6602 23.4451L0.554955 13.3399C-0.184985 12.5999 -0.184985 11.4002 0.554955 10.6603L10.6602 0.555038C11.4002 -0.184903 12.5998 -0.184903 13.3398 0.555038Z" fill="white"/>
        </svg>

        <h1>Story settings</h1>
    </section>

    {% render 'partials/voice-preview.liquid' %}

    {% render 'partials/pick-background.liquid' %}

    <section>
        <h2>Volume</h2>
    </section>

    <section>
        <h2>Sleep mode</h2>
        <p>The story will automatically stop and the app will close after the chosen time.</p>
    </section>

    <button>Continue</button>

</main>


{% render 'partials/footer.liquid' %}