<%- include('./partials/head') %>

<body>
    <main>
      <section>
        <h1>Tipruimte<span>Meest recente tips</span></h1>
        <ul></ul>
        <form>
          <input type="text" autocomplete="off" />
          <button><span>Stuur</span></button>
        </form>
      </section>
    </main>
  </body>
</html>

<%- include('./partials/foot') %>