<%- include('./partials/head') %>

<section class="quiz-container" id="quiz">

    <div class="quiz-header">
       <h4 id="question">De quiz is aan het laden...</h4>
    
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer" />
        <label for="a" id="a_text">Antwoord...</label>
      </li>
      <li>
        <input type="radio" name="answer" id="b" class="answer" />
        <label for="b" id="b_text">Antwoord...</label>
      </li>
      <li>
        <input type="radio" name="answer" id="c" class="answer" />
        <label for="c" id="c_text">Antwoord...</label>
      </li>
      <li>
        <input type="radio" name="answer" id="d" class="answer" />
        <label for="d" id="d_text">Antwoord...</label>
      </li>
    </ul>
    </div>
          <button id="submit">Volgende</button>
</section>
    

<%- include('./partials/foot') %>