<%- include('./partials/head') %>

<div class="intro-welcome-page">
    <h1>Hi!</h1>
    <p>Welkom bij onze planten trivia! Test je kennis over de fascinerende wereld van planten met deze 10
        multiple-choice vragen. Van vleesetende planten tot bloemen met symbolische betekenissen, deze vragen zullen je
        uitdagen en verrassen. Klaar om te zien hoeveel je weet? Laten we beginnen!</p>
</div>

<div class="form-welcome-page">
    <form class="flex-container-form">
        <label><h2>Voeg hier je naam toe:</h2></label>
        <input type="text" id="name" name="name" placeholder="" >
    </form>
</div>

<div class="button-welcome-page">
    <a href="/loading"> <button id="submit">Volgende </button></a>
</div>

<%- include('./partials/foot') %>

