<%- include('./partials/head') %>

<div class="intro-welcome-page">
    <h1>Hi!</h1>
    <ul id="name-list"></ul>
    <p>Welkom bij onze planten trivia! Test je kennis over de fascinerende wereld van planten met deze 10
        multiple-choice vragen. Van vleesetende planten tot bloemen met symbolische betekenissen, deze vragen zullen je
        uitdagen en verrassen. Klaar om te zien hoeveel je weet? Laten we beginnen!</p>
</div>

    <div class="button-welcome-page">
        <a href="/loading">
            <button id="next">Volgende</button>
        </a>
    </div>

<div class="active-players">
    <!--    WEERGEVEN HOEVEEL ACTIEVE SPELERS -->

</div>



<%- include('./partials/foot') %>

