{% include 'partials/head.liquid' %}
<style>
.grid_likedproducts{
  
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}






</style>
<main class="grid_likedproducts">
 

      
  
    <article class="opgeslagen-product">
      
        <img src="" alt="producten">
          <h2>test</h2>
          <p>bedrag</p>

        <form method="post" action="" class="like-form">
            <input type="hidden" name="id" value="{{ product.id }}">

        <button type="submit" class="lijst-button">
          <img class="verwijder" src="" alt="lijst">
        </button>
      </form>


</article>



</main>





{% include 'partials/foot.liquid' %}