body.bookmarks .container-bookmarks main svg, body.bookmarks .container-bookmarks main .text-xxl, body.bookmarks .container-bookmarks aside svg, body.bookmarks .container-bookmarks aside .text-xxl{
    display: inline-block;
}
body.bookmarks .text-xxl{
    font-weight: 900;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article{
    margin-bottom: 1rem;
    max-width: 380px;
    color: #fff;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article svg > *{
    fill: #fff;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article:last-of-type{
    margin-bottom: 0;
}

body.bookmarks .container-bookmarks main .bookmarks-overview article picture{
    width: 100%;
    height: 330px;
    display: block;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body.bookmarks .container-bookmarks aside {
    background-color: rgba(255, 38, 30, 0.8);
    padding: 45px 20px;
    text-align: center;
    color: #fff;
}
body.bookmarks .container-bookmarks aside svg > *{
    fill: #fff;
}
body.bookmarks .container-bookmarks aside nav ul.radiostations{
    gap: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body.bookmarks .container-bookmarks aside nav ul.radiostations li{
    display: flex;
    flex-direction: column;
}
body.bookmarks .container-bookmarks aside nav ul.radiostations li a{
    padding: 10px 0;
    border-radius: 8px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
}
body.bookmarks .container-bookmarks aside nav ul.radiostations li a img{
    max-width: 140px;
    max-height: 60px;
    transition: 0.2s ease-in;
}
.block-radio-1 > a {
    background-color: #33B6E8; /* Veronica */
}

.block-radio-1 img {
    filter: brightness(1);
}

.block-radio-1 ul.socials > li > a {
    background-color: #33B6E8;
}

.block-radio-2 > a {
    background-image: linear-gradient(175deg, #e50069 50%, #33B6E8 50%); /* SLAM! */
}

.block-radio-2 img {
    filter: brightness(1);
}

.block-radio-2 ul.socials > li > a {
    background-color: #e50069;
}

.block-radio-3 > a {
    background-color: #E87E08; /* 100% NL */
}

.block-radio-3 ul.socials > li > a {
    background-color: #E87E08;
}


dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 1rem;
  margin-right: 1rem;
}
dd {
  margin-left: auto;
  width: calc(100% - 2rem)
}
/* Base colors */
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-1 {
    background-color: #0076D1;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-1 .bookmark-label{
    background-color: #0076D1;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-2 {
    background-color: #E90166;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-2 .bookmark-label{
    background-color: #E90166;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-3 {
    background-color: #0F852C;
}
body.bookmarks .container-bookmarks main .bookmarks-overview article.radio-3 .bookmark-label{
    background-color: #0F852C;
}