body{
    /* SLAM! */
    --color-primary: var(--color-black);
    --color-secondary: #e50069;
    --color-accent: var(--color-black);
    --color-bg: #222222;
    --color-timeline: #5D5D5D;
    --color-text-header: #F5F5F5;
    --color-text-main: var(--color-white);
    --color-text-ghost: #8B8B8B;
    --color-light: #5d5d5d;
    --color-card-bg: #111;
    --color-card-txt: #fff;
}
/* Specific slam styles */
header.header-o.radio-2{
    background-image: url("https://www.slam.nl/slam/campaign-banner.png");
    background-position: 40% center;
    background-size: 180%;
    @media (min-width: 680px){
        background-image: none;
    }
}
p{
    color: var(--color-text-main);
}