/* algemene styling zoals kleuren, font styling etc. */
@font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    --color-white: #fff;
    --color-black: #000;
    --text-xs: 0.625rem; /* 10px */
    --text-s: 0.75rem; /* 12px */
    --text-m: 1rem; /* 16px */
    --text-l: 1.25rem; /* 20px */
    --text-xl: 1.75rem; /* 28px */
    --text-xxl: 3.625rem; /* 58px */
    font-family: 'BrutalType', sans-serif;
    --one-day: 2000px; /* 1 day in px for the timetables. Increasing this will increase eaxch timeblock. */
    @media (min-width: 1200px){
      --one-day: 7500px;
    }
    
}

/* Base styling if no modern CSS */
ul{
list-style-type: none;
padding: 0;
margin: 0;
}
svg > * {
    fill: black;
}
a{
  color: inherit;
  text-decoration: none;
}
/*  */

.desktop-hidden{
  @media (min-width: 680px){
    display: none;
  }
}
.desktop-show{
  @media (max-width: 680px){
    display: none;
  }
}
.mobile-hidden{
  @media (max-width: 680px){
    display: none;
  }
}
.mobile-show{
  @media (min-width: 680px){
    display: none;
  }
}
.text-xl{
  font-size: var(--text-l);
  @media (min-width: 680px){
    font-size: var(--text-xl);
  }
  color: var(--color-text-header);
}
.text-xxl{
  font-size: var(--text-xl);
  @media (min-width: 680px){
    font-size: var(--text-xxl);
  }
}
.text-l{
  font-size: var(--text-l);
  color: var(--color-text-header);
}
.text-m{
  font-size: var(--text-m);
}
.text-s{
  font-size: var(--text-s);
}
.text-xs{
  font-size: var(--text-xs);
}
.part-ghost{
  color: var(--color-text-ghost);
  *{
    color: var(--color-text-ghost);
    fill: var(--color-text-ghost);
  }
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
