body.home{
    main{
        .text-xxl{
            margin: 45px 0;
            text-align: center;
            padding: 0 1rem;
        }
        ul.radiostations{
            background-color: #F5F5F5;
            padding: 1rem;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            >li{
                display: flex;
                flex-direction: column;
                >a{
                    padding: 10px 0;
                    border-radius: 8px;
                    width: 100%;
                    height: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s ease-in;
                    img{
                        max-width: 140px;
                        max-height: 60px;
                        transition: 0.2s ease-in;
                    }

                    &:hover, &:focus{
                        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.55);
                        img{
                            scale: 1.3;
                        }
                    }
                }
                .radio-name{
                    margin-top: 1rem;
                    text-align: center;
                    font-weight: 900;
                    order: 1;
                }
                ul.socials{
                    margin: 1rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: .5rem;
                    order: 1;
                    >li{
                        max-width: 48px;
                        >a{
                            padding: 0.8rem;
                            display: flex;
                            border-radius: 100rem;
                            justify-content: center;
                            align-items: center;
                            width: 48px;
                            height: 48px;
                            color: #fff;
                            transition: 0.2s ease-in;
                            svg{
                                transition: 0.2s ease-in;
                            }
                            svg > *{
                                fill: #fff;
                            }
                            .sr-only{
                                clip-path: inset(50%) !important;
                                height: 1px !important;
                                overflow: hidden !important;
                                margin: -1px !important;
                                padding: 0 !important;
                                position: absolute !important;
                                width: 1px !important;
                            }
                            &:hover, &:focus{
                                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
                                svg{
                                    scale: 1.3;
                                }
                            }
                        }
                    }
                }
                &.block-radio-1{
                    >a{
                        background-color: #33B6E8; /* Veronica */
                    }
                    ul.socials{
                        >li{
                            >a{
                                background-color: #33B6E8; 
                            }
                        }
                    }
                }
                &.block-radio-2{
                    >a{
                        background-image: linear-gradient(175deg, #e50069 50%, #33B6E8 50%); /* SLAM! */
                    }
                    ul.socials{
                        >li{
                            >a{
                                background-color: #e50069; 
                            }
                        }
                    }
                }
                &.block-radio-3{
                    >a{
                        background-color: #E87E08; /* 100% NL */
                    }
                    ul.socials{
                        >li{
                            >a{
                                background-color: #E87E08; 
                            }
                        }
                    }
                }
            }
            @media (min-width: 680px){
                padding: 3rem;
                flex-direction: row;
                li{
                    flex: 1 !important;
                    max-width: 450px;
                    a{
                        height: 150px;
                    }
                }
            }
            @media (min-width: 1200px){
                padding: 88px 95px;
            }
        }
        .button-bookmark{
            padding: 8px 12px;
            color: #fff;
            background: #B0120C;
            border-radius: 10px;
            outline: 7px solid rgba(176, 18, 12, 0.22);
            margin: 100px auto 0 auto;
            display: block;
            width: fit-content;
            transition: 0.2s ease-in;
            font-weight: 900;
            &:hover, &:focus{
                outline-width: 12px;
            }
        }
    }
}