@import url("./sticky-menu.css"); /* sticky menu styling */

body{
  background-color: #FAFAFA;
  background-color: var(--color-bg);
}

    
    .overview-shows{
        @supports (display: grid){
          grid-template-columns: 50px 1fr;
          display: grid;
          grid-template-rows: auto 1fr;
        }
        margin-top: 2rem;
        padding: 0 20px;
        .text-xl{
            grid-column: 1/-1;
            margin-bottom: 2rem;
            text-align: center;
            @media (min-width: 1200px){
                grid-row: 1 / 1;
                position: sticky;
                left: 0;
                margin-right: auto;
            }
        }
        @supports (display: grid){
          .timeline-wrapper{
              z-index: 1;
              position: relative;
              .current-time{
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background-color: var(--color-secondary);
                  border-radius: 50%;
                  z-index: 2;
                  &:after{
                      left: 100%;
                      position: absolute;
                      content: '';
                      height: 1px;
                      background-color: var(--color-secondary);
                      width: calc(100vw - 50px);
                      top: 50%;
                      transform: translateY(-50%);
                  }
              }
              .timeline{
                  height: var(--one-day);
                  .hour{
                      height: calc(1/24*100%);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      color: var(--color-timeline);
                      font-size: var(--text-s);
                      position: relative;
                      .dots{
                          width: 0px;
                          border-right: 2px dashed var(--color-light);
                          height: 64px;
                          @media (min-width: 1200px){
                              width: calc(100% - 60px);
                              margin: 0 30px;
                              height: min-content;
                              border-top: 2px dashed var(--color-light);
                              border-right: 0;
                              position: absolute;
                              top: 50%;
                              left: 0;
                              translate: 0 -50%;
                          }
                      }
                      &.hour-end{
                          justify-content: start;
                          align-items: start;
                          gap: 0;
                          height: initial !important;
                          @media (min-width: 1200px){
                              min-width: initial;
                          }
                          .dots{
                              display: none;
                              @media (min-width: 1200px){
                                  display: block;
                              }
                          }
                      }
                      &:after{
                        content: attr(data-content);
                        position: absolute;
                        top: 0;
                        translate: 0 -80%;
                      }
                      @media (min-width: 1200px){
                          height: auto;
                          min-width: calc(1 / 24 * 100%);
                          align-items: start;
                          position: relative;
                      }
                  }
                  @media (min-width: 1200px){
                      width: var(--one-day) !important;
                      height: auto !important;
                      display: flex;
                  }
                  
              }
              @media (min-width: 1200px){
                  grid-row: 2 / 2;
                  
              }
          }
        }
        @supports not (display: grid){
          .timeline-wrapper{
            display: none;
          }
        }
        .show-wrapper{
            
            z-index: 2;
            height: var(--one-day);
            display: flex;
            flex-direction: column;
            .card-show{
                background-color: var(--color-card-bg);
                border-radius: 8px;
                display: grid;
                grid-template-columns: min-content 1fr min-content;
                grid-template-rows: min-content 1fr min-content min-content;
                align-items: center;
                picture{
                    border-right: 1px solid var(--color-light);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    grid-row: 1/-1;
                    img{
                        max-width: 40px;
                        max-height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin: 0 12px;
                        @media (min-width: 1200px){
                            max-width: 165px;
                            max-height: 165px;
                            min-width: 165px;
                            min-height: 165px;
                        }
                    }
                    @media (min-width: 1200px){
                       border-right: 0;
                    }
                }
                &.active-show {
                    overflow: hidden;
                    @media (max-width :1200px){
                        picture{
                            background-color: var(--color-secondary);
                            border-color: var(--color-secondary);
                        }
                        .part-content{
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            border: 2px solid var(--color-secondary);
                            .text-l{
                                color: var(--color-secondary);
                            }
                        }
                    }
                    @media (min-width: 1200px){
                        background-color: var(--color-secondary);
                        .part-content{
                            .text-l{
                                color: var(--color-white);
                            }
                            p, p.body   {
                                color: var(--color-white);
                            }
                            .show-time, .show-deejay{
                                color: var(--color-white);
                                time{
                                    color: var(--color-white);
                                }
                                svg > *{
                                    fill: var(--color-white);
                                }
                            }
                            svg{
                                fill: var(--color-white);
                            }
                        }
                    }

                    

                }

                .part-content{
                    padding: 1rem 12px 1rem 1rem;
                    grid-row: 1 / -1;
                    height: 100%;
                    display: grid;
                    grid-template-rows: min-content 1fr min-content min-content;
                    .text-l{
                        text-transform: uppercase;
                        margin-bottom: 4px;
                        font-size: clamp(12px, 3vw, 2rem);
                    }
                    p.body{
                        font-size: clamp(10px, 3vw, 1rem);
                        grid-row: 2;
                        color: var(--color-card-txt);
                        @media (min-width: 1200px){
                            grid-row: 4;
                        }
                    }
                    p.show-time, p.show-deejay{
                        font-size: clamp(10px, 3vw, 1rem);
                    }
                    p.show-time{
                        @media (min-width: 1200px){
                            grid-row: 2;
                        }
                    }
                    p.show-deejay{
                        @media (min-width: 1200px){
                            grid-row: 3;
                        }
                    }
                    svg{
                        height: clamp(10px, 3vw, 1rem);
                        width: clamp(10px, 3vw, 1rem);
                    }
                    @media (min-width: 1200px){
                        grid-template-rows: min-content min-content min-content 1fr;
                        padding: 0;
                        gap: 8px;
                    }
                }
                &.short-show{
                    .part-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        p.show-deejay{
                            display: none;
                        }
                    }
                }
                @media (min-width: 1200px){
                    padding: 25px;
                    align-items: start;
                    gap: 24px;
                }
            }
            @media (min-width: 1200px){
                grid-row: 3 / 3;
                flex-direction: row;
                width: var(--one-day);
                padding-bottom: 50px;
                height: auto;
                .card-show{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
        @media (min-width: 1200px){
            grid-template-rows: auto auto 1fr;
            padding: 0 2rem;
            grid-template-columns: 1fr;
            overflow-x: auto;
            gap: 24px;
        }
    }