/* basis styling */
body{
    --background: #272932;
    --text: #fcffff;
    --headTitles: #947EB0;
    --subTitles: #519879;
    --accent: #B05603;

    background: var(--background);
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    max-width: 50rem;
    margin: 0 auto;
}

h1{
    font-family: halton, sans-serif;
    font-size: 2rem;
    color: var(--headTitles);
    text-align: center;
}

h2{
    font-family: halton, sans-serif;
    font-size: 1.5rem;
    color: var(--subTitles);
    text-align: center;
}

p{
    font-family: halton-italic, sans-serif;
    font-size: 1em;
    color: var(--text);
    text-align: center;
}

/* Stijling van nav en menuknop */
.menu-button {
    padding: .6em 1.2em;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: var(--TextColor);
    background: var(--PrimaryColor);
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1.375em;
    transition-duration: .5s;
  }

  .menu-button:focus-visible {
    outline: 4px solid var(--Accentcolor);
    padding: .5em;
  }

  .crossnav {
    width: 500px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: .2s;
    padding: 1.55em;
    z-index: 1;
    background-color: var(--PrimaryColor);
}

.crossnav li {
    list-style: none;
    padding: 0.5em 1.5rem 1.5em 0; 
    width: 100%;
    margin: .8rem;
}

.crossnav li a{
    text-decoration: none;
    color: var(--TextColor);
    background-color: var(--BGcolor);
    border: 2px solid var(--a);
    border-radius: 1.5em;
    padding: 1.85em;
    width: 100%;
    text-transform: capitalize;
    display: block;
    text-align: center;
}

.crossnav li a:hover{
    background-color: var(--Secondarycolor);
    color: var(--TextColor);
    font-size: 1em;
    text-align: center;
}

.crossnav li a:active {
  background-color: var(--Accentcolor);
}

.crossnav li a:focus-visible {
  outline: 4px solid var(--Accentcolor);
  background-color: var(--BGcolor);
  padding: .5em;
}

.crossnav svg {
    float: left;
    cursor: pointer;   
    margin-bottom: 1.5em;
}

.show{
    transform: translateX(0%);
  }
  
.filter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.296);
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  /* Einde Stijling van nav en menuknop */

  /* mobiele weergave */
  @media screen and (max-width: 480px) {
    /* mobiel menu werkt naar behoren met knop*/
.menu-button {
    padding: .6em 1.2em;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: var(--TextColor);
    background: var(--PrimaryColor);
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1.375em;
    transition-duration: .5s;
    position: fixed;
    }

.menu-button:focus-visible {
    outline: 4px solid var(--Accentcolor);
    padding: .5em;
}
    
.crossnav {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: .2s;
    padding: 1.5em;
    z-index: 1;
    background-color: var(--PrimaryColor);
  }
  
.crossnav li {
    list-style: none;
    padding: 0.5em 0 1.5em 0; 
  }
  
.crossnav li a{
    text-decoration: none;
    color: var(--TextColor);
  }
  
.crossnav li a:hover {
    background-color: var(--Secondarycolor);
    padding: 0.5em;
    color: var(--green);
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
  }
}
   /* Einde media query*/