

/* ================================================ */
/* DASHBOARD PAGINA */
/* ================================================ */
.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "menu search"
    "menu content";

  & .introductie {
    text-align: center;
    margin: 1em;
    margin-top: 2em;

    & h3 {
      color: var(--primarypurple);
    }
  }

  .menu-wrap {
    grid-area: menu;
    padding-bottom: 3em;
    height: 100%;
    overflow: auto;
    border-right: 1px solid black;
    background-color: #ad97c9;

    & .user {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0 3em;

      & .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & figcaption {
          margin: 0;
          padding: 0 0 0 1em;
          color: var(--white);
          font-weight: 700;
          font-size: 0.875em;
          line-height: 100%;
        }
      }
    }
  }

  /* ================================================ */
  /* DASHBOARD LINKERKANT */
  /* ================================================ */

  nav {
    display: block;
    padding: 0 1.2em;
    margin: 0;

    & section {
      display: block;
      padding: 3em 0 0;
    }

    & .toolbox {
      background-color: #272932;
      border-radius: 4px;
      width: 250px;
      text-wrap: nowrap;
      padding: 8px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: all 0.5s ease;
    }

    .toolbox:hover {
      background-color: #545454;
      border-radius: 8px;

    }

    ul {
      display: block;
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      padding: 0;
      margin: 1em 0 0;

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875em;
        transition: color 0.15s ease;

        & a.hover svg {
          display: block;
          margin-right: 1em;

          path,
          circle {
            fill: lighten(white, 10%);
            transition: fill 0.15s ease;
          }
        }
      }
    }
  }
}

  /* ================================================ */
  /* DASHBOARD MIDDEN */
  /* ================================================ */
.content-wrap {
  grid-area: content;
  padding: 1em;
  overflow: auto;
  & hr {
    background-color: var(--primarypurple);
    border: none;
    height: 2px;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 0.5em;
}

.hand-print {
  height: 30em;
  width: 100%;
  background-color: #519879;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot-print {
  height: 30em;
  width: 100%;
  background-color: #fb8b24;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.handprint-inside {
  background-color: #519879;
  border-radius: 10px;
}

.footprint-inside {
  background-color: #fb8b24;
  border-radius: 10px;
}
  /* ================================================ */
  /* STAKEHOLDER PAGINA */
  /* ================================================ */

select {
  padding: 1em;
  border-radius: 20px;
}

input {
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: var(--primarypurple);
  cursor: pointer;
  transition: all 0.5s;
}

input:hover {
  background-color: #7e49c3;
  transform: scale(1.05);
}

.sdgarticle {
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.flex {
  display: flex;
  justify-content: center;
}

.company {
  padding: 1em;
  background-color: var(--primarypurple);
  margin-right: 1em;
  border-radius: 20px;
  width: 15em;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  width: 50%;
  margin: 1em;
  display: inline-flex;
  background: var(--background-color);
  align-items: center;
  border-radius: 5px;
}

.wrapper .option {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #b2a0c8;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #9c7cc7;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

.option {
  display: inline-block;
  cursor: pointer;
}

.option span {
  font-size: 20px;
  color: #808080;
}

.option-1,
.option-2,
.option-3,
.option-4,
.option-5 {
  background: white;
}

input[type="radio"]:checked + label {
  background-color: var(--background-color);
  color: white;
}

label {
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-left: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.field {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  width: 100%;
}

textarea {
  border-radius: 5px;
  background-color: lightgrey;
  resize: none;
}

button {
  width: 50%;
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: var(--primarypurple);
  cursor: pointer;
}

.succesvol {
  color: lightgreen;
}

.introductie {
  text-align: center;
  margin: 1em;
  margin-top: 2em;

}