
/* Algemene stijling */
/* img {
  width: 250px;
  height: 250px;
  margin: 3em;
  transition: box-shadow 0.1s;
} */

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
} */

/* Nav stijling. Menu button zit in head.ejs */
.menu-button {
  padding: .6em 1.2em;
	border: 1px solid transparent;
	border-radius: .5rem;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: var(--TextColor);
	background: var(--PrimaryColor);
	cursor: pointer;
}

.menu-button:focus-visible {
  outline: 4px solid var(--Accentcolor);
  padding: .5em;
}

/* Show en filter worden in client-side scripting */
.show{
  transform: translateX(0%);
}

.filter{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
/* Dit is het einde van de nav stijling

/* Dit is de stijling van de inputvelden voor login */
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Accentcolor);
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    width: 100%;
    padding: 0.5em;
    font-family: halton, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid var(--Accentcolor);
    background-color: var(--BGcolor);
    color: var(--TextColor);
  }
  
  input[type='submit']:hover {
    background-color: var(--Secondarycolor);
    color: var(--TextColor);
    cursor: pointer;
  }

  input:focus-visible {
    outline: 4px solid var(--Secondarycolor);
    padding: .5em;
  }

 select {
    width: 50%;
    padding: .5em;
    border: 2px solid var(--Accentcolor);
    background-color: var(--PrimaryColor);
    color: var(--TextColor);
    font-size: 1em;
  }

  select:focus-visible {
    outline: 4px solid var(--Secondarycolor);
    padding: .5em;
  }