:root {
    /* variabelen voor stijling */
    --BGcolor:#272932;
    --PrimaryColor:#947eb0;
    --Secondarycolor:#519879;
    --TextColor:#ecf8f8;
    --Accentcolor:#fb8b24;
}


/* Algemene stijling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--BGcolor);
    color: var(--TextColor);
    font-family: halton, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--TextColor);
}

h2 {
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 1.5em;
}

p {
  font-family: halton-italic, sans-serif;
  font-size: 1em;
}

img {
  width: 250px;
  height: 250px;
  margin: 3em;
  transition: box-shadow 0.1s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

section  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 3.5em;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* einde algemene stijling */

/* Nav stijling. Menu button zit in head.ejs */
.menu-button {
  padding: .6em 1.2em;
	border: 1px solid transparent;
	border-radius: .5rem;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: var(--TextColor);
	background: var(--PrimaryColor);
	cursor: pointer;
  text-transform: uppercase;
  border-radius: 1.375em;
  transition-duration: .5s;
}

.line {
  width: 1.9em;
  height: 1.15em;
  background-color: var(--TextColor);
  transition-duration: .5s;
  position: absolute;
}

.menu-button:focus-visible {
  outline: 4px solid var(--Accentcolor);
  padding: .5em;
}

nav {
    width: 300px;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
		transition: .2s;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    z-index: 1;
    background-color: var(--PrimaryColor);
}

nav li {
    list-style: none;
    padding: 0.5em 0 1.5em 0; 
    width: 100%;
}

nav li a{
    text-decoration: none;
    color: var(--TextColor);
    padding: .8em;
    width: 100%;
}

nav li a:hover{
    background-color: var(--Secondarycolor);
    color: var(--TextColor);
    font-size: 1em;
    text-align: left;
}

nav li a:active {
  background-color: var(--Accentcolor);
}

nav li a:focus-visible {
  outline: 4px solid var(--Accentcolor);
  background-color: var(--BGcolor);
  padding: .5em;
}

nav svg{
    float: left;
    cursor: pointer;   
    margin-bottom: 1.5em;
}

/* Show en filter worden in client-side scripting */
.show{
  transform: translateX(0%);
}

.filter{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
  height: 100%;
  width: 100%;
  pointer-events: none;
}
/* Dit is het einde van de nav stijling

/* Dit is de stijling van de inputvelden voor login */
form {
  border: 3px solid var(--Accentcolor);
  padding: 1.575em;
  border-radius: 1.375em;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Accentcolor);
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    width: 100%;
    padding: 0.5em;
    font-family: halton, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid var(--Accentcolor);
    background-color: var(--BGcolor);
    color: var(--TextColor);
  }
  
  input[type='submit']:hover {
    background-color: var(--Secondarycolor);
    color: var(--TextColor);
    cursor: pointer;
  }

  input:focus-visible {
    outline: 4px solid var(--Secondarycolor);
    padding: .5em;
  }

 select {
    width: 50%;
    padding: .5em;
    border: 2px solid var(--Accentcolor);
    background-color: var(--PrimaryColor);
    color: var(--TextColor);
    font-size: 1em;
  }

  select:focus-visible {
    outline: 4px solid var(--Secondarycolor);
    padding: .5em;
  }
  /* Einde stijling inputvelden */

  /* mobiele weergave */
  @media screen and (max-width: 480px) {
    /* mobiel menu werkt naar behoren met knop*/
    nav {
      width: 100%;
      height: auto;
      position: fixed;
      display: flex;
      flex-direction: column;
      padding: 1.5em;
      z-index: 1;
      background-color: var(--PrimaryColor);
  }
  
  nav li {
      list-style: none;
      padding: 0.5em 0 1.5em 0; 
  }
  
  nav li a{
      text-decoration: none;
      color: var(--TextColor);
  }
  
  nav li a:hover{
      background-color: var(--Secondarycolor);
      padding: 0.5em;
      color: var(--green);
      font-size: 1.2em;
      font-weight: bold;
      width: 100%;
  }
  
  nav:focus {
    outline: 4px solid var(--Secondarycolor);
  }

 
  body {
    background-color: var(--BGcolor);
    color: var(--TextColor);
    font-family: halton, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--TextColor);
}

h2 {
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 1.5em;
}

p {
  font-family: halton-italic, sans-serif;
  font-size: 1em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

section  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 3.5em;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--Accentcolor);
  border-radius: 3px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  padding: 0.5em;
  font-family: halton, sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid var(--Accentcolor);
  background-color: var(--BGcolor);
  color: var(--TextColor);
}

input[type='submit']:hover {
  background-color: var(--Secondarycolor);
  color: var(--TextColor);
  cursor: pointer; 
  }
}
/* Einde mobiele weergave */