/* navigatie */
nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

/* amsterdam west.. */
.navtitel {
    font-size: 20px;
    font-weight: bold;
    color: var(--primair); /* Gebruik groen als titelkleur */
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

nav ul li {
    margin-bottom: 10px; 
}

a {
    color: var(--tekst); /* Gebruik zwarte tekstkleur */
    transition: color 0.3s ease; /* Voeg een soepele overgang toe */
}

a:hover {
    color: #2E7D32; /* Donkerder groene hover-kleur voor beter contrast */
}

/* mediaquery https://polypane.app/blog/responsive-design-ground-rules/ */

@media only screen and (min-width: 30em) {
    nav {
        flex-direction: row; 
        justify-content: space-between;
        padding: 10px 20px; 
    }

    nav ul {
        flex-direction: row; 
        align-items: center;
    }

    nav ul li {
        margin-right: 20px;
    }
}
