:root {
  --header-font: rigid-square;
  --main-font: yrsa;
  --button-color: #31439c;
  --method-detail-color: #feb51e;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3.157rem;
  font-weight: 800;
}

h2 {
  font-size: 2.369rem;
  font-weight: 800;
}

h3 {
  font-size: 1.777rem;
  font-weight: 800;
}

h4 {
  font-size: 1.333rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 30px;
}

/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--header-font);
}

.header-links,
.header-rechts {
  display: flex;
  align-items: center;
}

.header-links a,
.header-links h1 {
  padding: 1rem 0rem 1rem 3rem;
}

.header-rechts a {
  padding: 1rem 3rem 1rem 0rem;
}

/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 0rem;
}

section {
  height: 22rem;
  width: 22rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

/* section:hover {
  border-bottom: 1rem;
  border-color: #feb51e;
} */

.method-title {
  inline-size: 25rem;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
  font-family: var(--header-font);
  font-size: 1.777rem;
  font-weight: 800;
  line-height: normal;
}

p {
  max-width: 20rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.link-detail-page {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.image-template {
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 auto;
}

.categories-hidden {
  z-index: 999;
  display: none;
}

.categories-shown {
  z-index: 999;
  display: block;
  animation-name: span-slide;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background: #feb51e;
  pointer-events: none;
  position: absolute;
}

@keyframes span-slide {
  0% {
    opacity: 0%;
  }
  100% {
    margin-top: -5rem;
    opacity: 100%;
  }
}

/* Method---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Method---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Method---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.header-method-title {
  width: 30rem;
}

.nav-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.nav-button-home,
.nav-link-home {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  font-family: var(--header-font);
  border: none;
}

.nav-link-home {
  padding-left: 6.2rem;
}

.svg-back {
  scale: 0.75;
}

.nav-right {
  margin-right: 3rem;
}

.nav-button {
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  font-family: var(--header-font);
  color: var(--button-color);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.main-method-content {
  width: 100%;
}

.div-method-content, .div-method-steps{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4rem;
}

.article-details {
  /* border: 1px black solid; */
  min-width: 40%;
  max-width: 40%;
  padding: 2rem;
}

.detail-lines {
  display: flex;
  flex-direction: column;
}

.detail-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon {
  max-width: 2rem;
  margin-right: 1rem;
}

.p-method-duration,
.p-method-material,
.p-method-author,
.p-method-category {
  font-family: var(--header-font);
  margin-right: 1rem;
}

.article-template {
  max-width: 20rem;
  max-height: 20rem;
}

.image-template-detail-page {
  max-width: 20rem;
  max-height: 20rem;
}

.p-method-description {
  font-family: var(--main-font);
}

.article-steps {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.article-examples {
  display: flex;
  flex-direction: column;
}

.image-example {
  max-width: 20rem;
  max-height: 20rem;
}

.source-link {
  max-width: 35%;
  word-break: break-all;
}

.header-description,
.header-sources {
  font-family: var(--header-font);
  font-size: 1.333rem;
  font-weight: 700;
}

a {
  text-decoration: underline;
}
/* Feedback---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Feedback---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Feedback---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.article-feedback {
  margin-left: 6rem;
}

.message {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.message-author {
  background-color: var(--method-detail-color);
}

li {
  list-style-type: none;
}

.message-text {
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

label {
  font-weight: bold;
  font-family: var(--header-font);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  min-height: 1rem;
  padding: 1em;
  margin-left: 6rem;
}

textarea {
  font-family: var(--main-font);
  font-size: 1rem;
  background-color: #e8e8e8;
}

input {
  position: relative;
  height: 2rem;
}

.submit-button {
  background-color: var(--button-color);
  text-align: center;
  color: white;
}

.feedback {
  resize: both;
}

/* Media-queries---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media-queries---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media-queries---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1330px) {
  .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .nav-method {
    margin-left: 2rem;
  }

  .article-feedback {
    margin-left: 2rem;
  }

  fieldset {
    margin-left: 2rem;
  }
}
