* {
  box-sizing: border-box;
}

:root {
  --primary: #4E7141;
  --secondary: #F26F21;
  --tertiary: #F6F7F9;
  --p-color: #6A6A6A;
  --background-color: #F6F7F9;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  line-height: 1.4;
  font-weight: 100;
  color: var(--p-color);
}

h1 {
  font-family: 'Murecho', sans-serif;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h2 {
  font-family: 'Murecho', sans-serif;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h3 {
  font-family: 'Murecho', sans-serif;
  color: var(--primary);
  font-size: 1.9rem;
  line-height: 1.9rem;
}

h4 {
  font-family: 'Murecho', sans-serif;
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.2rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

   /* ------------------ NAV BAR ---------------  */
.home-icon img{
  width: 1.5em;
  margin-left: 1.5em;
}

.logo-navbar img {
  width: 9em;
  margin-top: 1em;
}

.chat-icon img {
  width: 1.5em;
  margin-right: 1.5em;
}

.flex-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo-navbar svg {
  width: 7em;
}


   /* ------------------ WELKOM PAGINA (JOELLE) ---------------  */

/* INTRO WELKOM PAGE */
.intro-welcome-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-welcome-page p{
  text-align: center;
  width: 300px;
}

/* BUTTON WELCOME PAGE */
.button-welcome-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-welcome-page button {
  margin-top: 2rem;
  background-color: var(--secondary);
  color: white;
  font-family: 'Murecho', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: solid 2px #F26F21;
  border-radius: 25px;
  cursor: pointer;
}

/* WEERGEVEN ACTIEVE SPELERS */
.active-players{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.active-players h1 {
  font-size: 1rem;
}

   /* --------------- LOADING STATE PAGINA (JOELLE) -----------  */
.header-loading-page h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.header-loading-page ul {
  font-size: 2rem;
  color: #4E7141;
}

#countdown{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.sticker-growing-plant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker-growing-plant iframe {
  margin-top: 3rem;
  width: 250px;
  height: 250px;
}


   /* ----------------- IDEAL STATE PAGINA (ROSA) -------------  */
.quiz-container{
  padding: 3rem;
}

.quiz-header ul {
  margin: 0;
  padding: 0;
}

.quiz-header ul li {
  list-style-type: none;
  margin-top: 1rem;
  max-width: 20rem;
  background-color: var(--background-color);
  color: var(--primary);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 25px;
  border: 2px solid var(--primary);
}

.quiz-header ul li:hover{
  background-color: var(--primary);
  color: white;
  transition: 0.4s;
}

.quiz-container button{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: var(--secondary);
  color: white;
  font-family: 'Murecho', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: solid 2px #F26F21;
  border-radius: 25px;
  cursor: pointer;
}

.quiz-container button:hover{
  background-color: white;
  color: var(--secondary);
  border: solid 2px #F26F21;
  transition: 0.3s;
}

   /* ---------------- PARTIAL STATE PAGINA (DEMI) ------------  */

   /* ----------- IDEAL STATE CHATROOM PAGINA (ROSA) ----------  */

  
   .chatroom-contain {
    position: relative;
    width: 25rem;
    height: 40rem;
    border-radius: 15px;
    box-shadow: 0.8rem 0.8rem 1.6rem 0 rgba(206, 205, 205, 0.5),
      -0.8rem -0.8rem 1.6rem 0 rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
    
  
    
    
  .chatroom-contain ul {
    margin: 0;
    padding: 0.2rem;
    list-style-type: none;
    flex-grow: 2;
    width: 18em;
    overflow-y: scroll;
  }
    
    ::-webkit-scrollbar {
      background: transparent;
    }
    
    .chatroom-contain ul > li {
      padding: 0.5rem 1rem;
      font-size: 2rem;
      background-color: var(--primary);
      border-radius: 25px;
      margin: 1rem 0 1rem 0;
      color: var(--tertiary);
      width: 50%;
      align-items: flex-start;
    }
    
    .chatroom-contain form {
      background-color: rgba(209, 205, 199, 0.5);
      width: 25rem;
      height: 5rem;
      border-radius: 0px 0px 15px 15px;
      display: flex;
      justify-content: center;
    }
    .chatroom-contain form input[type='text'] {
      margin: 0;
      padding: 0 1rem;
      border: none;
      height: 5rem;
      flex-grow: 2;
      background: var(--primary);
      box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
     position: relative;
     width: 100%;
      opacity: 80%;
      font-size: 2rem;
   
    }
    
    .chatroom-contain form > button {
      padding: 0 0.6rem 0 0.4rem;
      width: 2rem;
      background: var(--secondary);
      box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border: 0;
      opacity: 80%;
      outline: none;
      transition: 0.2s;
    }
    
    .chatroom.contain form > button span {
      display: none;
    }
    
   .chatroom-contain form > button::after {
      content: '>';
    }
    
    .chatroom-contain form > button:hover {
      padding-left: 1rem;
    }
    
    .chatroom-contain form > button:active {
      padding-left: 1rem;
      color: green;
    }

  .eigen-bericht{
    background-color: var(--secondary);
    width: 50%;
    text-align: right;
    align-self: flex-end;
  }

   /* ------------------ ERROR PAGINA (DEMI) ------------------  */

.error-message{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: .5rem;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.error-message > h2{
  text-align: center;
  margin-top: 5rem;
}

.error-message > img{
  width: 10rem;
  height: 10rem;
  margin: 8rem 0 8rem 8rem;
}

.error-message button{
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  color: white;
  font-family: 'Murecho', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: solid 2px #F26F21;
  border-radius: 25px;
  cursor: pointer;
}

.error-message button:hover{
  background-color: white;
  color: var(--secondary);
  border: solid 2px #F26F21;
  transition: 0.3s;
}

.error-message a{
  text-decoration: none;
  color: var(--p-color);
}