* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* HEADER (Maarten) */
.page-header {
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;

  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  picture,
  img {
    display: block;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;

    @media (min-width: 600px) {
      align-self: flex-start;
    }

    .wishlist,
    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 51px;
      height: 51px;
      border: 1px solid #c9c9c9;
      border-radius: 50%;
      box-shadow: 0px 2px 8px 0px rgba(0 0 0 / 15%);
      color: #212121;
      text-decoration: none;
    }

    .wishlist {
      @media (min-width: 900px) {
        width: fit-content;
        padding: 0 1.25rem;
        border-radius: 9rem;
        gap: 1rem;
      }
    }

    .account-span {
      display: none;
      font-size: 1.375rem;
    }
    .wishlist-span {
      display: none;
      font-size: 1.375rem;

      @media (min-width: 900px) {
        display: inline;
      }
    }
  }
}

/* wishlist styling (sven) */

.grid_likedproducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

 .opgeslagen-product { 
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  padding: 20px;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontaal centreren */
  text-align: center;    /* tekst centreren */
  gap: 15px;             /* ruimte tussen elementen */

  .lijst-button {
    background-color: #20a687;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }

  img {
    width: 270px;
    height: 290px;
    border-radius: 20px;
    object-fit: cover;
  }
}

  .opgeslagen-product:nth-child(1n) {
    height: 500px;
  }


}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 10rem;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .circle {
    display: none;

    width: 80px;
    height: 80px;

    border: 2px solid #997700;
    border-radius: 50%;

    place-items: center;
    cursor: pointer;

    transition:
      width 0.3s ease,
      height 0.3s ease;

    img {
      width: 58px;
      height: 58px;
      object-fit: contain;
    }
  }

  .next {
    display: none;
    padding: 0.4rem 0.8rem;
    background: #997700;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }


  #step1:checked~.circle[for="step1"],
  #step1:checked~.circle[for="step2"],
  #step2:checked~.circle[for="step2"],
  #step2:checked~.circle[for="step3"],
  #step3:checked~.circle[for="step3"],
  #step3:checked~.circle[for="step4"],
  #step4:checked~.circle[for="step4"],
  #step4:checked~.circle[for="step5"],
  #step5:checked~.circle[for="step5"],
  #step5:checked~.circle[for="step6"],
  #step6:checked~.circle[for="step6"],
  #step6:checked~.circle[for="step7"],
  #step7:checked~.circle[for="step7"],
  #step7:checked~.circle[for="step8"],
  #step8:checked~.circle[for="step8"],
  #step8:checked~.circle[for="step1"] {
    display: grid;
  }


  #step1:checked~.circle[for="step1"],
  #step2:checked~.circle[for="step2"],
  #step3:checked~.circle[for="step3"],
  #step4:checked~.circle[for="step4"],
  #step5:checked~.circle[for="step5"],
  #step6:checked~.circle[for="step6"],
  #step7:checked~.circle[for="step7"],
  #step8:checked~.circle[for="step8"] {
    width: 110px;
    height: 110px;
    border-width: 4px;
  }


  #step1:checked~.next-1,
  #step2:checked~.next-2,
  #step3:checked~.next-3,
  #step4:checked~.next-4,
  #step5:checked~.next-5,
  #step6:checked~.next-6,
  #step7:checked~.next-7,
  #step8:checked~.next-8 {
    display: inline-flex;
  }

  @media (min-width: 768px) {
    .circle {
      display: grid;
    }

    .next {
      display: none !important;
    }
  }
}
/* FOOTER (Maarten) */
.news-letter {
  background-color: #466ebf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem clamp(1rem, 5vw, 5rem);

  @media (min-width: 950px) {
    flex-direction: row;
    gap: 10vw;
  }

  hgroup {
    color: white;
    width: 100%;

    h3,
    p {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  form {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 48px;
    padding: 0 0.5rem;

    input {
      font-size: clamp(0.833rem, 0.708rem + 0.625vw, 1rem);
      width: 100%;
      border: none;
      height: 40px;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;

      img {
        display: block;
      }
    }
  }
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 1rem 110px 1rem;
  background-color: #f9f2d4;

  .footer-heading {
    font-weight: 800;
  }

  .footer-logo {
    height: fit-content;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas:
      "col-1"
      "col-2"
      "col-3";
    margin-left: 1rem;

    .col-1 {
      grid-area: col-1;
    }

    .col-2 {
      grid-area: col-2;
    }

    .col-3 {
      grid-area: col-3;
    }

    .footer-heading {
      padding-top: 2rem;
      font-size: 18px;
    }

    .category-list {
      padding-top: 1rem;
      list-style: none;

      &.age {
        @media (min-width: 550px) {
          display: none;
        }

        @media (min-width: 800px) {
          display: block;
        }
      }

      li {
        margin-bottom: 0.5rem;
      }

      a {
        color: black;
        text-decoration: none;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .ontmoet-milledoni,
    .voor-wie,
    .cadeaus {
      padding: 0;
    }

    @media (min-width: 550px) {
      grid-template-columns: 250px 250px;
      grid-template-areas:
        "col-1 col-2"
        "col-1 col-3";
      margin-left: 5vw;
    }

    @media (min-width: 800px) {
      grid-template-columns: 250px 250px 250px;
      grid-template-areas: "col-1 col-2 col-3";
    }
  }

  .footer-ribbon {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}


.ribbon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #997700;
  height: 45px;
  margin-top: 1rem;

  img {

    width: 80px;
    height: 80px;
  }
}

.feedback-popup {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity .5s ease;

  margin-top: 1rem;

  p {
    background: #b08b00;
    color: white;

    padding: .5rem 1rem;
    border-radius: .3rem;
  }


}

.hidden {
  opacity: 0;
  pointer-events: none;
}