.title {
    border-bottom: solid 1px var(--color-default);
    margin-bottom: 5em;
    padding-bottom: 1em;
}

.title-acquisition {
    
    font-family: var(--font-default);
    font-size: var(--font-size-xxxl);
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em 0 1em 0;
    border-bottom: solid 1px var(--color-default);
    @supports (display: flex) {
        display: flex;
        justify-content: center;
    }
}


.paragraph-acquisition {
    font-family: var(--font-default);
    font-weight: 100;
    font-size: var(--font-size-m);
    line-height: var(--line-height-text);
    letter-spacing: var(--letter-spacing);
    padding: 2em;
    text-align: right;
    @supports (display: flex) {
        display: flex;
        justify-content: center;
    }
}

.paragraph-mandatory {
    color: var(--color-default);
    font-family: var(--font-default);
    font-size: var(--font-size-m);
    padding-bottom: .5em;
    padding-top: .5em;
}

.paragraph-upload {
    font-family: var(--font-default);
    font-size: var(--font-size-m);
    padding-bottom: .2em;
}

.form-section {
    @supports (display: flex) {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

}

h2 {
    font-family: var(--font-default);
    font-weight: 100 ;
    font-size: var(--font-size-xm);
    margin-top: 2em;
    margin-bottom: 1.2em;
    place-content: center;
    flex-direction: column;
}


form input[type="text"] {
    width: 20rem;
    @media (min-width: 680px) {
        width: 40rem; 
        padding: 10px; 
        font-size: var(--font-size-m); 
    }
    @supports (display: flex) {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em; 
    }
 
}

.text-history{
    color: var(--color-default);
    font-family: var(--font-default);
    font-size: var(--font-size-s);
}

.history {
    padding: 6em 0 6em 0;
}

.submit-button-en {
    display: flex;
    position: relative;
    border: 2px solid var(--color-default);
    font-family: var(--font-default);
    background-color: var(--color-accent-yellow);
    padding: 1em 1.5em 1em 1.5em;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    color: var(--color-default);
    font-weight: 550;
    margin-top: 3em;
        &:hover {
            background-color: var(--color-default);
            color: var(--color-accent);
            transition-timing-function: ease-in;
            transition: .5s;
        }
        @media (min-width: 680px) {
            padding: 1.3em 1.8em 1.3em 1.8em;

        }
}

.submit-button-ar {
    display: flex;
    left: 73%;
    position: relative;
    border: 2px solid var(--color-default);
    font-family: var(--font-default);
    background-color: var(--color-accent-yellow);
    padding: 1em 1.5em 1em 1.5em;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    color: var(--color-default);
    font-weight: 550;
    margin-top: 10%;
        &:hover {
            background-color: var(--color-default);
            color: var(--color-accent);
            transition-timing-function: ease-in;
            transition: .5s;
        }
        @media (min-width: 680px) {
            padding: 1.3em 1.8em 1.3em 1.8em;
            left: 85%;

        }
}


.file-input-ar {
    direction: rtl;
    float: right;
}

.return-homepage {
    position: relative;
    left: 45%;
    border: 2px solid var(--color-default);
    font-family: var(--font-default);
    background-color: var(--color-accent-yellow);
    padding: .8em 1.8em .8em 1.8em;
    text-transform: uppercase;
    font-size: var(--font-size-s);
    color: var(--color-default);
    font-weight: 550;
    margin-top: 2em;
    &:hover {
        background-color: var(--color-default);
        color: var(--color-accent);
        transition-timing-function: ease-in;
        transition: .5s;
    }
}

.loading {
    opacity: 0.6;
    pointer-events: none; /*voorkomen dat de gebruiker op de knop kan klikken terwijl het aan het laden is.*/
  }
  
  .loading::after {  /* .loading::after voegt een visueel element toe na de knop */
    content: "⏳"; 
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 1 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
  }