:root {
    font-size: 16px; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
}


/* Header stijlen */
.chat-header {
    background-color: #292929;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #e0e0e0;

h1 {
    font-size: 2em;
    margin: 0;
    color: #ffffff;
}

p {
    font-size: 1rem;
    margin: 0.5rem 0 0;
    max-width: 30rem;
    text-align: center;
    color: white;



b {
    color: white;
        }
    }
}

.chat-main {
    position: relative;
    overflow: auto;
}

.chat-main::after {
    content: "";
    position: fixed;           
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19em;             
    pointer-events: none;      
    background: linear-gradient(
    to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0) 100%
    );
    z-index: 1;                
}


/* de gradient als fixed element */
.blauwe-gradient-img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;              
    height: auto;
    max-width: none;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;     
}

/* message cards donker of doorzichtig */
.chat-header,
.chat-intro,
.chat-message,
.overlay,
.floating-button {
    /* position: relative; */
    z-index: 1;
}

/* Berichtenlijst */
.chat-intro {
    margin-bottom: 2rem;

h2 {
    font-size: 1.5rem;
    color: #f1f1f1;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.5em;
    }
}


.chat-message {
    background-color: #1d1d1d;
    border-radius: 2em;
    padding: 5.5rem 2em;
    margin: 1.5rem auto;
    max-width: 800px;
    width: 22em;

h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
    color: #f8f8f8;
    font-weight: 600;
    margin-top: -2em;
}

.message-date {
    display: block;
    font-size: 0.8rem;
    color: #667;
    margin-bottom: 1rem;
    font-style: italic;
}

p {
    margin: 0;
    color: #f0f0f0;
    line-height: 1.6;
}

form {
    margin-top: 1rem;


button[type="submit"] {
    background-color: #e0e0e0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #333;
        }
    }
}


/* Plaats bericht button */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #87CEEB;
    color: white;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    cursor: pointer;
    z-index: 100;
    transition: all 0.2s ease;
    left: 50%;
    transform: translate(-50%);
    height: 3em;

}

/* Overlay stijlen */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 99;



.overlay-content {
    background-color: rgb(37, 37, 37);
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.overlay-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;


input, textarea {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #333;  
    background-color: #333;   
    color: white;             
    font-size: 1rem;
}

button {
    padding: 1rem;
    background-color: #ADD8E6;  
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    }
}

#closeFormButton {
    background-color: #333;  
    border: 1px solid #ADD8E6;  
    color: white;
    margin-top: 10px;
}

#overlay h2 {
    color: white;
}


label {
    color: white;
}
}

/* ui-states */

.deleteBtn.loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}





