/* /* MARK: Hero img */
.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    max-width: 100vw;
    position: relative;
}

.back-button {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    max-width: fit-content;
    padding: 16px 22px 12px 14px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.object-id {
    width:200px ;
    /* height: 45vw; */
    object-fit: cover; 

    @media(min-width:450px) {
        width:300px ;
        height: 45vw;
    }

    @media(min-width: 800px) {
        width:550px;
    }
}

/* Info artwork */
.main-objectpagina {
    @media(min-width:800px) {
        display: grid;
        grid-template-rows: 0.5fr 0.3fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

}

.object-title {
    border-bottom:2px solid black ;
    padding-left: 10px;

    @media(min-width:800px) {
        grid-row: 1;
        grid-column: 1;
        border-right: 2px solid black;
    }
}

.info-tekst {
    border-bottom: 2px solid black;
    display: flex;
    padding-left: 10px;
    @media(min-width:800px) {
        grid-row: 2;
        grid-column: 1;
        border-right: 2px solid black;

    }
}

.info-object {
    border-bottom: 2px solid black;
    padding-left: 10px;

    @media(min-width:800px) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column: 2;
        padding: 1em;
    }
}

.object-summary {
    /* max-width: 70ch; */
    margin: 0;
    padding-left: 10px;

    @media(min-width:800px) {
        grid-row: 3;
        grid-column: 1;
        border-right: 2px solid black;

    }
}

.share-icons {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid black;
}

.icon-links {
    cursor: pointer;
}

.tekst-medium {
    font-family: var(--font-en-light);
    font-weight:lighter;
}

.tekst-bold {
    font-family: var(--font-en-bold);
    font-weight: bold;
}

.h1-title {
    font-family: var(--font-en-regular);
    font-weight: normal;
}


/* Suggesties */

h2 {
            padding-left: 10px;
}

.ul-suggesties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* margin-bottom: 2em; */
    list-style-type: none;

    @media(min-width:800px) {
       display: flex;

    }
     
}

li {
        border: .1px solid black; 
        /* padding-bottom: 2em; */
        padding-left: 10px;

}

.suggestie-img {
    width: 100%;
}
