
main {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

header {
    display: flex; 
    flex-direction: column; 
    background-color: var(--header-bg);
    border-bottom: var(--border);
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
    color: var(--white);
    position: relative; 

  }

  
  header ul.inline {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
    .menu-toggle {
      background-color: var(--blue);
      padding: 0.5em 1.2em;
      font-size: 1em;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-decoration: none;
      justify-self: center;
    }
    
    .menu {
      display: none; 
      position: absolute; 
      top: 15%; 
      background-color: var(--background-color);
      top: 100%; 
      left: 0;
      width: 100vw;
      background-color: var(--black);
      margin-top: 0;
      grid-template-rows: auto;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      z-index: 1000; 
  
  
    }
    
  
    .menu.open {
      display: grid;
      min-height: 10px; 
    }
    
    .menu ul {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(50px, 1fr);
      list-style: none;
      justify-items: center;
      align-items: center;
    }
    
  
    .menu li a {
      display: flex;
      flex-direction: column;
      padding: 0.5em 1em;
      border-radius: 6px;
      text-decoration: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color); 
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8%;
        background-color: var(--background-color);
        text-align: center;
        padding: 0.5em;
        z-index: 101;
      }
      
      footer ul {
        display: flex;
        place-items: center;
        justify-content: center; 
        gap: 4em; 
        border: 2em;
        list-style: none;
        align-items:center;
      } 
    
  
