main {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}
header {
    display: flex; 
    flex-direction: column; 
    background-color: var(--black);
    border-bottom: var(--border);
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
  }
  
  header ul.inline {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
    .menu-toggle {
      background-color: var(--blue);
      padding: 0.5em 1.2em;
      font-size: 1em;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-decoration: none;
      justify-self: center;
    }
    
    .menu {
      display: none; 
      position: absolute; 
      top: 15%; 
      background-color: var(--black);
      margin-top: 0;
      grid-template-rows: auto;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      z-index: 1000; 
  
  
    }
  
    .menu.open {
      display: grid;
    }
    
    .menu ul {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(50px, 1fr);
      list-style: none;
      justify-items: center;
      align-items: center;
    }
    
  
    .menu li a {
      display: flex;
      flex-direction: column;
      padding: 0.5em 1em;
      border-radius: 6px;
      text-decoration: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: var(--black); 
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  /*here the footer css*/
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8%;
        background-color: var(--black);
        text-align: center;
        padding: 0.5em;
        z-index: 101;
      }
      
      footer ul {
        display: flex;
        place-items: center;
        justify-content: center; 
        gap: 4em; 
        border: 2em;
        list-style: none;
        align-items:center;
      } 

      /*exercise page css*/
  .main-class {
    margin: 0;
    padding: 0;
   
  }
  

  

  .inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    a, h1{
      text-decoration: none;
    }
  }
  .exercise-card{
    display: grid;
    border-radius: 1rem;
    gap: 1rem;
    width: 100%;
    margin-bottom: 3em;
    padding: 1rem;
    ul{
      gap: 1em; 
      border: 2em;
      list-style: none;
      
    } 
  }
  .center-button {
    display: block; 
    min-width: 20px;         
    margin: 0 auto;         
    text-align: center;       
  }

  .custom-progress {
    width: calc(100% - 1rem); 
    height: 5px;
    margin: 0; 
    border: none;
  }
  
  .custom-progress::-webkit-progress-bar {
    background-color: var(--black);
    border-radius: 10px;
  }
  
  .custom-progress::-webkit-progress-value {
    background-color: var(--white);
  }
  
  /*Fierfox*/
  .custom-progress::-moz-progress-bar {
    background-color: var(--black);
  }



  .photo-cont {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .view-image {
    width: 100%;
    max-height: 50vh;       
    object-fit: cover;       
  }

  .close-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--black);
    z-index: 10;
    padding: 1em;
  }
  
  .task-img{
    min-height: 40vh;
    margin: auto;
  }

    .btn-standard {
    min-width: 5vh;
    padding: var(--start-button-padding);
    border-radius: var(--start-button-radius);
    text-decoration: none;
    z-index: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    
  }

