#muis{
    position: absolute;
    height: 16em;
    width: 16em;

    margin-top: -25em;
    left: 10em;
}

#bank{
    height: 10em;
    margin-bottom: -5em;
    margin-top: 5em;
}

#tapijt{
    position: relative;
    width: 20em;
}

#plant{
    margin-bottom: -5em;
    margin-top: 5em;
}

.boven{
    display: flex;
}

.midden{
    display: flex;
}

.onder {
    background-color: #d4af76;
    
}