#tapijt{
   height: 10em;
   width: auto;
}

#vloer{
    height: 20em;
    width: auto;
}

#bank{
    height: 10em;
    width: auto;
}

#muis{
    height: 10em;
    width: auto;
}

#plant{
    height: 10em;
    width: auto;
}