body {
    scroll-behavior: smooth;
  }

  .scroll-fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .scroll-fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .art-images {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 5rem;
    list-style: none;
    gap: 10px;
  }
  
  .image-container {
    top: 25vh;
    align-items: center;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 2rem;
    max-width: 100%;
    padding: 1rem;
  }
  
  .image-container:hover {
    transform: scale(0.97);
  }
  
  .image-styling {
    height: 350px;
    max-width: 100%; /* Voorkomt dat afbeelding buiten container gaat */
    width: 100%; /* Zorgt dat afbeelding zich aanpast aan containerbreedte */
    object-fit: contain;
  }
  

  @media (max-width: 768px) {

    .art-images {
        grid-template-columns: 1fr;
        place-items: center;
        }
  
    .image-styling {
      width: 500px;
      max-width: 100%;
    }
  }
  