*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  appearance: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

@font-face {
    font-family: Tiempos-Headline-Medium;
    src: url(../fonts/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: Tiempos-Text-Regular;
    src: url(../fonts/TiemposText-Regular.ttf);
}


:root{
	/* Global colors */
	--main-bg-color: #F7F7F5;
	--secondary-bg-color: #FFFFFF;
	--text-color: #000000;
	--accent-color: #E84340;
	--secondary-accent-color: #F2D930;
	--tertiary-accent-color: #5340E8;

	/* Global fonts */
	--medium-text: 'Tiempos-Headline-Medium', sans serif;
	--regular-text: 'Tiempos-Text-Regular', sans serif;
	--content-text: 'Inter', sans serif;
}

/* IMPORTANT: Needs to be fixed later */

body {

	/* a {
		color: inherit;
		text-decoration: inherit;
	  } */
	  
	button {
		background: none;
		color: inherit;
		border: none;
	}

}

/* .darkmode{} */

body::before {
	display: grid;
	place-content: center;
	position: fixed;
	inset: 0;
	background-color: #040404;
	opacity: 1;
	animation: fade-out 1.10s forwards;
	animation-delay: .75s;
	pointer-events: none;
	content: 'RedPers podium voor journalistiek';
	color: whitesmoke;
	font-family: 'Arial', sans-serif;
	font-size: 1.25em;
	z-index: 4;
  }



 /* Header styling if needed */ 
/* header{

 	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
} */

/* #region Mobile Styling */
/* header nav{
	grid-column: 1/-1;
}


/* #region Mobile Styling */
/* .mobile-menu {
	display: flex;
	justify-content: space-between;
	padding-block: 5%;
	padding-inline: 5%;
	border-bottom: solid 1px black;
}
	
.mobile-logo img {
		width: 60%;
		
}
	
picture {
		display: flex;
		justify-content: center;
	}  */
	
	/* mobile-menu-window */
/* 	section#mobile-menu-window {
		display: none;
		flex-direction: column;
		position: fixed;
		inset: 0 auto 0 0;
		background-color: #f4f4f4;
		width: 100%;
		z-index: 4;

		.menu-exit{
			position: absolute;
			left: 0;
			padding: 1.5em 0em 0em 1.5em;
		}
	}
}

	
#mobile-menu-window ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 20%;
	outline: solid rgb(32, 159, 209);
	font-size: 2em;
}
	
#mobile-menu-window ul li {
	margin: 0em 0em .25em 0em;
	font-weight: 600;
}
	
#mobile-menu-window ul li a:hover {
	color: #E84340;
	transition: .25s;
}

#mobile-menu-window.showMenu {
	display: flex;
	animation: blur-in .15s ease-in;
}
	



=======
} */

main{
	

}


/* footer */
footer{
/*  for the subgrid template  */
	grid-column: 1/-1;
	width: 100%;
	section{
		height: 5em;
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
		background-color: black;
		color: #fff;
		padding: 2em;
		font-family: var(--medium-text);
		/* margin-top: 2em; */
	}
}

/* media queries */

@media (min-width: 520px) {

	body {
	  
	  /* background-color: var(--P-orange); */
		/* grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 18px)
		[m-start]
		repeat(3, 18px)
		[mid]
		repeat(3, 18px)
		[m-end]
		repeat(3, 18px)
		[ct-end]
		minmax(0px, auto);
	  	column-gap: 30px;
	  	background-color: rgba(255, 255, 255, 0.962); */

  	}

	

	main{
		/* outline: solid rgb(255, 0, 111); */
	}
			
		
	}

  
@media (min-width: 768px) {
	body {
	  /* background-color: var(--B-white); */
	  /* background-color: var(--P-blue); */
	  /* grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 24px)
		[m-start]
		repeat(4, 24px)
		[mid]
		repeat(4, 24px)
		[m-end]
		repeat(3, 24px)
		[ct-end]
		minmax(0px, auto);
	  column-gap: 40px; */
	}

	header{
	
	}

	main{
		
	}
	footer {
		background-color: var(--main-bg-color);
		color: var(--text-color);
		border-top: #000000 solid 3px;
	  }
	
	}
  
  
@media (min-width: 1200px) {
	body {
	  /* background-color: var(--P-yellow); */
	  /* grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 60px)
		[m-start]
		repeat(3, 60px)
		[mid]
		repeat(3, 60px)
		[m-end]
		repeat(3, 60px)
		[ct-end]
		minmax(0px, auto); */
	}
  
	header {
		

	}



	/* footer {
	} */
  }
@media (min-width: 1560px) {
	body {
	  /* background-color: var(--P-blue90); */
	  /* grid-template-columns:
		minmax(0px, auto)
		[ct-start]
		repeat(3, 90px)
		[m-start]
		repeat(3, 90px)
		[mid]
		repeat(3, 90px)
		[m-end]
		repeat(3, 90px)
		[ct-end]
		minmax(0px, auto); */

		/* background-color: rgb(224, 222, 204); */
	}
  
	header {
	}

	main{
		/* background-color: var(--e-global-color-c6c7b91); */
	}

}

@media (prefers-color-scheme: dark) {
	body {
	  color: #FFFFFF;
	  background: #121212;
	}
}

/* #region Keyframe animations */ 

@keyframes blur-in {
	0%    { opacity: 0; }
	50%   { opacity: 0.5; }
	100%  { opacity: 1; }
} 

@keyframes fade-out {
	to {
	  /* transform: translateY(-75%); */
	  opacity: 0;
	}
  }


/* #endregion */ 