.news-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-32);
    padding: var(--spacing-48);
    border: var(--border);
    @media (min-width: 500px) { 
        flex-direction: row;     
    }
    & h4 {
        text-align: center;
    }
    & form {
        display: flex;
        gap: 3em;
        @media (min-width: 500px) { 
            margin-left: auto;
            margin-right: 2em;
        }
        & .input-container {
            position: relative;
        }
        & label {
            font-size: var(--size-sm);
            position: absolute;
            top: 0;
            left: 0;
            transition: .2s ease;
            pointer-events: none;
        }
        & input {
            all: unset;
            border: 0;
            outline: none;
            appearance: none;
            border-bottom: var(--border);
            padding-bottom: .25em;
        }
        & input:focus + label,
        input:not(:placeholder-shown) + label {
            transform: translateY(-25px);
            transition: transform .2s ease;
            color: var(--black);
        }
    }
}