header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary-color);
    height: 10vh;
    width: 100vw;

}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    width: 5em;
    height: 5em;
    border-radius: 20%;
    cursor: pointer;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    box-shadow: 3px 6px 10px dimgray;
}

.hamburger-menu:hover {
    scale: 1.2;
    transition: 0.1s ease-out;
}

.hamburger-image {
    width: 3em;
    height: 3em;
    fill: var(--primary-color);
}

.oba-logo {
    margin-right: 1em;
    margin-bottom: 0.5em;
}


body {
    overflow-x: hidden;
    background-color: #ff0000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: white;
    position: absolute;
    width: 100vw;
    top: 8%;
}


.content-wrapper-active {
    display: block;
}

.profile-picture {
    position: absolute;
    bottom: 100%; /* Plaats het element verticaal in het midden */
    top: 0.01%;
    /* Plaats het element horizontaal in het midden */
    transform: translate(-5%, -50%); /* Verschuif het element terug met 50% van zijn eigen breedte en hoogte */
    border-radius: 100%; /* Maak de afbeelding rond */
    box-shadow: 2px 8px 5px darkgrey;
}

h1::first-line {
    font-weight: bold;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.details-buttons {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

/*hidden details*/

.details-item-container {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto); /* Vaste hoogte van 200px voor alle rijen */
    grid-gap: 1em; /* Optioneel: voeg ruimte toe tussen de kolommen */
}

.details-close-buttons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1em 0;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

.for-you-details {
    display: none;
}

.for-you-details-active {
    display: block;

}

.favorites-details {
    display: none;
}

.favorites-details-active {
    display: block;
}

.borrowed-books-details {
    display: none;
}

.borrowed-books-details-active {
    display: block;
}

ul {
   list-style: none;
}

.carousel {
   display: flex;
   overflow-x: auto;
   scrollbar-width: auto;
   width: 100vw;
   scroll-snap-type: x mandatory;

}

.carousel-items {
   list-style: none;
   margin: 1em;
   scroll-snap-align: center;
}

.bookCarouselImg {
   border-radius: 2em;
   cursor: pointer;
   box-shadow: 6px 10px 5px darkgrey;
}

.bookCarouselImg:hover {
   scale: 1.1;
   transition: 0.1s ease-out;
   box-shadow: 3px 6px 10px darkgrey;

}


::-webkit-scrollbar {
   height: 0.9em;
   width: 0.3em;
   background: #B6B6B6;
   border-radius: 2em;
   box-shadow: 7px 10px 15px darkgrey;
}

::-webkit-scrollbar:hover {
   scale: 1.2;
}

::-webkit-scrollbar-thumb:horizontal {
   background: var(--primary-color);
   border-radius: 2em;
   width: 5em;
}

::-webkit-scrollbar-thumb {
   background: var(--primary-color);
   width: 2em;
   border-radius: 2em;
}

::-webkit-scrollbar-button:end {
   width: 0.5em;
}

::-webkit-scrollbar-button:start {
   width: 0.5em;
}

::-webkit-scrollbar-button {
   height: 1em;
}


/*ul {*/
/*    max-height: 600px;*/
/*    border: 1px solid #ddd;*/
/*    display: flex;*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden; !* verticale scroll uitzetten *!*/
/*    gap: 4em;*/
/*    margin: 2em;*/
/*    text-align: center;*/
/*}*/

/*li{*/
/*    min-width: 400px;*/
/*    height: 600px;*/
/*    line-height: 350px;*/
/*    text-align: center;*/
/*    background-color: #ddd;*/
/*    margin-right: 10px;*/

/*}*/