* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Accent colors */
    --accent-01: #bf410b;
    --accent-02: #FFE4D8;
    --accent-03: #005D66;
    --accent-04: #34356A;

    /* District colors */
    --nieuw-west: #4a5b18;
    --oost: #34356A;
    --zuidoost: #005D66;
    --algemeen: #F1F1F1;

    /* Neutral colors */
    --neutral-01: #FFFFFF;
    --neutral-02: #F1F1F1;
    --neutral-03: #1E1E1E;
    --neutral-04: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Accent colors */
        --accent-01: #F9C19D;
        --accent-02: #FFE4D8;
        --accent-03: #699DA2;
        --accent-04: #B3BCD0;

        /* District colors */
        --nieuw-west: #8EA34B;
        --oost: #B3BCD0;
        --zuidoost: #699DA2;
        --algemeen: #262626;

        /* Neutral colors */
        --neutral-01: #000000;
        --neutral-02: #1E1E1E;
        --neutral-03: #F1F1F1;
        --neutral-04: #FFFFFF;
    }
}