@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wdth,wght@8..144,62.5,300&display=swap');

:root{
    --bg-color:radial-gradient(at left bottom, hsl(248, 26%, 52%), hsl(248, 62%, 24%), hsl(249, 91%, 9%));
    --text-color:#f8f8f8;
    --accent-text-color:#242424;
    --accent:#067545;
    --heading: "roboto mono", Arial, Helvetica, sans-serif;
    --body-font: "roboto serif", Arial, Helvetica, sans-serif;
    --btn-radius:8px;
    --btn-padding:14px;
    --object-radius:12px;
    --shadow: 0 0 20px hsla(248, 62%, 24%, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(at left bottom, hsl(248, 26%, 52%), hsl(248, 62%, 24%), hsl(249, 91%, 9%));
    color: var(--text-color);
    font-family: var(--body-font);
}

main {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin: auto;
    /* width: 90vw; */
    height: 100vh;
}
/* ------------------------------------DETAILS _ ANNA_KYRA-------------------------------------------- */
.info-mobile {
    display: block;
}

.info-desk {
    display: none;
}



/* --------------------------------------------------LOGIN / REGISTER---------------------------------------------------------- */

.introduction-text {
    margin: auto;
    width: 100%;
    justify-content: center;
    padding: 3em 2em 0;

    h1 {
        margin-bottom: .25em;
        font-size: 1.6em;
        line-height: 1.2;
        font-family: var(--heading);
    }

    p {
        padding-top: .2em;
        font-size: 1.025em;
    }

    .sdgs-login {
        display: flex;
        flex-wrap: wrap;
    }

    details > summary {
        /* background-color: white; */
    
        color: var(--text-color);
        padding: .5em;
        /* border-radius: 5px; */
        border-top: 1px solid var(--text-color);
        margin: .2em 0;
        font-family: var(--heading);
        cursor: pointer;
        
    }
    
    details {
        display: flex;
        flex-direction: column;
        transition: .2s;
    }
}

.signup-form {
    margin: auto;
    width: 100%;
    background-color: var(--text-color);
    height: 100%;
    overflow-y: auto;

    legend {
        color: var(--accent-text-color);
        font-size: 1.25em;
        font-family: "roboto mono", Arial, Helvetica, sans-serif;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        /* border-radius: 12px; */
        background: var(--text-color);
        padding: 24px;
        max-width: 100%;

        
        legend, h1 {
            margin-bottom: 1em;
            font-weight: bold;
            text-align: left;
            color: hsl(248, 62%, 24%);
            font-family: var(--heading);
        }

        fieldset {
            border: none;
            color: var(--accent-text-color);
        }

        input, textarea {
            border-radius: 12px;
            padding: var(--object-radius);
            width: 100%;
        }

        small {
            color: var(--accent-text-color);
            text-align: center;

            a {
                color: var(--accent);
            }
        }

        details > summary {
            color: rgb(148, 148, 148);
        }

    }

    button {
        cursor: pointer;
        margin: 20px 0;
        border: 0;
        border-radius: var(--btn-radius);
        padding: var(--btn-padding);
        width: 100%;
        font-size: .9em;
    }

    span {
        font-weight: 200;
    }

    .btn-green {
        background-color: #38cc8c;
        color: var(--text-color);
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
    }

    input, textarea {
        margin-bottom: 20px;
        border: 2px solid hsl(246, 25%, 77%);
        font-size: .9em;
    }

    input[type="file"] {
        background-color: hsl(246, 25%, 77%);
    }

    #password:invalid {
        border: 2px solid red;
    }
}
/* --------------------------------------------------MOBILE---------------------------------------------------------- */
@media screen and (min-width:40em) {
    main {
        /* flex-direction: row;
        justify-content: space-between; */
        /* align-items: center; */
        /* padding: 0 30px; */
        /* width: 90vw; */
        height: 100vh;
        width: 100vw;
        display: grid;
        /* padding: 3em; */
    }

    .introduction-text {
        padding: 3em 3em 0;
    }

    .signup-form { 
        justify-content: center;
        height: 100%;
        padding: 3em;
        

        background-color: #e6e6e6;

        form {
            width: 30em;
            border-radius: 12px;
            box-shadow: var(--shadow);
        }
    }

}

/* --------------------------------------------------DESKTOP---------------------------------------------------------- */
@media screen and (min-width:60em) { 
    .info-mobile {
        display: none;
    }
    
    .info-desk {
        display: block;
    }


    main {
        /* flex-direction: row;
        justify-content: space-between; */
        /* align-items: center; */
        /* padding: 0 30px; */
        /* width: 90vw; */
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding: 3em; */
    }

    .introduction-text {
        margin: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        gap: 1em;
        flex-direction: column;
        padding: 3em 5em;

        h1 {
            /* margin-bottom: 1.25em; */
            font-size: 3.75em;
        }

        p {
            padding-top: .2em;
            max-width: 45ch;
            font-size: 1.5em;
        }

        .more-info {
            margin-bottom: 3em;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
    }

    .signup-form {
        width: 100%;
        display: flex;
        flex-direction: column;

        legend {
            font-size: 1.25em;
        }

        form {
            padding: 36px;
            max-width: 420px;

            @media (prefers-reduced-motion) { /* intro animatie werkt als reduce motion prefered */
                animation: entrance 1s forwards;
            }
        }
    }
}

@keyframes entrance {
    0% {
        transform: translateY(-500px);
        opacity: 0;
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}